Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

wip
  main.cpp.in
  tests/CMakeLists.txt
  tests/test_glog.cpp
Due: clang-format

wip
  main.cpp.in
  tests/test_glog.cpp
Due: clang-format

Redirect glog outputs (#91)
  main.cpp.in
  tests/CMakeLists.txt
  tests/test_glog.cpp
Due: clang-format

wip
  cmake/athena.cmake
  patches/19.calculate_fluxes.patch
  patches/21.new_blockdt.patch
  patches/23.meshblock.patch
  patches/25.constant_acc.patch
Due: cmake-format

Rename patch files (#92)
  cmake/athena.cmake
  patches/19.calculate_fluxes.patch
  patches/21.new_blockdt.patch
  patches/23.meshblock.patch
  patches/25.constant_acc.patch
Due: cmake-format

remove mpi fortran
  CMakeLists.txt
  cmake/application.cmake
  cmake/parameters.cmake
Due: cmake-format

Remove mpi fortran (#93)
  CMakeLists.txt
  cmake/application.cmake
  cmake/parameters.cmake
Due: cmake-format

wip
  cmake/robert.cmake
  patches/xx.mesh.patch
  src/impl.cpp
  src/snap/turbulence/turbulence_model.cpp
Due: clang-format, cmake-format

wip
  cmake/parameters.cmake
  configure.hpp.in
  doc/README-parallel-debug.md
  patches/xx.mesh.patch
  src/air_parcel.hpp
  src/impl.cpp
  src/snap/turbulence/add_turbulence_flux_divergence.cpp
  src/snap/turbulence/k_epsilon_turbulence.cpp
  src/snap/turbulence/turbulence_model.cpp
  src/snap/turbulence/turbulence_model.hpp
  src/snap/turbulence/turbulence_tasks.cpp
Due: clang-format, cmake-format

Fix turbulence step 1 (#94)
  cmake/parameters.cmake
  cmake/robert.cmake
  configure.hpp.in
  doc/README-parallel-debug.md
  src/air_parcel.hpp
  src/impl.cpp
  src/snap/turbulence/add_turbulence_flux_divergence.cpp
  src/snap/turbulence/k_epsilon_turbulence.cpp
  src/snap/turbulence/turbulence_model.cpp
  src/snap/turbulence/turbulence_model.hpp
  src/snap/turbulence/turbulence_tasks.cpp
Due: clang-format, cmake-format

wip
  src/air_parcel.hpp
Due: clang-format

Fix AirParcel data initialization (#95)
  src/air_parcel.hpp
Due: clang-format

Add pvfmm to build (#2)
  CMakeLists.txt
  README.md
  cmake/disort.cmake
  cmake/parameters.cmake
  cmake/pvfmm.cmake
  configure.hpp.in
  patches/pvfmm.01.sctl_stracktrace.patch
  tests/CMakeLists.txt
  tests/pvfmm_utils.hpp
  tests/test_nbody.cpp
Due: clang-format, cmake-format

Refractoring AirParcel (#4)
  configure.hpp.in
  doc/README-rvalue.md
  examples/2019-Li-snap/sedimentation.cpp
  examples/2024-Li-plume/plume_pgen.cpp
  src/air_parcel.cpp
  src/air_parcel.hpp
  src/harp/set_spectral_properties.cpp
  src/impl.cpp
  src/impl.hpp
  src/index_map.cpp
  src/index_map.hpp
  src/inversion/profile_inversion.cpp
  src/snap/decomposition/change_to_buoyancy.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/tasklist/implicit_hydro_tasks.cpp
  src/tasklist/inversion_tasks.cpp
  tests/CMakeLists.txt
  tests/test_air_parcel.cpp
  tests/test_impl.cpp
Due: clang-format

wip
  src/air_parcel.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  examples/2018-Li-harp/giants_re_pgen.cpp
  examples/2023-Li-saturn-vla/saturn_radio.cpp
  examples/2023-Li-uranus/uranus_mwr.cpp
  examples/2023-jupiter-mwr-eq/juno_mwr_pgen.cpp
  src/harp/set_spectral_properties.cpp
Due: clang-format

wip
  examples/2019-Li-snap/bryan_pgen.cpp
  src/air_parcel.cpp
  src/outputs/fits.cpp
  tests/test_moist_adiabat.cpp
Due: clang-format

wip
  src/impl.cpp
  src/impl.hpp
Due: clang-format

wip
  src/impl.cpp
  src/inversion/inversion.cpp
  src/inversion/inversion.hpp
  src/inversion/inversion_helper.cpp
  src/inversion/inversion_helper.hpp
  src/outputs/fits.cpp
Due: clang-format

wip
  src/impl.cpp
  src/snap/turbulence/turbulence_model.cpp
  src/snap/turbulence/turbulence_model.hpp
Due: clang-format

wip
  patches/19.calculate_fluxes.patch
  src/air_parcel.cpp
  src/impl.cpp
  src/impl.hpp
  src/nbody/particles.cpp
  src/nbody/particles.hpp
Due: clang-format

wip
  src/dirty.hpp
  src/impl.cpp
  src/impl.hpp
  src/inversion/inversion.cpp
  src/inversion/profile_inversion.cpp
  src/inversion/profile_inversion_prior.cpp
  src/snap/turbulence/k_epsilon_turbulence.cpp
  src/snap/turbulence/turbulence_model.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

wip
  src/index_map.hpp
  tests/test_impl.cpp
  tests/test_microphysics.cpp
  tests/test_microwave_opacity.cpp
  tests/test_radiation.cpp
Due: clang-format

Refactoring Impl (#97)
  examples/2018-Li-harp/giants_re_pgen.cpp
  examples/2023-Li-saturn-vla/saturn_radio.cpp
  examples/2023-Li-uranus/uranus_mwr.cpp
  examples/2023-jupiter-mwr-eq/juno_mwr_pgen.cpp
  patches/19.calculate_fluxes.patch
  src/air_parcel.cpp
  src/dirty.hpp
  src/harp/set_spectral_properties.cpp
  src/impl.cpp
  src/impl.hpp
  src/index_map.hpp
  src/inversion/inversion.cpp
  src/inversion/inversion.hpp
  src/inversion/inversion_helper.cpp
  src/inversion/inversion_helper.hpp
  src/inversion/profile_inversion.cpp
  src/inversion/profile_inversion_prior.cpp
  src/nbody/particles.cpp
  src/nbody/particles.hpp
  src/outputs/fits.cpp
  src/snap/turbulence/k_epsilon_turbulence.cpp
  src/snap/turbulence/turbulence_model.cpp
  src/snap/turbulence/turbulence_model.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/test_impl.cpp
  tests/test_microphysics.cpp
  tests/test_microwave_opacity.cpp
  tests/test_radiation.cpp
Due: clang-format

wip
  cmake/pybind11.cmake
  examples/2024-XZhang-cloud-rt/hywater.cpp
  examples/2024-XZhang-cloud-rt/hywater.inp
  examples/2024-XZhang-cloud-rt/set_spectral_properties.cpp
  src/microphysics/microphysical_scheme.hpp
  src/opacity/Giants/freedman_mean2.cpp
  src/opacity/Giants/freedman_simple2.cpp
  src/opacity/simple_cloud.cpp
  src/opacity/water_cloud.hpp
  tools/run_rfm.py
Due: clang-format, cmake-format

revise readme
  README.md
Due: none

wip
  examples/2024-XZhang-cloud-rt/hywater.cpp
  examples/2024-XZhang-cloud-rt/hywater.inp
  examples/2024-XZhang-cloud-rt/set_spectral_properties.cpp
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/freedman_mean2.cpp
  src/opacity/Giants/freedman_simple2.cpp
  src/opacity/simple_cloud.cpp
  src/opacity/water_cloud.hpp
Due: clang-format

wip
  src/opacity/simple_cloud.cpp
  src/opacity/water_cloud.hpp
Due: clang-format

wip
  CMakeLists.txt
  cmake/disort.cmake
  cmake/hydrogen_water.cmake
  cmake/pybind11.cmake
  python/CMakeLists.txt
  src/CMakeLists.txt
  src/harp/rt_solvers.hpp
Due: clang-format, cmake-format

wip
  src/opacity/Giants/freedman_mean2.cpp
  src/opacity/simple_cloud.cpp
Due: clang-format

n-body compiles (#3)
  src/impl.cpp
  src/impl.hpp
Due: clang-format

Refractoring AirParcel (#4)
  src/impl.cpp
  src/impl.hpp
Due: clang-format

Add tasks, refactoring, compiles (#5)
  README.md
  examples/2024-YZhang-nbody/CMakeLists.txt
  src/communicator/boundary_exchanger.hpp
  src/communicator/communicator.hpp
  src/impl.cpp
  src/impl.hpp
  src/integrator/integrators.cpp
  src/integrator/integrators.hpp
  src/inversion/inversion.cpp
  src/inversion/inversion.hpp
  src/inversion/profile_inversion.cpp
  src/mesh_destroy.cpp
  src/mesh_setup.cpp
  src/nbody/particle_boundry_exchanger.cpp
  src/nbody/particle_data.cpp
  src/nbody/particle_data.hpp
  src/nbody/particle_multistage_time_integrator.cpp
  src/nbody/particle_outputs.cpp
  src/nbody/particle_to_mesh.cpp
  src/nbody/particles.cpp
  src/nbody/particles.hpp
  src/nbody/z.to_do/aggregate_density.cpp
  src/outputs/load_user_output_data.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/virtual_groups.cpp
  src/virtual_groups.hpp
Due: clang-format

Merge nbody code (#99)
  README.md
  examples/2024-YZhang-nbody/CMakeLists.txt
  src/communicator/boundary_exchanger.hpp
  src/communicator/communicator.hpp
  src/impl.cpp
  src/impl.hpp
  src/integrator/integrators.cpp
  src/integrator/integrators.hpp
  src/inversion/inversion.cpp
  src/inversion/inversion.hpp
  src/inversion/profile_inversion.cpp
  src/mesh_destroy.cpp
  src/mesh_setup.cpp
  src/nbody/particle_boundry_exchanger.cpp
  src/nbody/particle_data.cpp
  src/nbody/particle_data.hpp
  src/nbody/particle_multistage_time_integrator.cpp
  src/nbody/particle_outputs.cpp
  src/nbody/particle_to_mesh.cpp
  src/nbody/particles.cpp
  src/nbody/particles.hpp
  src/nbody/z.to_do/aggregate_density.cpp
  src/outputs/load_user_output_data.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/virtual_groups.cpp
  src/virtual_groups.hpp
Due: clang-format

Revert "Merge nbody code (#99)"
  README.md
  examples/2024-YZhang-nbody/CMakeLists.txt
  src/communicator/boundary_exchanger.hpp
  src/communicator/communicator.hpp
  src/impl.cpp
  src/impl.hpp
  src/integrator/integrators.cpp
  src/integrator/integrators.hpp
  src/inversion/inversion.cpp
  src/inversion/inversion.hpp
  src/inversion/profile_inversion.cpp
  src/mesh_destroy.cpp
  src/mesh_setup.cpp
  src/nbody/particle_boundry_exchanger.cpp
  src/nbody/particle_data.cpp
  src/nbody/particle_data.hpp
  src/nbody/particle_multistage_time_integrator.cpp
  src/nbody/particle_outputs.cpp
  src/nbody/particle_to_mesh.cpp
  src/nbody/particles.cpp
  src/nbody/particles.hpp
  src/nbody/z.to_do/aggregate_density.cpp
  src/outputs/load_user_output_data.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/virtual_groups.cpp
  src/virtual_groups.hpp
Due: clang-format
