Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

debug_add_absorber_earth.cpp
  src/harp/add_absorber_earth.cpp
Due: clang-format

wip
  src/harp/radiation_band_exchanger.cpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_disort_flags.cpp
  src/harp/rt_solvers.hpp
  tools/example_earth_rt.yaml
Due: clang-format

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
  cmake/disort.cmake
  python/pyharp.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  tools/.gitignore
  tools/example_earth_flux.yaml
  tools/run_disort_flux.py
Due: clang-format, cmake-format

Enable calculating thermal flux (#111)
  .github/workflows/mac.yml
  .github/workflows/main.yml
  cmake/disort.cmake
  python/pyharp.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.cpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_disort_flags.cpp
  src/harp/rt_solvers.hpp
  tools/.gitignore
  tools/example_earth_flux.yaml
  tools/run_disort_flux.py
Due: clang-format, cmake-format

wip
  cmake/hywater.cmake
  examples/2024-XZhang-cloud-rt/hywater.yaml
  examples/2024-XZhang-cloud-rt/run_flux_1d.py
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_schemes.hpp
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/microwave/mwr_absorber_electron.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2o.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2s.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorber_ph3.cpp
  src/opacity/Giants/xiz_h2h2_cia.cpp
  src/opacity/Giants/xiz_h2he_cia.cpp
  src/opacity/absorber_factory.cpp
  src/opacity/fu_waterice_cloud.cpp
  src/opacity/fu_waterliquid_cloud.cpp
  src/opacity/hitran_absorber.cpp
  src/opacity/nitrogen_cia.cpp
  src/opacity/oxygen_cia.cpp
  src/opacity/simple_cloud.cpp
  src/opacity/xu_waterice_cloud.cpp
  src/virtual_groups.hpp
Due: clang-format, cmake-format

wip
  cmake/hywater.cmake
  examples/2024-XZhang-cloud-rt/hywater.yaml
  examples/2024-XZhang-cloud-rt/run_flux_1d.py
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/rt_solver_disort.cpp
  src/opacity/absorber_factory.cpp
  src/opacity/water_cloud.hpp
Due: clang-format, cmake-format

wip
  examples/2024-XZhang-cloud-rt/hywater.yaml
  examples/2024-XZhang-cloud-rt/run_flux_1d.py
  python/pyathena.cpp
  python/pyharp.cpp
  src/exchanger/linear_exchanger.hpp
  src/harp/radiation_band_exchanger.cpp
  src/harp/rt_solver_disort.cpp
  src/harp/set_spectral_properties.cpp
  src/opacity/Giants/freedman_mean2.cpp
  src/opacity/absorber_factory.cpp
  src/opacity/simple_cloud.cpp
  src/opacity/simple_cloud.hpp
  src/opacity/water_cloud.hpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  tools/run_disort_rt.py
Due: none

wip
  cmake/hywater.cmake
  examples/2024-XZhang-cloud-rt/run_flux_1d.py
  src/harp/radiation_band.cpp
  src/harp/set_spectral_properties.cpp
Due: clang-format, cmake-format

wip
  examples/2024-XZhang-cloud-rt/hywater.yaml
  examples/2024-XZhang-cloud-rt/run_flux_1d.py
  src/harp/radiation_band_exchanger.cpp
  src/opacity/Giants/freedman_mean2.cpp
Due: clang-format

wip
  examples/2024-XZhang-cloud-rt/hywater.yaml
  examples/2024-XZhang-cloud-rt/run_flux_1d.py
  src/harp/radiation_band.cpp
  src/harp/radiation_band_exchanger.cpp
  src/harp/rt_solver_disort.cpp
  src/index_map.cpp
Due: clang-format

Fix disort flux calculations (#112)
  cmake/hywater.cmake
  examples/2024-XZhang-cloud-rt/hywater.yaml
  examples/2024-XZhang-cloud-rt/run_flux_1d.py
  python/pyathena.cpp
  python/pyharp.cpp
  src/exchanger/linear_exchanger.hpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band_exchanger.cpp
  src/harp/rt_solver_disort.cpp
  src/index_map.cpp
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_schemes.hpp
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/microwave/mwr_absorber_electron.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2o.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2s.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorber_ph3.cpp
  src/opacity/Giants/xiz_h2h2_cia.cpp
  src/opacity/Giants/xiz_h2he_cia.cpp
  src/opacity/absorber_factory.cpp
  src/opacity/fu_waterice_cloud.cpp
  src/opacity/fu_waterliquid_cloud.cpp
  src/opacity/hitran_absorber.cpp
  src/opacity/nitrogen_cia.cpp
  src/opacity/oxygen_cia.cpp
  src/opacity/simple_cloud.cpp
  src/opacity/simple_cloud.hpp
  src/opacity/water_cloud.hpp
  src/opacity/xu_waterice_cloud.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/virtual_groups.hpp
  tools/run_disort_rt.py
Due: clang-format, cmake-format

wip
  cmake/hywater.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/hywater.cpp
  examples/2024-XZhang-cloud-rt/hywater.cpp.old
  examples/2024-XZhang-cloud-rt/hywater.inp
  examples/2024-XZhang-cloud-rt/hywater.yaml
  examples/2024-XZhang-cloud-rt/run_flux_1d.py
  examples/2024-XZhang-cloud-rt/set_spectral_properties.cpp
  examples/CMakeLists.txt
  python/pyharp.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solvers.hpp
  src/harp/set_spectral_properties.cpp
  src/outputs/load_user_output_data.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

wip
  examples/2024-XZhang-cloud-rt/hywater.inp
  src/exchanger/exchanger.hpp
Due: clang-format

wip
  examples/2024-XZhang-cloud-rt/hywater.inp
  examples/2024-XZhang-cloud-rt/hywater.yaml
Due: none

wip
  examples/2024-XZhang-cloud-rt/hywater.cpp
  examples/2024-XZhang-cloud-rt/hywater.yaml
Due: none

wip
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

Add cloud-rt (hywater) (#113)
  cmake/hywater.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/hywater.cpp
  examples/2024-XZhang-cloud-rt/hywater.cpp.old
  examples/2024-XZhang-cloud-rt/hywater.inp
  examples/2024-XZhang-cloud-rt/hywater.yaml
  examples/2024-XZhang-cloud-rt/run_flux_1d.py
  examples/2024-XZhang-cloud-rt/set_spectral_properties.cpp
  examples/CMakeLists.txt
  python/pyharp.cpp
  src/exchanger/exchanger.hpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solvers.hpp
  src/harp/set_spectral_properties.cpp
  src/outputs/load_user_output_data.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

wip
  examples/2024-XZhang-cloud-rt/hywater.cpp
  external/install_cantera.sh
Due: none

wip
  src/opacity/Giants/microwave/attenuation_electron.cpp
Due: clang-format

wip
  .github/workflows/main.yml
Due: none

wip
  external/install_pnetcdf.sh
Due: none

wip
  Brewfile
Due: none

Absorb athena updates (#117)
  .github/workflows/main.yml
  Brewfile
  examples/2024-XZhang-cloud-rt/hywater.cpp
  external/install_cantera.sh
  external/install_pnetcdf.sh
  src/opacity/Giants/microwave/attenuation_electron.cpp
Due: clang-format

wip
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/bryan.cmake
  cmake/disort.cmake
  cmake/macros/macro_setup_problem.cmake
  cmake/parameters.cmake
  cmake/robert.cmake
  cmake/robert3d.cmake
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/robert2d.inp
  examples/2019-Li-snap/robert3d.inp
  examples/2019-Li-snap/straka.inp
  examples/2020-Li-polar-vortex/fig_g_intruder.inp
  examples/2023-jupiter-mwr-eq/juno_mwr.inp
  main.cpp
  src/tasklist/extra_tasks.hpp
  src/tasklist/task_list_factory.hpp
Due: clang-format, cmake-format

wip
  examples/2020-Li-polar-vortex/shallow_water.inp
  examples/2023-jupiter-mwr-eq/juno_mwr.inp
  src/harp/rt_solver_disort.cpp
Due: clang-format

wip
  examples/2024-XZhang-cloud-rt/hywater.yaml
  src/harp/rt_solver_disort.cpp
Due: clang-format

wip
  .github/workflows/mac.yml
  cmake/hywater.cmake
  examples/2024-XZhang-cloud-rt/hywater.inp
Due: cmake-format

Add TaskListFactory (#118)
  .github/workflows/mac.yml
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/bryan.cmake
  cmake/disort.cmake
  cmake/hywater.cmake
  cmake/macros/macro_setup_problem.cmake
  cmake/parameters.cmake
  cmake/robert.cmake
  cmake/robert3d.cmake
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/robert2d.inp
  examples/2019-Li-snap/robert3d.inp
  examples/2019-Li-snap/straka.inp
  examples/2020-Li-polar-vortex/fig_g_intruder.inp
  examples/2020-Li-polar-vortex/shallow_water.inp
  examples/2023-jupiter-mwr-eq/juno_mwr.inp
  examples/2024-XZhang-cloud-rt/hywater.inp
  examples/2024-XZhang-cloud-rt/hywater.yaml
  main.cpp
  src/harp/rt_solver_disort.cpp
  src/tasklist/extra_tasks.hpp
  src/tasklist/task_list_factory.hpp
Due: clang-format, cmake-format

wip
  .readthedocs.yaml
  doc/conf.py
Due: none

wip
  doc/README-custom-command.md
  doc/conf.py
  doc/index.rst
  requirements.txt
Due: none

Publish on ReadTheDocs (#119)
  .readthedocs.yaml
  doc/README-custom-command.md
  doc/conf.py
  doc/index.rst
  requirements.txt
Due: none

wip
  .readthedocs.yaml
Due: none

wip
  requirements.txt
Due: none

wip
  .readthedocs.yaml
  doc/conf.py
  doc/doxygen/configure
  doc/index.rst
  requirements.txt
Due: none

wip
  doc/conf.py
  doc/doxygen/.gitignore
  doc/doxygen/Doxyfile
  doc/index.rst
Due: none

Add sphinx (#120)
  .readthedocs.yaml
  doc/conf.py
  doc/doxygen/.gitignore
  doc/doxygen/Doxyfile
  doc/index.rst
  requirements.txt
Due: none
