Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

wip
  doc/README-tips.md
Due: none

wip
  src/exchanger/exchanger.cpp
  src/exchanger/exchanger.hpp
  src/exchanger/linear_exchanger.hpp
  src/exchanger/neighbor_exchanger.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.hpp
  src/harp/rt_solver_disort.cpp
  src/nbody/particle_data.cpp
  src/nbody/particle_data.hpp
  src/nbody/particle_exchanger.cpp
  src/nbody/particle_integrator.cpp
  src/nbody/particles.hpp
Due: clang-format

wip
  src/exchanger/exchanger.hpp
  src/exchanger/linear_exchanger.hpp
  src/exchanger/neighbor_exchanger.hpp
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.cpp
  src/harp/radiation_band_exchanger.hpp
  src/harp/radiation_utils.cpp
  src/harp/radiation_utils.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/set_spectral_properties.cpp
Due: clang-format

wip
  src/CMakeLists.txt
  src/common.hpp
  src/exchanger/CMakeLists.txt
  src/exchanger/exchanger.cpp
  src/exchanger/exchanger.hpp
  src/exchanger/linear_exchanger.hpp
  src/exchanger/message_traits.cpp
  src/exchanger/message_traits.hpp
  src/exchanger/neighbor_exchanger.hpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.cpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_lambert.cpp
  src/harp/rt_solvers.hpp
  src/impl.hpp
  src/inversion/profile_inversion_posterior.cpp
  src/mesh_destroy.cpp
  src/mesh_setup.cpp
  src/nbody/particle_data.hpp
  src/nbody/particle_exchanger.cpp
  src/nbody/particle_restart.cpp
  src/nbody/particles.hpp
  src/opacity/fu_waterice_cloud.cpp
  src/tasklist/implicit_hydro_tasks.cpp
  src/utils/communicator.cpp
  src/utils/communicator.hpp
  src/utils/find_neighbors.cpp
  src/virtual_groups.hpp
Due: clang-format

wip
  src/exchanger/exchanger.hpp
  src/exchanger/message_traits.cpp
  src/exchanger/neighbor_exchanger.hpp
  src/harp/radiation_band_exchanger.cpp
  src/nbody/particle_data.cpp
  src/virtual_groups.hpp
Due: clang-format

wip
  src/exchanger/neighbor_exchanger.hpp
Due: clang-format

wip
  src/CMakeLists.txt
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.cpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solvers.hpp
Due: clang-format

wip
  python/CMakeLists.txt
  python/pycanoe.cpp
  python/pyharp.cpp
  python/pyopacity.cpp
Due: clang-format

wip
  python/CMakeLists.txt
  python/pycanoe.cpp
  python/utilities.cpp
  src/harp/radiation_band.cpp
  src/harp/spectral_grid.cpp
  src/opacity/absorber.hpp
  src/opacity/absorber_factory.cpp
  tools/example_giants_ir.yaml
Due: clang-format

wip
  python/pyharp.cpp
  python/pyopacity.cpp
  src/harp/radiation_band.hpp
  src/opacity/absorber.hpp
  tools/example_earth.yaml
  tools/run_ktable_new.py
Due: clang-format

wip
  src/opacity/hitran_absorber.cpp
  tools/run_ktable_new.py
Due: clang-format

wip
  tools/kcoeff.cpp
  tools/run_ktable_new.py
Due: clang-format

wip
  cmake/ktable_test.cmake
Due: cmake-format

wip
  examples/2018-Li-harp/CMakeLists.txt
  examples/2018-Li-harp/giants_re.cpp
  examples/2018-Li-harp/giants_re_mods.cpp
  examples/2023-Li-saturn-vla/saturn_radio.cpp
  examples/2023-Li-uranus/uranus_mwr.cpp
  examples/2023-jupiter-mwr-eq/juno_mwr.cpp
  examples/2023-jupiter-mwr-eq/juno_mwr_specs.hpp
  src/exchanger/exchanger.hpp
  src/harp/radiation.cpp
  src/harp/radiation_band.hpp
  src/harp/set_spectral_properties.cpp
Due: clang-format

wip
  tools/kcoeff.cpp
Due: clang-format

wip
  .github/workflows/main.yml
  cmake/ktable_earth.cmake
  tools/CMakeLists.txt
  tools/example_earth.yaml
  tools/run_ktable_simple.py.in
Due: cmake-format

wip
  examples/2020-Li-polar-vortex/CMakeLists.txt
  examples/2023-Chen-exo3/CMakeLists.txt
  examples/2023-Li-saturn-vla/CMakeLists.txt
  examples/2023-Li-saturn-vla/radio_channels.yaml
  examples/CMakeLists.txt
  python/CMakeLists.txt
  python/pyopacity.cpp
  src/opacity/absorber_factory.cpp
  src/special/giants_add_absorber_v1.hpp
  src/special/mars_absorber.cpp
Due: clang-format

wip
  examples/2023-Li-uranus/CMakeLists.txt
  examples/2024-Li-plume/CMakeLists.txt
  examples/2024-Li-plume/plume.cpp
  examples/2024-Li-plume/plume_specs.hpp
  examples/2024-YZhang-nbody/CMakeLists.txt
  examples/CMakeLists.txt
  src/harp/radiation_band.cpp
  src/harp/spectral_grid.cpp
  src/index_map.cpp
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_schemes.hpp
  src/opacity/Giants/microwave/mwr_absorber_cia.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2o.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorbers.hpp
  src/opacity/absorber.cpp
  src/opacity/absorber.hpp
  src/opacity/absorber_factory.cpp
  src/utils/parameter_map.hpp
  src/virtual_groups.hpp
  tests/example_infrared.yaml
  tests/example_radio.yaml
  tests/test_air_parcel.cpp
  tests/test_impl.cpp
  tests/test_microphysics.cpp
  tests/test_microwave_opacity.cpp
  tests/test_radiation.cpp
  tests/test_radiation.inp
  tests/test_thermodynamics.cpp
  tests/test_yaml_read.cpp
Due: clang-format

wip
  examples/2023-jupiter-mwr-eq/juno_mwr_specs.hpp
  examples/CMakeLists.txt
  tools/run_ktable_simple.py.in
Due: none

wip
  src/virtual_groups.hpp
  tests/test_ammonium_hydrosulfide.cpp
Due: clang-format

wip
  examples/2023-jupiter-mwr-eq/juno_mwr.inp
  examples/2023-jupiter-mwr-eq/mwr_channels.yaml
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_lambert.cpp
  src/opacity/Giants/microwave/mwr_absorber_cia.cpp
Due: clang-format

wip
  src/air_parcel.cpp
  src/air_parcel.hpp
  src/harp/radiation.cpp
Due: clang-format

wip
  packages_centos.txt
  packages_debian.txt
Due: none

wip
  cmake/ktable_earth.cmake
  examples/2023-Li-saturn-vla/saturn_radio.cpp
  examples/2023-Li-uranus/uranus_mwr.cpp
  examples/2023-jupiter-mwr-eq/juno_mwr.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_disort_flags.cpp
  src/harp/rt_solver_lambert.cpp
  src/harp/rt_solvers.hpp
  src/inversion/profile_inversion_posterior.cpp
Due: clang-format, cmake-format

wip
  python/pyharp.cpp
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.cpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_disort_flags.cpp
  src/harp/rt_solvers.hpp
  src/harp/set_spectral_properties.cpp
  tools/CMakeLists.txt
  tools/example_earth_rt.yaml
  tools/run_disort_rt.py.in
  tools/run_ktable_simple.py.in
Due: clang-format

wip
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solvers.hpp
Due: clang-format

Add pyharp for RT calculation (#106)
  cmake/ktable_earth.cmake
  examples/2023-Li-saturn-vla/saturn_radio.cpp
  examples/2023-Li-uranus/uranus_mwr.cpp
  examples/2023-jupiter-mwr-eq/juno_mwr.cpp
  packages_centos.txt
  packages_debian.txt
  python/pyharp.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.cpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_disort_flags.cpp
  src/harp/rt_solver_lambert.cpp
  src/harp/rt_solvers.hpp
  src/harp/set_spectral_properties.cpp
  src/inversion/profile_inversion_posterior.cpp
  tools/CMakeLists.txt
  tools/example_earth_rt.yaml
  tools/run_disort_rt.py.in
  tools/run_ktable_simple.py.in
Due: clang-format, cmake-format

wip
  cmake/ktable_earth.cmake
  python/pyharp.cpp
  src/harp/radiation.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/set_spectral_properties.cpp
  src/index_map.cpp
  src/index_map.hpp
  src/opacity/hitran_absorber.cpp
  tools/example_earth_rt.yaml
  tools/run_disort_rt_new.py
Due: clang-format, cmake-format

wip
  cmake/ktable_earth.cmake
  python/pyharp.cpp
  src/exchanger/linear_exchanger.hpp
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.cpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_disort_flags.cpp
  src/harp/rt_solvers.hpp
  src/harp/set_spectral_properties.cpp
  tools/CMakeLists.txt
  tools/canoe.py
  tools/canoe.py.in
  tools/example_earth_rt.yaml
  tools/run_disort_rt.py
  tools/run_disort_rt_new.py
  tools/run_ktable.py.in
  tools/run_ktable_simple.py
Due: clang-format, cmake-format

wip
  python/pyharp.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  tools/run_disort_rt.py
  tools/run_ktable_simple.py
Due: clang-format

wip
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/rt_solver_disort.cpp
  src/index_map.cpp
  src/index_map.hpp
  tools/example_earth_rt.yaml
Due: clang-format

Working pyharp binding (#107)
  cmake/ktable_earth.cmake
  python/pyharp.cpp
  src/exchanger/linear_exchanger.hpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.cpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_disort_flags.cpp
  src/harp/rt_solvers.hpp
  src/harp/set_spectral_properties.cpp
  src/index_map.cpp
  src/index_map.hpp
  src/opacity/hitran_absorber.cpp
  tools/CMakeLists.txt
  tools/canoe.py
  tools/canoe.py.in
  tools/example_earth_rt.yaml
  tools/run_disort_rt.py
  tools/run_disort_rt.py.in
  tools/run_ktable.py.in
  tools/run_ktable_simple.py
Due: clang-format, cmake-format

wip
  cmake/disort.cmake
  python/pyharp.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_disort_flags.cpp
  src/harp/rt_solvers.hpp
  src/opacity/absorber.cpp
  src/opacity/absorber.hpp
  src/virtual_groups.hpp
  tools/example_earth_rt.yaml
Due: clang-format, cmake-format

wip
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/rt_solver_disort.cpp
  tools/example_earth.yaml
  tools/example_earth_rt.yaml
  tools/run_disort_rt.py
Due: clang-format

Revise pyharp API (#108)
  cmake/disort.cmake
  python/pyharp.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_disort_flags.cpp
  src/harp/rt_solvers.hpp
  src/opacity/absorber.cpp
  src/opacity/absorber.hpp
  src/virtual_groups.hpp
  tools/example_earth.yaml
  tools/example_earth_rt.yaml
  tools/run_disort_rt.py
Due: clang-format, cmake-format

wip
  .github/workflows/mac.yml
  CMakeLists.txt
  cmake/cmake_uninstall.cmake.in
  cmake/disort.cmake
  cmake/gtest.cmake
  cmake/ktable_earth.cmake
  cmake/parameters.cmake
  cmake/pybind11.cmake
  python/CMakeLists.txt
Due: cmake-format

wip
  .github/workflows/mac.yml
Due: none

Fix macos runner (#109)
  .github/workflows/mac.yml
  CMakeLists.txt
  cmake/cmake_uninstall.cmake.in
  cmake/disort.cmake
  cmake/gtest.cmake
  cmake/ktable_earth.cmake
  cmake/parameters.cmake
  cmake/pybind11.cmake
  python/CMakeLists.txt
Due: cmake-format

wip
  python/pyharp.cpp
Due: clang-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
