Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

wip
  .github/workflows/main.yml
  examples/2024-CLi-earth-rt/CMakeLists.txt
  examples/2024-CLi-earth-rt/earth_flux.yaml
  examples/2024-CLi-earth-rt/earth_rt.yaml
  examples/2024-CLi-earth-rt/example_earth.yaml
  examples/2024-CLi-earth-rt/run_disort_earth.py
  examples/2024-CLi-earth-rt/run_disort_earth_flux.py
  examples/2024-CLi-earth-rt/run_ktable_earth.py
  examples/CMakeLists.txt
  tools/run_ktable_simple.py
Due: none

Finalize Helios CK (#133)
  .github/workflows/main.yml
  cmake/hjupiter.cmake
  examples/2024-CLi-earth-rt/CMakeLists.txt
  examples/2024-CLi-earth-rt/earth_flux.yaml
  examples/2024-CLi-earth-rt/earth_rt.yaml
  examples/2024-CLi-earth-rt/example_earth.yaml
  examples/2024-CLi-earth-rt/run_disort_earth.py
  examples/2024-CLi-earth-rt/run_disort_earth_flux.py
  examples/2024-CLi-earth-rt/run_ktable_earth.py
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
  examples/2024-XZhang-cloud-rt/hywater.yaml
  examples/2024-XZhang-cloud-rt/run_disort_hjup.py
  examples/2024-XZhang-cloud-rt/run_ktable_hjup.py
  examples/CMakeLists.txt
  src/opacity/absorber.cpp
  src/opacity/absorber_ck.cpp
  src/opacity/absorber_ck.hpp
  src/opacity/helios_ck.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  tools/run_ktable_simple.py
Due: clang-format, cmake-format

wip
  external/fetch_cantera.sh
  external/fetch_pnetcdf.sh
  external/install_cantera.sh
  requirements.txt
  src/c3m/crossdiskread.f
  src/c3m/filter_cross.py
  src/c3m/makefile
Due: none

wip
  examples/2024-FDing-jupiter-rt/run_disort_jup.py
  python/CMakeLists.txt.sav
  python/pyharp.cpp
Due: clang-format

wip
  examples/2024-FDing-jupiter-rt/run_ktable_jup.py
  tools/rfmlib.py
Due: none

wip
  examples/2024-CLi-earth-rt/run_ktable_earth.py
Due: none

Update pyharp (#134)
  examples/2024-CLi-earth-rt/run_ktable_earth.py
  examples/2024-FDing-jupiter-rt/run_disort_jup.py
  examples/2024-FDing-jupiter-rt/run_ktable_jup.py
  python/CMakeLists.txt.sav
  python/pyharp.cpp
  tools/rfmlib.py
Due: clang-format

wip
  external/install_cantera.sh
  src/c3m/chemistry.cpp
  src/c3m/chemistry.hpp
Due: clang-format

wip
  examples/2024-CLi-RCEMIP/rce_large.inp
  examples/2024-CLi-RCEMIP/rce_small.inp
  examples/2024-CLi-RCEMIP/rcemip.cpp
  examples/2024-CLi-RCEMIP/rcemip.yaml
Due: none

wip
  cmake/rcemip.cmake
  examples/2024-CLi-RCEMIP/CMakeLists.txt
  examples/2024-CLi-RCEMIP/rce_small.inp
  examples/2024-CLi-RCEMIP/rcemip.cpp
  examples/CMakeLists.txt
Due: cmake-format

wip
  src/outputs/output_utils.cpp
Due: clang-format

Link RRTMG
  CMakeLists.txt
  cmake/examples/bryan.cmake
  cmake/examples/cart3.cmake
  cmake/examples/dam.cmake
  cmake/examples/default.cmake
  cmake/examples/exo2.cmake
  cmake/examples/exo3.cmake
  cmake/examples/hjupiter.cmake
  cmake/examples/hywater.cmake
  cmake/examples/juno.cmake
  cmake/examples/jupiter_crm.cmake
  cmake/examples/ktable_earth.cmake
  cmake/examples/ktable_jup.cmake
  cmake/examples/mars_far_ir.cmake
  cmake/examples/polar3.cmake
  cmake/examples/rcemip.cmake
  cmake/examples/robert.cmake
  cmake/examples/saturn_radio.cmake
  cmake/examples/straka.cmake
  cmake/examples/uranus_ir.cmake
  cmake/examples/uranus_mwr.cmake
  cmake/examples/vortex.cmake
  cmake/parameters.cmake
  cmake/rrtmg.cmake
Due: cmake-format

Add RRTMG-SW (#135)
  CMakeLists.txt
  cmake/examples/bryan.cmake
  cmake/examples/cart3.cmake
  cmake/examples/dam.cmake
  cmake/examples/default.cmake
  cmake/examples/exo2.cmake
  cmake/examples/exo3.cmake
  cmake/examples/hjupiter.cmake
  cmake/examples/hywater.cmake
  cmake/examples/juno.cmake
  cmake/examples/jupiter_crm.cmake
  cmake/examples/ktable_earth.cmake
  cmake/examples/ktable_jup.cmake
  cmake/examples/mars_far_ir.cmake
  cmake/examples/polar3.cmake
  cmake/examples/rcemip.cmake
  cmake/examples/robert.cmake
  cmake/examples/saturn_radio.cmake
  cmake/examples/straka.cmake
  cmake/examples/uranus_ir.cmake
  cmake/examples/uranus_mwr.cmake
  cmake/examples/vortex.cmake
  cmake/parameters.cmake
  cmake/rrtmg.cmake
  examples/2024-CLi-RCEMIP/CMakeLists.txt
  examples/2024-CLi-RCEMIP/rce_large.inp
  examples/2024-CLi-RCEMIP/rce_small.inp
  examples/2024-CLi-RCEMIP/rcemip.cpp
  examples/2024-CLi-RCEMIP/rcemip.yaml
  examples/CMakeLists.txt
  src/outputs/output_utils.cpp
Due: clang-format, cmake-format

wip
  examples/2024-CLi-juno-mwr/CMakeLists.txt
  examples/2024-CLi-juno-mwr/Sun.yaml
  examples/2024-CLi-juno-mwr/juno_mwr.cpp
  examples/2024-CLi-juno-mwr/juno_mwr.inp
  examples/2024-CLi-juno-mwr/juno_mwr_specs.hpp
  examples/2024-CLi-juno-mwr/jupiter.yaml
  examples/2024-CLi-juno-mwr/mwr_channels.yaml
  examples/2024-CLi-juno-mwr/mwr_inversion.yaml
  examples/2024-FDing-jupiter-rt/run_disort_jup.py
  examples/2024-FDing-jupiter-rt/run_ktable_jup.py
  python/CMakeLists.txt
  python/pyathena.cpp
  python/pycanoe.cpp
  python/pyharp.cpp
  python/pysnap.cpp
  python/pyutils.cpp
Due: clang-format

wip
  examples/2024-FDing-jupiter-rt/run_disort_jup.py
  examples/2024-FDing-jupiter-rt/run_ktable_jup.py
  python/pycanoe.cpp
  python/pyharp.cpp
  python/pyutils.cpp
  src/index_map.cpp
  src/index_map.hpp
Due: clang-format

wip
  examples/2024-CLi-juno-mwr/juno_mwr.py
Due: none

wip
  python/pycanoe.cpp
Due: clang-format

wip
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

Remove check_reconstruct
  src/checks.cpp
Due: clang-format

transform from plane 1 to others correction
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

transform from plane 1 to others
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

plane to plane transformation implement
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

test added and correction
  src/exo3/cs_velocity_rotation.hpp
  tests/CMakeLists.txt
  tests/test_cs_velocity_rotation.cpp
Due: clang-format

wip
  data/fetch_exogcm_opacity.sh
Due: none

update on panel 1
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

rotational transformation
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

cs_velocity_rotation.hpp
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

update
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

modified
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

ab to xy and xy to ab
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

wip
  cmake/examples/juno.cmake
  examples/2024-CLi-juno-mwr/CMakeLists.txt
  examples/2024-CLi-juno-mwr/juno_mwr.py
  examples/2024-CLi-juno-mwr/juno_mwr.yaml
  examples/CMakeLists.txt
  python/pyathena.cpp
  python/pycanoe.cpp
  python/pysnap.cpp
Due: clang-format, cmake-format

rotation panel 1 done
  data/ck_data_01242024.tar.gz
  src/exo3/cs_velocity_rotation.hpp
  tests/test_cs_velocity_rotation.cpp
Due: clang-format

final
  CMakeLists.txt
  cmake/examples/juno.cmake
  cmake/macros/macro_set_if_empty.cmake
  cmake/parameters.cmake
  examples/2024-CLi-juno-mwr/CMakeLists.txt
  examples/2024-CLi-juno-mwr/juno_mwr.cpp
  examples/2024-CLi-juno-mwr/juno_mwr.inp
  examples/2024-CLi-juno-mwr/run_juno_mwr.py
  python/CMakeLists.txt
  python/empty.cpp
  python/pycanoe.cpp
  python/pysnap.cpp
Due: clang-format, cmake-format

add cmakefile
  cmake/examples/juno_mcmc.cmake
  examples/CMakeLists.txt
Due: cmake-format

add jupiter_atmos.yaml
  examples/2024-CLi-juno-mwr/juno_mwr.py
  examples/2024-CLi-juno-mwr/jupiter_atmos.yaml
Due: none

pybind Thermodynamics, AirParcel
  examples/2024-CLi-juno-mwr/juno_mwr.py
  examples/2024-CLi-juno-mwr/jupiter_atmos.yaml
  python/pyathena.cpp
  python/pycanoe.cpp
  python/pysnap.cpp
Due: clang-format

wip
  examples/2024-CLi-juno-mwr/juno_mwr.py
  python/pycanoe.cpp
  python/pysnap.cpp
Due: clang-format
