Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

add hydrodynamics
  cmake/juno.cmake
  cmake/parameters.cmake
  cmake/straka.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/robert2d.inp
  examples/2019-Li-snap/straka.cpp
  examples/2019-Li-snap/straka.inp
  examples/CMakeLists.txt
  src/CMakeLists.txt
  src/athena_mod/calculate_fluxes.cpp
  src/athena_mod/hllc.cpp
  src/athena_mod/new_blockdt.cpp
  src/outputs/CMakeLists.txt
Due: clang-format, cmake-format

add test
  src/tasklist/extra_tasks.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/CMakeLists.txt
  tests/test_weno.cpp
Due: clang-format

straka works
  cmake/athena.cmake
  patches/19.decomposition.patch
  tests/test_weno.cpp
Due: clang-format, cmake-format

enable mpi, robert works
  cmake/application.cmake
  cmake/parameters.cmake
  cmake/robert.cmake
  configure.hpp.in
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/robert.cpp
  src/CMakeLists.txt
  tests/CMakeLists.txt
Due: cmake-format

add straka and robert
  .github/workflows/main.yml
  examples/2019-Li-snap/.gitattributes
  examples/2019-Li-snap/robert_output.nc
  examples/2019-Li-snap/straka_output.nc
  examples/2019-Li-snap/test_robert.py
  examples/2019-Li-snap/test_straka.py
Due: none

Add Straka and Robert test cases (#37)
  .github/workflows/main.yml
  cmake/application.cmake
  cmake/athena.cmake
  cmake/juno.cmake
  cmake/parameters.cmake
  cmake/robert.cmake
  cmake/straka.cmake
  configure.hpp.in
  examples/2019-Li-snap/.gitattributes
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/robert2d.inp
  examples/2019-Li-snap/robert_output.nc
  examples/2019-Li-snap/straka.cpp
  examples/2019-Li-snap/straka.inp
  examples/2019-Li-snap/straka_output.nc
  examples/2019-Li-snap/test_robert.py
  examples/2019-Li-snap/test_straka.py
  examples/CMakeLists.txt
  patches/19.decomposition.patch
  src/CMakeLists.txt
  src/athena_mod/calculate_fluxes.cpp
  src/athena_mod/hllc.cpp
  src/athena_mod/new_blockdt.cpp
  src/outputs/CMakeLists.txt
  src/tasklist/extra_tasks.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/CMakeLists.txt
  tests/test_weno.cpp
Due: clang-format, cmake-format

add runner
  .github/workflows/main.yml
  README-actions.md
  src/harp/radiation_band.cpp
Due: clang-format

fix
  .github/workflows/main.yml
  src/harp/radiation_band.cpp
Due: clang-format

fix
  .github/workflows/mac.yaml
  .github/workflows/main.yml
Due: none

fix
  .github/workflows/mac.yaml
  .github/workflows/main.yml
  cmake/modules/FindNetCDF.cmake
  cmake/modules/FindPNetCDF.cmake
Due: cmake-format

fxi
  .github/workflows/mac.yaml
  .github/workflows/main.yml
Due: none

fix
  .github/workflows/main.yml
  README.md
Due: none

Finish github actions (#38)
  .github/workflows/mac.yaml
  .github/workflows/main.yml
  README-actions.md
  README.md
  cmake/modules/FindNetCDF.cmake
  cmake/modules/FindPNetCDF.cmake
  src/harp/radiation_band.cpp
Due: clang-format, cmake-format

wip
  .github/workflows/main.yml
  README.md
Due: none

add fork
  README-fork.md
Due: none

cli/small
  README-fork.md
  README.md
Due: none

finish
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  src/impl.hpp
Due: clang-format

Readme and small tweaks (#39)
  .github/workflows/main.yml
  README-fork.md
  README.md
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  src/impl.hpp
Due: clang-format

precommit fix
  README-fork.md
  cmake/athena.cmake
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/straka.cpp
  patches/21.implicit_dt.patch
Due: cmake-format

add actions
  .github/workflows/mac.yaml
  .github/workflows/main.yml
Due: none

Add implicit (#40)
  .github/workflows/mac.yaml
  .github/workflows/main.yml
  README-fork.md
  README.md
  cmake/athena.cmake
  cmake/robert3d.cmake
  examples/2019-Li-snap/.gitattributes
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/robert3d.inp
  examples/2019-Li-snap/robert3d_output.nc
  examples/2019-Li-snap/straka.cpp
  patches/21.implicit_dt.patch
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/implicit_solver.hpp
  src/snap/implicit/partial_correction.cpp
Due: clang-format, cmake-format

clean up
  README-fork.md
  README-lfs.md
  src/impl.hpp
  src/snap/reconstruct/face_reconstruct.cpp
  src/snap/reconstruct/face_reconstruct.hpp
  src/snap/reconstruct/fit_polynomial_inflection.nb
  src/snap/reconstruct/interp_weno3.hpp
  src/snap/reconstruct/interp_weno5.hpp
  src/snap/reconstruct/interpolation.hpp
  src/snap/reconstruct/weno5.cpp
  src/snap/reconstruct/weno5_simple.cpp
  src/snap/task_list/implicit_hydro_tasks.cpp
  src/snap/task_list/implicit_hydro_tasks.hpp
  src/snap/task_list/time_integrator.diff
  src/snap/task_list/time_integrator_additions.cpp.sav
Due: clang-format

wip
  README-fork.md
Due: none

wip
  README-lfs.md
Due: none

wip
  doc/README-actions.md
  doc/README-ci.md
  doc/README-fork.md
  doc/README-lfs.md
  doc/README-workflow.md
Due: none

fix
  doc/README-custom-command.md
  src/impl.cpp
  src/impl.hpp
  src/snap/CMakeLists.txt
Due: clang-format

wip
  doc/README-custom-command.md
  src/harp/set_spectral_properties.cpp
Due: clang-format
