Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

wip
  README.md
  doc/README-custom-command.md
  doc/README-naming.md
  doc/README-problems.md
  doc/README-tips.md
  doc/README-workflow.md
  doc/index.rst
Due: none

Add more docs (#121)
  README.md
  doc/README-custom-command.md
  doc/README-naming.md
  doc/README-problems.md
  doc/README-tips.md
  doc/README-workflow.md
  doc/index.rst
Due: none

add SiO svp function
  examples/2023-Linf-lava/lava.cpp
  examples/2023-Linf-lava/lava.inp
  examples/2023-Linf-lava/lava.yaml
  src/snap/thermodynamics/vapors/silicon_monoxide_vapors.hpp
  src/special/giants_enroll_vapor_functions_v1.hpp
Due: clang-format

lavaplanet input and cpp files
  cmake/lava.cmake
  examples/2023-Linf-lava/CMakeLists.txt
  examples/2023-Linf-lava/balance_atm.txt
  examples/2023-Linf-lava/lava.cpp
  examples/2023-Linf-lava/lava.inp
  examples/2023-Linf-lava/lava.yaml
  examples/CMakeLists.txt
Due: cmake-format

wip
  examples/2023-Linf-lava/lava.cpp
Due: none

unit conversion for PRE HGT SiO
  examples/2023-Linf-lava/lava.cpp
  examples/2023-Linf-lava/lava.inp
Due: none

wip
  .gitignore
  cmake/lstraka.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/balance_atm.txt
  examples/2019-Li-snap/lstraka.cpp
  examples/2019-Li-snap/lstraka.inp
  examples/2019-Li-snap/lstraka.yaml
  examples/2019-Li-snap/lstraka2.cpp
  examples/2023-Linf-lava/lava.cpp
  examples/2023-Linf-lava/lava.inp
  tests/test_lava.cpp
Due: clang-format, cmake-format

configure lava input
  cmake/lava.cmake
  examples/2023-Linf-lava/lava.cpp
  examples/2023-Linf-lava/lava.inp
  examples/2023-Linf-lava/lava.yaml
Due: cmake-format

wip
  doc/conf.py
  doc/index.rst
  doc/pyharp.rst
  python/__init__.py
  python/pyharp.cpp
Due: clang-format

polar vortex
  examples/2019-Li-snap/jupiter3d.inp
  examples/2019-Li-snap/jupiter_crm.cpp
  examples/2019-Li-snap/water_ammonia.yaml
Due: none

wip
  examples/2024-XZhang-cloud-rt/hywater.yaml
  src/astro/celestrial_body.cpp
  src/astro/celestrial_body.hpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/rt_solver_disort.cpp
  src/impl.cpp
  src/impl.hpp
Due: clang-format

wip
  src/astro/celestrial_body.cpp
  src/astro/celestrial_body.hpp
  src/harp/radiation.hpp
  src/impl.hpp
Due: clang-format

wip
  src/astro/celestrial_body.cpp
  src/astro/celestrial_body.hpp
  src/harp/radiation.cpp
Due: clang-format

Update astro module (#122)
  examples/2024-XZhang-cloud-rt/hywater.yaml
  src/astro/celestrial_body.cpp
  src/astro/celestrial_body.hpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/rt_solver_disort.cpp
  src/impl.cpp
  src/impl.hpp
Due: clang-format

wip
  external/.gitignore
  src/harp/rt_solver_disort.cpp
Due: clang-format

Finalize astro (#123)
  external/.gitignore
  src/harp/rt_solver_disort.cpp
Due: clang-format

wip
  src/outputs/load_user_output_data.cpp
Due: clang-format

Output flux in each band (#124)
  src/outputs/load_user_output_data.cpp
Due: clang-format

Fix adiabatic hydro eos
  patches/26.cs_adiabatic_hydro.patch
Due: none

Use area-difference form (#4)
  src/exo3/gnomonic_equiangle.cpp
Due: clang-format

remove redo
  src/impl.hpp
Due: clang-format

Add wait after send (#23)
  patches/19.calculate_fluxes.patch
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
Due: clang-format

In-panel sync and coriolis force (#12)
  cmake/athena.cmake
  cmake/exo3_3.cmake
  examples/2023-Chen-exo3/W92.cpp
  examples/2023-Chen-exo3/W92.inp
  examples/2023-Chen-exo3/hs94.cpp
  examples/2023-Chen-exo3/hs94.inp
  examples/2023-Chen-exo3/test_adiabat.cpp
  examples/2023-Chen-exo3/test_blast.cpp
  patches/19.calculate_fluxes.patch
  patches/24.time_integrator.patch
  patches/29.cs_bvals_var.patch
  patches/29.cs_mesh.patch
  patches/31.cs_calculate_fluxes.patch
  patches/31.task_list.patch
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
  src/exo3/cubed_sphere_utility.cpp
Due: clang-format, cmake-format

Added more test cases and helper scripts (#26)
  cmake/cart3.cmake
  cmake/polar3.cmake
  examples/2023-Chen-exo3/calc_avg.py
  examples/2023-Chen-exo3/calc_avg_pres.py
  examples/2023-Chen-exo3/calculate_psi.py
  examples/2023-Chen-exo3/convert_to_cart.py
  examples/2023-Chen-exo3/convert_to_polar.py
  examples/2023-Chen-exo3/generate_plots.py
  examples/2023-Chen-exo3/height_to_pres.py
  examples/2023-Chen-exo3/height_to_sigma.py
  examples/2023-Chen-exo3/hot_jupiter.cpp
  examples/2023-Chen-exo3/hot_jupiter.inp
  examples/2023-Chen-exo3/hs94_polar.cpp
  examples/2023-Chen-exo3/hs94_polar.inp
  examples/2023-Chen-exo3/mass_stream_func.py
  examples/2023-Chen-exo3/polar_dry.cpp
  examples/2023-Chen-exo3/polar_dry.inp
Due: cmake-format

Upgrade ExoCubed to modern C++ (#1)
  CODEOWNERS
  cmake/athena.cmake
  cmake/parameters.cmake
  configure.hpp.in
  patches/25.cs_meshblock.patch
  patches/26.cs_adiabatic_hydro.patch
  patches/27.cs_coordinates.patch
  patches/28.cs_bvals_cc.patch
  patches/29.cs_bvals_var.patch
  patches/30.cs_bvals_base.patch
  patches/31.cs_calculate_fluxes.patch
  src/exo3/cs_find_block_id.cpp
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
  src/exo3/cubed_sphere_transform.cpp
  src/exo3/cubed_sphere_utility.cpp
  src/exo3/cubed_sphere_utility.hpp
  src/exo3/gnomonic_equiangle.cpp
  src/impl.cpp
  src/impl.hpp
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/lmars_shallow_yz.cpp
  src/snap/riemann/roe_shallow_yz.cpp
Due: clang-format, cmake-format

Clean up gnomonic equiangle functions (#7)
  src/exo3/gnomonic_equiangle.cpp
  src/exo3/gnomonic_equiangle.hpp
  src/snap/riemann/lmars_shallow_yz.cpp
  src/snap/riemann/roe_shallow_yz.cpp
Due: clang-format

Rename patch files (#19)
  cmake/athena.cmake
  patches/23.meshblock.patch
  patches/25.cs_meshblock.patch
  patches/26.adiabatic_hydro.patch
  patches/27.coordinates.patch
  patches/28.bvals_cc.patch
  patches/29.mesh.patch
  patches/30.bvals_base.patch
Due: cmake-format

Fixed the in-block parallel interpolation coordinate calculations.
  cmake/exo3_3.cmake
  examples/2023-Chen-exo3/test_blast_192.inp
  examples/2023-Chen-exo3/test_blast_384.inp
  examples/2023-Chen-exo3/test_blast_768.inp
  src/exo3/cubed_sphere_utility.cpp
Due: clang-format, cmake-format

Fix restart (#18)
  cmake/exo2.cmake
  cmake/exo3.cmake
  patches/25.cs_meshblock.patch
  src/snap/eos/shallow_yz_hydro.cpp
Due: clang-format, cmake-format

Semi-correct implicit solver (#21)
  examples/2023-Chen-exo3/hs94-stable20.inp
  examples/2023-Chen-exo3/hs94.cpp
  main.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/solve_implicit_3d.cpp
  tests/test_transform.cpp
Due: clang-format

Fix hllc_transporm solver (#16)
  cmake/exo3.cmake
  examples/2023-Chen-exo3/hs94-stable20.inp
  examples/2023-Chen-exo3/hs94-test.inp
  examples/2023-Chen-exo3/hs94.cpp
  src/exo3/gnomonic_equiangle.cpp
  src/exo3/gnomonic_equiangle.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/riemann/hllc_transform.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

Fix Coriolis (#15)
  examples/2023-Chen-exo3/hs94.cpp
  examples/2023-Chen-exo3/steady_zonal.cpp
  examples/2023-Chen-exo3/steady_zonal.inp
  examples/2023-Chen-exo3/test_blast.cpp
  examples/2023-Chen-exo3/test_injection.cpp
  examples/2023-Chen-exo3/test_injection.inp
  src/exo3/cubed_sphere.cpp
Due: clang-format

Add contravariant/covariant conversion (#9)
  cmake/exo2.cmake
  examples/2023-Chen-exo3/test_adiabat.cpp
  examples/2023-Chen-exo3/test_adiabat.inp
  examples/CMakeLists.txt
  src/exo3/cubed_sphere_utility.hpp
  src/exo3/gnomonic_equiangle.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/eos/shallow_yz_hydro.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/riemann/hllc_transform.cpp
Due: clang-format, cmake-format

Restore previous cubedsphere example (#2)
  .gitignore
  cmake/exo3.cmake
  cmake/parameters.cmake
  examples/2023-Chen-exo3/test_blast.cpp
  examples/2023-Chen-exo3/test_blast.inp
  examples/CMakeLists.txt
  patches/27.cs_coordinates.patch
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
  src/exo3/gnomonic_equiangle.cpp
Due: clang-format, cmake-format

Add redo if hydro check does not pass (#20)
  main.cpp
  src/impl.hpp
  src/mesh_redo.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/solve_implicit_3d.cpp
Due: clang-format

Refactoring implicit (#17)
  examples/2023-Chen-exo3/hs94.cpp
  src/exo3/gnomonic_equiangle.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/forward_backward.hpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/implicit_solver.cpp
  src/snap/implicit/implicit_solver.hpp
  src/snap/implicit/partial_correction.cpp
  src/snap/implicit/periodic_forward_backward.hpp
  src/snap/implicit/solve_implicit_3d.cpp
  src/snap/riemann/hllc_transform.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

Revise EXO3 for better structure (#3)
  cmake/exo3.cmake
  examples/2023-Chen-exo3/test_blast.cpp
  examples/2023-Chen-exo3/test_blast_192.inp
  examples/2023-Chen-exo3/test_blast_384.inp
  examples/2023-Chen-exo3/test_blast_48.inp
  examples/2023-Chen-exo3/test_blast_768.inp
  examples/2023-Chen-exo3/test_blast_96.inp
  src/exo3/bilinear_interpolation.cpp
  src/exo3/cubed_sphere_utility.cpp
  src/exo3/gnomonic_equiangle.cpp
  src/exo3/gnomonic_equiangle.hpp
  src/snap/eos/shallow_yz_hydro.cpp
  src/snap/riemann/lmars_shallow_yz.cpp
  src/snap/riemann/roe_shallow_yz.cpp
Due: clang-format, cmake-format

Diable redo by default (#24)
  README.md
  main.cpp
Due: none

Merge athena updates (#1)
  examples/2023-Chen-exo3/W92.inp
  examples/2023-Chen-exo3/hs94-ci.inp
  patches/31.task_list.patch
Due: none

exo2 doc
  doc/README-exo2.md
Due: none
