Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

Add uniform forcing case (#30)
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  examples/2024-XZhang-cloud-rt/hjupiter.inp
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
  examples/2024-XZhang-cloud-rt/hywater.yaml
Due: none

Add dynamic sun (#3)
  README.md
  examples/2024-XZhang-cloud-rt/hjupiter.inp
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
  examples/2024-XZhang-cloud-rt/hywater.inp
  src/harp/rt_solver_disort.cpp
Due: clang-format

3d coriolis -> 2d coriolis
  examples/2023-Chen-exo3/hot_jupiter.cpp
  examples/2023-Chen-exo3/hs94.cpp
Due: none

add mpi guard
  src/exo3/cubed_sphere.cpp
Due: clang-format

Add global RCE (#2)
  cmake/hjupiter.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/hj-latlon.inp
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  examples/2024-XZhang-cloud-rt/hjupiter.inp
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
Due: cmake-format

merge canoe api
  examples/2023-Chen-exo3/CMakeLists.txt
  examples/2023-Chen-exo3/hot_jupiter.cpp
  examples/2023-Chen-exo3/hs94.cpp
  examples/2023-Chen-exo3/polar_dry.cpp
  examples/2023-Chen-exo3/test_adiabat.cpp
  patches/19.calculate_fluxes.patch
  src/impl.hpp
  src/mesh_redo.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/riemann/hllc_transform.cpp
Due: clang-format

exo2 doc
  doc/README-exo2.md
Due: none

remove redo
  main.cpp
Due: none

working time-dependent grey model
  examples/2024-XZhang-cloud-rt/hjupiter.inp
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
  src/harp/rt_solver_disort.cpp
Due: clang-format

add zenith angle as a user defined output variable (#32)
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
Due: none

Fix temperature cell to interface interpolation error (#33)
  examples/2024-XZhang-cloud-rt/hjupiter.inp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/set_spectral_properties.cpp
Due: clang-format

add sponge layer (temporary)
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  examples/2024-XZhang-cloud-rt/hjupiter.inp
  src/harp/set_spectral_properties.cpp
Due: clang-format

Add Helios CK Table (#35)
  .gitignore
  requirements.txt
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/rt_solver_disort.cpp
  src/opacity/absorber_ck.cpp
  src/opacity/absorber_ck.hpp
  src/opacity/correlatedk_absorber.hpp
  src/opacity/helios_ck_premix.cpp
Due: clang-format

Add fluor and fisort
  src/harp/rt_solver_disort.cpp
Due: clang-format

Update actions workflow
  .github/workflows/main.yml
Due: none

Update actions run triggers
  .github/workflows/main.yml
Due: none

Add noflux.cpp (#36)
  cmake/hjupiter.cmake
  src/snap/riemann/noflux.cpp
Due: clang-format, cmake-format

add bflux in Forcing (#39)
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  examples/2024-XZhang-cloud-rt/hjupiter.inp
Due: none

HJ grey RT can work with small fix (#40)
  cmake/hjupiter.cmake
  examples/2024-XZhang-cloud-rt/hjupiter-spherical.inp
  examples/2024-XZhang-cloud-rt/hjupiter-uniform.yaml
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  patches/19.calculate_fluxes.patch
  src/checks.cpp
  src/checks.hpp
  src/exo3/cubed_sphere.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/opacity/Giants/freedman_simple2.cpp
  src/opacity/absorber.hpp
  src/outputs/load_user_output_data.cpp
  src/snap/decomposition/change_to_entropy.cpp
  src/snap/decomposition/change_to_perturbation.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/implicit_solver.hpp
  src/snap/implicit/solve_implicit_3d.cpp
  src/snap/riemann/hllc_transform.cpp
  src/tasklist/implicit_hydro_tasks.cpp
  src/virtual_groups.hpp
Due: clang-format, cmake-format

add remaining changes from HJ-greyRT
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  examples/2024-XZhang-cloud-rt/hjupiter.inp
Due: none

Add convective adjustment, single column, and broyden root method (#41)
  src/CMakeLists.txt
  src/air_parcel.cpp
  src/air_parcel.hpp
  src/checks.cpp
  src/checks.hpp
  src/climath/broyden_root.c
  src/climath/broyden_root.h
  src/climath/broyden_root_utils.c
  src/climath/broyden_root_utils.h
  src/impl.cpp
  src/impl.hpp
  src/single_column/CMakeLists.txt
  src/single_column/convective_adjustment.cpp
  src/single_column/single_column.cpp
  src/single_column/single_column.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/CMakeLists.txt
  tests/test_convective_adjustment.cpp
  tests/test_convective_adjustment.inp
Due: clang-format

Fix typo in convective adjustment (#45)
  src/single_column/convective_adjustment.cpp
Due: clang-format

merge back to canoe
  .github/workflows/main.yml
  examples/2019-Li-snap/plot_straka.py
  patches/19.calculate_fluxes.patch
  src/checks.cpp
  src/checks.hpp
  src/snap/decomposition/change_to_entropy.cpp
  tests/CMakeLists.txt
  tests/test_convective_adjustment.cpp
Due: clang-format

Semi-correct implicit solver (#21)
  examples/2023-Chen-exo3/hs94-stable20.inp
  examples/2023-Chen-exo3/hs94.cpp
  main.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/solve_implicit_3d.cpp
  tests/test_transform.cpp
Due: clang-format

Upgrade ExoCubed to modern C++ (#1)
  CODEOWNERS
  cmake/athena.cmake
  cmake/parameters.cmake
  configure.hpp.in
  patches/25.cs_meshblock.patch
  patches/26.cs_adiabatic_hydro.patch
  patches/27.cs_coordinates.patch
  patches/28.cs_bvals_cc.patch
  patches/29.cs_bvals_var.patch
  patches/30.cs_bvals_base.patch
  patches/31.cs_calculate_fluxes.patch
  src/exo3/cs_find_block_id.cpp
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
  src/exo3/cubed_sphere_transform.cpp
  src/exo3/cubed_sphere_utility.cpp
  src/exo3/cubed_sphere_utility.hpp
  src/exo3/gnomonic_equiangle.cpp
  src/impl.cpp
  src/impl.hpp
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/lmars_shallow_yz.cpp
  src/snap/riemann/roe_shallow_yz.cpp
Due: clang-format, cmake-format

Use area-difference form (#4)
  src/exo3/gnomonic_equiangle.cpp
Due: clang-format

Fix Coriolis (#15)
  examples/2023-Chen-exo3/hs94.cpp
  examples/2023-Chen-exo3/steady_zonal.cpp
  examples/2023-Chen-exo3/steady_zonal.inp
  examples/2023-Chen-exo3/test_blast.cpp
  examples/2023-Chen-exo3/test_injection.cpp
  examples/2023-Chen-exo3/test_injection.inp
  src/exo3/cubed_sphere.cpp
Due: clang-format

Fixed the in-block parallel interpolation coordinate calculations.
  cmake/exo3_3.cmake
  examples/2023-Chen-exo3/test_blast_192.inp
  examples/2023-Chen-exo3/test_blast_384.inp
  examples/2023-Chen-exo3/test_blast_768.inp
  src/exo3/cubed_sphere_utility.cpp
Due: clang-format, cmake-format

Restore previous cubedsphere example (#2)
  .gitignore
  cmake/exo3.cmake
  cmake/parameters.cmake
  examples/2023-Chen-exo3/test_blast.cpp
  examples/2023-Chen-exo3/test_blast.inp
  examples/CMakeLists.txt
  patches/27.cs_coordinates.patch
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
  src/exo3/gnomonic_equiangle.cpp
Due: clang-format, cmake-format

Add redo if hydro check does not pass (#20)
  main.cpp
  src/impl.hpp
  src/mesh_redo.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/solve_implicit_3d.cpp
Due: clang-format

Clean up gnomonic equiangle functions (#7)
  src/exo3/gnomonic_equiangle.cpp
  src/exo3/gnomonic_equiangle.hpp
  src/snap/riemann/lmars_shallow_yz.cpp
  src/snap/riemann/roe_shallow_yz.cpp
Due: clang-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
