Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

straka works
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format

wip
  examples/2019-Li-snap/straka.inp
Due: none

wip
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/earth-dry.yaml
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/robert2d.inp
  examples/2019-Li-snap/straka.inp
  patches/25.constant_acc.patch
  src/exo3/exo3.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format, cmake-format

wip
  cmake/examples/dam.cmake
  cmake/examples/exo2.cmake
  cmake/examples/robert.cmake
  cmake/examples/straka.cmake
  cmake/examples/vortex.cmake
  cmake/parameters.cmake
  examples/2019-Li-snap/robert2d.inp
  src/exo3/exo3.hpp
  src/snap/riemann/lmars.cpp
Due: clang-format, cmake-format

wip
  patches/26.adiabatic_hydro.patch
Due: none

wip
  cmake/examples/robert.cmake
  examples/2019-Li-snap/robert3d.inp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

Revise thermodynamcis - robert (#172)
  cmake/examples/dam.cmake
  cmake/examples/exo2.cmake
  cmake/examples/robert.cmake
  cmake/examples/straka.cmake
  cmake/examples/vortex.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/earth-dry.yaml
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/robert2d.inp
  examples/2019-Li-snap/robert3d.inp
  examples/2019-Li-snap/straka.inp
  patches/25.constant_acc.patch
  patches/26.adiabatic_hydro.patch
  src/exo3/exo3.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

wip
  examples/2019-Li-snap/bryan.cpp
  src/snap/thermodynamics/atm_thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format

testing thermodynamics
  examples/2019-Li-snap/bryan.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  tests/CMakeLists.txt
  tests/jup-thermo.yaml
  tests/test_jup_thermo.cpp
  tests/test_thermodynamics.cpp
Due: clang-format

equilibrate_tp
  cmake/athena.cmake
  configure.hpp.in
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  tests/test_jup_thermo.cpp
Due: clang-format, cmake-format

add test for equilibrate_tp and equilibrate_uv
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  tests/jup-thermo.yaml
  tests/test_jup_thermo.cpp
Due: clang-format

bryan runs
  cmake/examples/bryan.cmake
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-moist.yaml
  examples/2019-Li-snap/jup-thermo.yaml
  src/air_parcel.cpp
  src/impl.cpp
  src/impl.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/snap/thermodynamics/equilibrate_tp.cpp
Due: clang-format, cmake-format

wip
  examples/2019-Li-snap/bryan.cpp
  src/snap/thermodynamics/atm_thermodynamics.hpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  tests/test_jup_thermo.cpp
Due: clang-format

init seems correct
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-moist.yaml
  src/outputs/load_user_output_data.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
Due: clang-format

wip
  cmake/examples/bryan.cmake
  examples/2019-Li-snap/bryan.inp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format, cmake-format

wip
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format

revise eos
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

add rh
  examples/2019-Li-snap/bryan.cpp
  src/snap/thermodynamics/atm_thermodynamics.hpp
Due: clang-format

add theta_e
  examples/2019-Li-snap/bryan.cpp
  src/snap/thermodynamics/atm_thermodynamics.hpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
Due: clang-format

wip
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
Due: clang-format

wip
  patches/24.time_integrator.patch
  tests/test_jup_thermo.cpp
Due: clang-format

add earth test
  tests/CMakeLists.txt
  tests/earth-thermo.yaml
  tests/test_earth_thermo.cpp
  tests/test_jup_thermo.cpp
Due: clang-format

wip
  tests/test_earth_thermo.cpp
Due: clang-format

h0 needs to be consistently defined with svp
  src/snap/thermodynamics/equilibrate_tp.cpp
  tests/earth-thermo.yaml
  tests/test_earth_thermo.cpp
Due: clang-format

initial correct
  examples/2019-Li-snap/earth-moist.yaml
  tests/earth-thermo.yaml
Due: none

works, some asymmetry develops
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-moist.yaml
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/earth-thermo.yaml
  tests/test_earth_thermo.cpp
Due: clang-format

finish
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/atm_thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics.cpp
Due: clang-format

use hllc
  cmake/examples/bryan.cmake
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  tests/test_earth_thermo.cpp
Due: clang-format, cmake-format

consolidate
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format

using 3 iterations
  src/snap/thermodynamics/equilibrate_uv.cpp
Due: clang-format

done with bryan (fix implicit as well)
  examples/2019-Li-snap/jup-thermo.yaml
  src/snap/implicit/flux_decomposition.hpp
  src/snap/implicit/forward_backward.hpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/implicit/periodic_forward_backward.hpp
Due: clang-format

Revise thermodynamcis - bryan (#173)
  cmake/athena.cmake
  cmake/examples/bryan.cmake
  configure.hpp.in
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-moist.yaml
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  patches/24.time_integrator.patch
  src/air_parcel.cpp
  src/impl.cpp
  src/impl.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/outputs/load_user_output_data.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/flux_decomposition.hpp
  src/snap/implicit/forward_backward.hpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/implicit/periodic_forward_backward.hpp
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/atm_thermodynamics.hpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/CMakeLists.txt
  tests/earth-thermo.yaml
  tests/jup-thermo.yaml
  tests/test_earth_thermo.cpp
  tests/test_jup_thermo.cpp
  tests/test_thermodynamics.cpp
Due: clang-format, cmake-format

add jcrm
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.cpp.new
  examples/2019-Li-snap/jcrm.cpp
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-micro.yaml
  examples/2019-Li-snap/jup-thermo-reduced.yaml
  examples/2019-Li-snap/jvortex.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

compiles and runs
  cmake/examples/bryan.cmake
  cmake/examples/jcrm.cmake
  cmake/examples/jupiter_crm.cmake
  examples/2019-Li-snap/jcrm.cpp
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-thermo-H2O-NH3.yaml
  examples/CMakeLists.txt
  src/outputs/load_user_output_data.cpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
Due: clang-format, cmake-format

wip
  examples/2019-Li-snap/jcrm.cpp
  examples/2019-Li-snap/jcrm.inp
Due: none

works now
  THIS_MAY_BREAK
  examples/2019-Li-snap/jcrm.cpp
  examples/2019-Li-snap/jcrm.inp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format

done
  cmake/examples/jcrm.cmake
  examples/2019-Li-snap/jcrm.inp
Due: cmake-format

Revise thermodynamcis - jcrm (#174)
  THIS_MAY_BREAK
  cmake/examples/bryan.cmake
  cmake/examples/jcrm.cmake
  cmake/examples/jupiter_crm.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.cpp.new
  examples/2019-Li-snap/jcrm.cpp
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-micro.yaml
  examples/2019-Li-snap/jup-thermo-H2O-NH3.yaml
  examples/2019-Li-snap/jvortex.cpp
  examples/2019-Li-snap/jvortex.inp
  examples/CMakeLists.txt
  src/outputs/load_user_output_data.cpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format, cmake-format
