Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

CK and LBL RT working (#6)
  doc/README-opacity.md
  examples/2024-CMetz-amars/amars.inp
  examples/2024-CMetz-amars/amarsw-ck.yaml
  examples/2024-CMetz-amars/amarsw-lbl.yaml
  examples/2024-CMetz-amars/amarsw-mp.yaml
  examples/2024-CMetz-amars/amarsw-op.yaml
  examples/2024-CMetz-amars/amarsw.atm
  examples/2024-CMetz-amars/amarsw.cpp
  examples/2024-CMetz-amars/amarsw.inp
  examples/2024-CMetz-amars/amarsw_old.yaml
  examples/2024-CMetz-amars/run_disort_amars.py
  examples/2024-CMetz-amars/run_ktable_amars.py
  python/pyathena.cpp
  python/pycanoe.cpp
  python/pyharp.cpp
  src/harp/radiation_band.cpp
  src/harp/rt_solver_disort.cpp
  src/harp/spectral_grid.cpp
  src/impl.cpp
  src/impl.hpp
  src/opacity/absorber_factory.cpp
  src/opacity/hitran_absorber.cpp
  src/opacity/hitran_absorber.hpp
  src/snap/thermodynamics/calc_surf_evaporation_rates.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_cloud_new.cpp_
  src/surface/surface.cpp
  src/surface/surface.hpp
  src/utils/modify_atmoshere.cpp
  src/utils/modify_atmoshere.hpp
  tools/atm_profile_utils.py
  tools/rfmlib.py
  tools/run_cktable.py
Due: clang-format

merge amars convective model to canoe (#2)
  cmake/amars.cmake
  examples/2024-CMetz-amars/CMakeLists.txt
  examples/2024-CMetz-amars/amars.cpp
  examples/2024-CMetz-amars/amars.inp
  examples/2024-CMetz-amars/amars.yaml
  examples/CMakeLists.txt
  src/snap/thermodynamics/vapors/carbon_dioxide_vapors.hpp
  src/snap/thermodynamics/vapors/sulfur_dioxide_vapors.hpp
  src/special/amars_enroll_vapor_functions_v1.hpp
  tests/CMakeLists.txt
  tests/test_rad_unit.cpp
Due: clang-format, cmake-format

convective model working intermediate T (#3)
  README
  examples/2024-CMetz-amars/amars.inp
  examples/2024-CMetz-amars/amars.yaml
  src/snap/thermodynamics/vapors/carbon_dioxide_vapors.hpp
Due: clang-format

lbl rt (#4)
  cmake/examples/amars.cmake
  examples/2024-CMetz-amars/CMakeLists.txt
  examples/2024-CMetz-amars/amarsw.cpp
  examples/2024-CMetz-amars/amarsw.inp
  examples/2024-CMetz-amars/amarsw.yaml
  examples/2024-CMetz-amars/run_disort_amars.py
  examples/2024-CMetz-amars/run_ktable_amars.py
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_cloud.cpp
  tests/CMakeLists.txt
  tests/test_rad_unit.cpp
Due: clang-format, cmake-format

update CalFlux signature
  python/pyharp.cpp
Due: clang-format

wip
  CMakeLists.txt
  cmake/modules/FindCantera.cmake
  examples/2019-Li-snap/thermo.yaml
  examples/2019-Li-snap/water_ammonia.yaml
  src/CMakeLists.txt
  src/harp/CMakeLists.txt
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_bands_factory.cpp
  src/harp/spectral_grid.cpp
  src/harp/spectral_grid.hpp
  src/inversion/CMakeLists.txt
  src/inversion/composition_inversion.cpp
  src/inversion/inversion.hpp
  src/inversion/inversion_factory.cpp
  src/inversion/profile_inversion.cpp
  src/microphysics/CMakeLists.txt
  src/microphysics/microphysical_schemes.hpp
  src/opacity/CMakeLists.txt
  src/opacity/absorber.cpp
  src/opacity/absorber.hpp
  src/opacity/absorber_factory.cpp
  src/single_column/convective_adjustment.cpp
  src/snap/CMakeLists.txt
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/tasklist/CMakeLists.txt
  src/virtual_groups.cpp
  src/virtual_groups.hpp
  tests/CMakeLists.txt
Due: clang-format, cmake-format

wip
  cmake/macros/macro_setup_test.cmake
  cmake/modules/FindCantera.cmake
  src/CMakeLists.txt
  src/snap/CMakeLists.txt
  tests/CMakeLists.txt
  tests/test_read_yaml.cpp
Due: clang-format, cmake-format

wip
  examples/2019-Li-snap/jup-thermo.yaml
  examples/2019-Li-snap/thermo.yaml
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  tests/test_thermodynamics.inp
Due: clang-format

wip
  examples/2019-Li-snap/jup-thermo.yaml
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  examples/2019-Li-snap/jup-thermo.yaml
  src/snap/thermodynamics/calc_surf_evaporation_rates.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  tests/CMakeLists.txt
  tests/test_thermodynamics.cpp
Due: clang-format

mist
  examples/2019-Li-snap/jup-thermo.yaml
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  tests/test_thermodynamics.cpp
Due: clang-format

moist tp works
  examples/2019-Li-snap/jup-thermo.yaml
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  tests/test_thermodynamics.cpp
Due: clang-format

equilibrate uv
  examples/2019-Li-snap/jup-thermo.yaml
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  tests/test_thermodynamics.cpp
Due: clang-format

moist uv works
  src/snap/thermodynamics/equilibrate_uv.cpp
  tests/test_thermodynamics.cpp
Due: clang-format

semi-finish
  src/snap/thermodynamics/equilibrate_uv.cpp
  tests/test_thermodynamics.cpp
Due: clang-format

example runs
  examples/2019-Li-snap/bryan.cpp
  src/snap/thermodynamics/equilibrate_sp.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  examples/2019-Li-snap/bryan.cpp
Due: none

wip
  examples/2019-Li-snap/bryan.cpp.new
  examples/2019-Li-snap/water_ammonia.yaml
  examples/2019-Li-snap/water_ammonia.yaml.new
Due: none

better yaml
  CMakeLists.txt
  cmake/modules/FindCantera.cmake
  examples/2019-Li-snap/bryan-thermo.yaml
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_bands_factory.cpp
  src/harp/spectral_grid.cpp
  src/inversion/CMakeLists.txt
  src/inversion/composition_inversion.cpp
  src/inversion/inversion_factory.cpp
  src/inversion/profile_inversion.cpp
  src/microphysics/CMakeLists.txt
  src/microphysics/microphysical_schemes.cpp
  src/opacity/CMakeLists.txt
  src/opacity/absorber.cpp
  src/opacity/absorber_factory.cpp
Due: clang-format, cmake-format

wip
  src/microphysics/microphysical_schemes.hpp
Due: clang-format

wip
  src/virtual_groups.cpp
  tests/CMakeLists.txt
Due: clang-format

wip
  tests/test_read_yaml.cpp
Due: clang-format

Revise thermodynamics step-1 (#154)
  CMakeLists.txt
  cmake/macros/macro_setup_test.cmake
  cmake/modules/FindCantera.cmake
  examples/2019-Li-snap/bryan-thermo.yaml
  examples/2019-Li-snap/bryan.cpp.new
  examples/2019-Li-snap/jup-thermo.yaml
  examples/2019-Li-snap/water_ammonia.yaml.new
  src/CMakeLists.txt
  src/harp/CMakeLists.txt
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_bands_factory.cpp
  src/harp/spectral_grid.hpp
  src/inversion/composition_inversion.cpp
  src/inversion/inversion.hpp
  src/inversion/inversion_factory.cpp
  src/inversion/profile_inversion.cpp
  src/microphysics/CMakeLists.txt
  src/microphysics/microphysical_schemes.cpp
  src/microphysics/microphysical_schemes.hpp
  src/opacity/absorber.cpp
  src/opacity/absorber.hpp
  src/opacity/absorber_factory.cpp
  src/single_column/convective_adjustment.cpp
  src/snap/thermodynamics/calc_surf_evaporation_rates.cpp
  src/snap/thermodynamics/equilibrate_sp.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/tasklist/CMakeLists.txt
  src/virtual_groups.cpp
  src/virtual_groups.hpp
  tests/test_thermodynamics.cpp
  tests/test_thermodynamics.inp
Due: clang-format, cmake-format

fix mpi
  examples/2024-CMetz-amars/amarsw.cpp
  python/CMakeLists.txt
  python/pyharp.cpp
Due: clang-format

wip
  src/snap/reconstruct/interpolation.hpp
Due: clang-format

weno test pass
  CMakeLists.txt
  cmake/macros/macro_setup_test.cmake
  cmake/modules/FindTorch.cmake
  src/CMakeLists.txt
  src/snap/CMakeLists.txt
  src/snap/reconstruct/interpolation.hpp
  tests/test_weno.cpp
Due: clang-format, cmake-format

add tensor
  src/snap/reconstruct/interpolation.hpp
  src/snap/reconstruct/weno5.cpp
  tests/test_weno.cpp
Due: clang-format

weno mps
  src/snap/reconstruct/interpolation.cpp
  src/snap/reconstruct/interpolation.hpp
  tests/test_weno.cpp
Due: clang-format

finish weno
  src/snap/reconstruct/interpolation.cpp
  src/snap/reconstruct/interpolation.hpp
  tests/test_weno.cpp
Due: clang-format

wenox1
  cmake/athena.cmake
  configure.hpp.in
  src/harp/set_spectral_properties.cpp
  src/inversion/profile_inversion.cpp
  src/single_column/convective_adjustment.cpp
  src/snap/athena_arrays.hpp
  src/snap/decomposition/change_to_buoyancy.cpp
  src/snap/decomposition/decomposition.cpp
  src/snap/eos/check_hydro_variables.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/solve_implicit_3d.cpp
  src/snap/reconstruct/interpolation.hpp
  src/snap/reconstruct/weno5.cpp
  src/snap/stride_iterator.hpp
  src/utils/construct_atmosphere.cpp
  tests/CMakeLists.txt
  tests/test_reconstruct.cpp
  tests/test_weno.cpp
Due: clang-format, cmake-format

wenox2
  src/snap/reconstruct/weno5.cpp
  tests/test_reconstruct.cpp
Due: clang-format

x3
  src/snap/reconstruct/weno5.cpp
  tests/test_reconstruct.cpp
Due: clang-format

add lmars solver
  src/snap/CMakeLists.txt
  src/snap/riemann/rs_hydro_lmars.cpp
  tests/test_reconstruct.cpp
Due: clang-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
