Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

wip
  CODEOWNERS
  examples/2019-Li-snap/bryan.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_cloud.cpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_vapor_cloud.cpp
Due: clang-format

wip
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  src/index_map.hpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

add chem data
  cmake/uranus_mwr.cmake
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/snap/thermodynamics/chemdata/C2H2.chem
  src/snap/thermodynamics/chemdata/C2H6.chem
  src/snap/thermodynamics/chemdata/CH4.chem
  src/snap/thermodynamics/chemdata/CO.chem
  src/snap/thermodynamics/chemdata/CO2.chem
  src/snap/thermodynamics/chemdata/H2.chem
  src/snap/thermodynamics/chemdata/H2O.chem
  src/snap/thermodynamics/chemdata/H2S.chem
  src/snap/thermodynamics/chemdata/He.chem
  src/snap/thermodynamics/chemdata/N2.chem
  src/snap/thermodynamics/chemdata/N2O.chem
  src/snap/thermodynamics/chemdata/NH3.chem
  src/snap/thermodynamics/chemdata/NH4SH.chem
  src/snap/thermodynamics/chemdata/O2.chem
  src/snap/thermodynamics/chemdata/O3.chem
  src/snap/thermodynamics/chemdata/OCS.chem
  src/snap/thermodynamics/chemdata/PH3.chem
  src/snap/thermodynamics/chemdata/SO2.chem
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format, cmake-format

wip
  data/Galileo/GalileoGPMS.txt
  data/Galileo/GalileoProbeTp_Seiff.98.txt
  data/Galileo/GalileoRadio_Folkner.98.txt
  data/cosmic_abundance.txt
Due: none

wip
  src/snap/thermodynamics/vapors/ammonium_hydrosulfide_vapors.hpp
  src/snap/thermodynamics/vapors/hydrogen_sulfide_vapors.hpp
  src/snap/thermodynamics/vapors/methane_vapors.hpp
Due: clang-format

wip
  cmake/uranus_mwr.cmake
  examples/2023-Li-uranus/CMakeLists.txt
  examples/2023-Li-uranus/uranus.inp
  examples/2023-Li-uranus/uranus_mwr.cpp
  src/opacity/Giants/microwave/absorption_functions.hpp
  src/opacity/Giants/microwave/attenuation_cia.cpp
  src/opacity/Giants/microwave/attenuation_h2s.cpp
  src/opacity/Giants/microwave/mwr_absorber_cia.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2s.cpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format, cmake-format

wip
  examples/2023-Li-uranus/uranus.inp
  examples/CMakeLists.txt
  src/snap/thermodynamics/enroll_vapor_functions.cpp
Due: clang-format

wip
  examples/2023-Li-uranus/uranus.inp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
Due: clang-format

wip
  examples/2023-Li-saturn-storm/saturn.yaml
  examples/2023-Li-uranus/uranus_mwr.cpp
Due: none

wip
  examples/2023-Li-uranus/uranus.inp
  src/snap/thermodynamics/Molecule.cc
  src/snap/thermodynamics/molecules.hpp
  tests/test_ammonium_hydrosulfide.cpp
  tests/test_ammonium_hydrosulfide.inp
Due: clang-format

wip
  src/snap/thermodynamics/molecules.cpp
Due: clang-format

wip
  main.cpp.in
  src/snap/thermodynamics/molecules.cpp
  src/snap/thermodynamics/molecules.hpp
  src/snap/thermodynamics/thermodynamics.cpp
  tests/CMakeLists.txt
  tests/globals.cpp.in
  tests/test_ammonium_hydrosulfide.cpp
  tests/test_thermodynamics.cpp
Due: clang-format

wip
  src/index_map.cpp
  src/index_map.hpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  main.cpp.in
  src/index_map.cpp
  src/snap/thermodynamics/chemdata/NH4SH(s).thermo
  src/snap/thermodynamics/thermodynamics.cpp
  tests/CMakeLists.txt
  tests/globals.cpp.in
  tests/test_ammonium_hydrosulfide.cpp
Due: clang-format

wip
  .github/workflows/main.yml
  tests/test_ammonium_hydrosulfide.cpp
  tests/test_ammonium_hydrosulfide.inp
Due: clang-format

wip
  .github/workflows/main.yml
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

finish
  cmake/uranus_mwr.cmake
  examples/2023-Li-uranus/uranus.inp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_vapor_cloud.cpp
Due: clang-format, cmake-format

Finish Uranus model (#59)
  .github/workflows/main.yml
  cmake/uranus_mwr.cmake
  examples/2023-Li-uranus/uranus.inp
  main.cpp.in
  src/index_map.cpp
  src/index_map.hpp
  src/snap/thermodynamics/chemdata/NH4SH(s).thermo
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/molecules.cpp
  src/snap/thermodynamics/molecules.hpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_vapor_cloud.cpp
  tests/CMakeLists.txt
  tests/globals.cpp.in
  tests/test_ammonium_hydrosulfide.cpp
  tests/test_ammonium_hydrosulfide.inp
  tests/test_thermodynamics.cpp
Due: clang-format, cmake-format

add saturn model
  cmake/saturn_radio.cmake
  examples/2023-Li-saturn-vla/CMakeLists.txt
  examples/2023-Li-saturn-vla/radio_channels.yaml
  examples/2023-Li-saturn-vla/saturn.yaml
  examples/2023-Li-saturn-vla/saturn_radio.cpp
  examples/2023-Li-saturn-vla/saturn_radio.inp
  examples/2023-Li-saturn-vla/saturn_vla-disk-1.6.inp
  examples/CMakeLists.txt
Due: cmake-format

Add Saturn model (#60)
  cmake/saturn_radio.cmake
  examples/2023-Li-saturn-vla/CMakeLists.txt
  examples/2023-Li-saturn-vla/radio_channels.yaml
  examples/2023-Li-saturn-vla/saturn.yaml
  examples/2023-Li-saturn-vla/saturn_radio.cpp
  examples/2023-Li-saturn-vla/saturn_radio.inp
  examples/2023-Li-saturn-vla/saturn_vla-disk-1.6.inp
  examples/CMakeLists.txt
Due: cmake-format

wip
  .github/workflows/main.yml
Due: none

Fix Github Runner (#61)
  .github/workflows/main.yml
Due: none

wip
  README.md
  doc/README-cpp.md
  doc/README-lfs.md
  doc/README-naming.md
  doc/README-problems.md
  doc/README-tips.md
  src/harp/absorber.cpp
  src/harp/absorber.hpp
  src/index_map.cpp
  src/index_map.hpp
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/hydrogen_cia.hpp
  src/opacity/Giants/microwave/mwr_absorber_cia.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2o.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorbers.hpp
  src/opacity/correlatedk_absorber.hpp
  src/opacity/fu_waterice_cloud.cpp
  src/opacity/hitran_absorber.cpp
  src/opacity/hitran_absorber.hpp
  src/opacity/nitrogen_cia.hpp
  src/opacity/oxygen_cia.hpp
  src/opacity/water_cloud.hpp
  src/opacity/xu_waterice_cloud.cpp
Due: clang-format

wip
  CODEOWNERS
  src/opacity/water_cloud.hpp
  src/opacity/xu_waterice_cloud.cpp
Due: clang-format

Add Xu water ice cloud (#62)
  CODEOWNERS
  README.md
  doc/README-cpp.md
  doc/README-lfs.md
  doc/README-naming.md
  doc/README-problems.md
  doc/README-tips.md
  src/harp/absorber.cpp
  src/harp/absorber.hpp
  src/index_map.cpp
  src/index_map.hpp
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/hydrogen_cia.hpp
  src/opacity/Giants/microwave/mwr_absorber_cia.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2o.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorbers.hpp
  src/opacity/correlatedk_absorber.hpp
  src/opacity/fu_waterice_cloud.cpp
  src/opacity/hitran_absorber.cpp
  src/opacity/hitran_absorber.hpp
  src/opacity/nitrogen_cia.hpp
  src/opacity/oxygen_cia.hpp
  src/opacity/water_cloud.hpp
  src/opacity/xu_waterice_cloud.cpp
Due: clang-format

wip
  python/pyathena.cpp
  python/pyharp.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
Due: clang-format

wip
  src/harp/radiation.cpp
  src/harp/radiation.hpp
Due: clang-format

wip
  CMakeLists.txt
  examples/2018-Li-harp/giants_ir.yaml
  examples/2018-Li-harp/giants_visir.yaml
  python/CMakeLists.txt
  python/pyathena.cpp
  python/pyharp.cpp
  tools/run_cktable.py.in
  tools/run_ktable_jup.py.in
Due: clang-format

wip
  python/CMakeLists.txt
  python/pyathena.cpp
  python/pyharp.cpp
  src/harp/absorber.hpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
Due: clang-format

wip
  python/CMakeLists.txt
Due: none

compiles
  cmake/uranus_ir.cmake
  examples/2018-Li-harp/CMakeLists.txt
  examples/2018-Li-harp/giants_re.cpp
  examples/CMakeLists.txt
  src/utils/fileio.cpp
  src/utils/fileio.hpp
  src/utils/vectorize.cpp
Due: clang-format, cmake-format

need to import index_map
  CMakeLists.txt
  cmake/uranus_ir.cmake
  examples/2018-Li-harp/giants_ir.inp
  examples/2018-Li-harp/giants_ir.yaml
  examples/2023-jupiter-mwr-eq/mwr_channels.yaml
  python/pyharp.cpp
  src/harp/add_absorber_giants.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/opacity/hitran_absorber.hpp
  tools/generate_opacity.py
Due: clang-format, cmake-format

semi working, pointer release problem
  cmake/uranus_ir.cmake
  python/CMakeLists.txt
  python/CMakeLists.txt.sav
  python/aiur.cpp
  python/pycanoe.cpp
  python/pyharp.cpp
  src/index_map.hpp
  tools/generate_opacity.py
Due: clang-format, cmake-format

FIXED! using shared_ptr
  python/pyharp.cpp
  tools/generate_opacity.py
Due: clang-format

archive lbl
  .gitignore
  python/pyharp.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  tools/generate_opacity.py
Due: clang-format

finish ck
  .gitignore
  tools/CMakeLists.txt
  tools/cktable.py.in
  tools/run_ktable_jup.py.in
Due: none

wip
  src/utils/fileio.hpp
  src/utils/vectorize.cpp
Due: clang-format

wip
  tests/example_infrared.yaml
  tests/example_radio.yaml
  tests/test_microwave_opacity.cpp
  tests/test_radiation.inp
  tools/run_cktable.py.in
  tools/run_ktable.py.in
  tools/run_ktable_jup.py.in
Due: clang-format
