Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

wip
  .pre-commit-config.yaml
  tools/CMakeLists.txt
Due: none

wip
  tests/test_yaml_read.cpp
Due: clang-format

wip
  tests/test_microwave_opacity.cpp
Due: clang-format

wip
  .github/workflows/main.yml
  src/opacity/Giants/microwave/mwr_absorber_cia.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2o.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorbers.hpp
  tests/test_microwave_opacity.cpp
Due: clang-format

wip
  .github/workflows/main.yml
  src/harp/absorber.hpp
  src/opacity/Giants/hydrogen_cia.hpp
  src/opacity/hitran_absorber.hpp
  src/opacity/nitrogen_cia.hpp
  src/opacity/oxygen_cia.hpp
Due: clang-format

wip
  python/pyharp.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  tools/generate_opacity.py
Due: clang-format

wip
  tools/CMakeLists.txt
  tools/run_ktable.py.in
  tools/run_ktable_jup.py.in
  tools/run_rfm.py
Due: none

wip
  tools/cktable.py.in
  tools/run_ktable.py.in
Due: none

wip
  .github/workflows/main.yml
Due: none

wip
  .github/workflows/main.yml
  tools/run_ktable.py.in
Due: none

done
  .github/workflows/main.yml
  CMakeLists.txt
  examples/2018-Li-harp/giants_ir.yaml
  src/harp/add_absorber_giants.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/opacity/hitran_absorber.hpp
  src/utils/extract_substring.cpp
  src/utils/extract_substring.hpp
  tools/CMakeLists.txt
  tools/example_giants_ir.inp
  tools/example_giants_ir.yaml
  tools/run_ktable.py.in
Due: clang-format

fix test
  .github/workflows/main.yml
  src/harp/add_absorber_giants.cpp
  tests/example_infrared.yaml
  tests/test_yaml_read.cpp
Due: clang-format

run_ktable.py.in
  tools/run_ktable.py.in
Due: none

wip
  tools/run_ktable.py.in
Due: none

wip
  cmake/mars_far_ir.cmake
  src/harp/add_absorber_mars.cpp
  src/harp/radiation_band.hpp
Due: clang-format, cmake-format

Add Mars infrared opacity (#64)
  cmake/mars_far_ir.cmake
  src/harp/add_absorber_mars.cpp
  src/harp/radiation_band.hpp
Due: clang-format, cmake-format

add README_linfel and modification to run_ktable_lava.py and run_rfm.py
  tools/README_linfel
  tools/run_ktable_lava.py
  tools/run_rfm.py
Due: none

formatted
  .pre-commit-config.yaml
  CODEOWNERS
  doc/README-linux.md
  examples/2023-Li-uranus/uranus.inp
  python/pycanoe.cpp
  python/pyharp.cpp
  tools/cktable.py.in
  tools/combine.py
  tools/generate_opacity.py
  tools/main2mcmc.py
  tools/run_rfm.py
Due: clang-format

format
  .pre-commit-config.yaml
  examples/2019-Li-snap/test_robert.py
  examples/2019-Li-snap/test_straka.py
  examples/2020-Li-polar-vortex/test_shallow.py
  tests/transport/plot.py
  tools/cktable.py.in
  tools/run_ktable.py.in
Due: none

Add README_linfel and modification to run_ktable_lava.py and run_rfm.py (#66)
  tools/README_linfel
  tools/run_ktable_lava.py
  tools/run_rfm.py
Due: none

add earth opacity
  src/harp/add_absorber_earth.cpp
  src/harp/radiation.cpp
  src/harp/radiation_band.hpp
Due: clang-format

Add python code to lint, add more python api (#68)
  .pre-commit-config.yaml
  CODEOWNERS
  doc/README-linux.md
  examples/2019-Li-snap/test_robert.py
  examples/2019-Li-snap/test_straka.py
  examples/2020-Li-polar-vortex/test_shallow.py
  examples/2023-Li-uranus/uranus.inp
  python/pycanoe.cpp
  python/pyharp.cpp
  tests/transport/plot.py
  tools/cktable.py.in
  tools/combine.py
  tools/generate_opacity.py
  tools/main2mcmc.py
  tools/run_ktable.py.in
  tools/run_rfm.py
Due: clang-format

cli/bryan3
  examples/2019-Li-snap/bryan.cpp
Due: none

wip
  cmake/bryan.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format, cmake-format

wip
  examples/2019-Li-snap/bryan.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_cloud.cpp
Due: clang-format

wip
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/vapors/water_vapors.hpp
Due: clang-format

wip
  .gitignore
  examples/2019-Li-snap/bryan.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  examples/2019-Li-snap/bryan.cpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
Due: clang-format

wip
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  tests/CMakeLists.txt
  tests/test_moist_adiabat.cpp
  tests/test_moist_adiabat.inp
Due: clang-format

wip
  src/snap/thermodynamics/thermodynamics.hpp
  tests/test_moist_adiabat.cpp
Due: clang-format

wip
  src/snap/thermodynamics/vapors/water_vapors.hpp
  tests/test_moist_adiabat.cpp
  tests/test_moist_adiabat.inp
Due: clang-format

wip
  tests/test_moist_adiabat.cpp
Due: clang-format

wip
  examples/2019-Li-snap/bryan.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  tests/test_moist_adiabat.cpp
Due: clang-format

wip
  doc/README-variables.md
  src/snap/thermodynamics/thermodynamics.cpp
  tests/test_moist_adiabat.cpp
Due: clang-format

wip
  src/snap/thermodynamics/thermodynamics.cpp
  tests/test_moist_adiabat.cpp
Due: clang-format

wip
  .github/workflows/main.yml
  examples/2019-Li-snap/bryan.cpp
Due: none

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
