Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

wip
  examples/2019-Li-snap/ammonia-kessler.yaml
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-micro.yaml
  examples/2019-Li-snap/jup-thermo.yaml
  examples/2019-Li-snap/water-kessler.yaml
  src/impl.cpp
  src/impl.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/schedulers.cpp
  src/schedulers.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

wip
  cmake/examples/rtcld.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/bdcld.yaml
  examples/2024-XZhang-cloud-rt/bdcld_cart.inp
  examples/2024-XZhang-cloud-rt/beta_rtjup3cld.cpp
  examples/2024-XZhang-cloud-rt/beta_rtjup3cld.inp
  examples/2024-XZhang-cloud-rt/cloud.info
  examples/2024-XZhang-cloud-rt/h2o-nh3-nh4sh.yaml
  examples/2024-XZhang-cloud-rt/rt_jup3cld.yaml
  examples/2024-XZhang-cloud-rt/silicate.yaml
  examples/2024-XZhang-cloud-rt/svp_functions.hpp
Due: cmake-format

add stokes
  cmake/examples/rtcld.cmake
  examples/2024-XZhang-cloud-rt/svp_functions.hpp
  src/microphysics/kessler94.cpp
Due: clang-format, cmake-format

wip
  examples/2024-XZhang-cloud-rt/silicate.yaml
  src/microphysics/kessler94.cpp
Due: clang-format

wip
  src/microphysics/kessler94.cpp
Due: clang-format

wip
  cmake/examples/rtcld.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/beta_rtsi.cpp
  examples/2024-XZhang-cloud-rt/svp_functions.hpp
Due: cmake-format

wip
  cmake/examples/rtcld.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/beta_rtjup3cld.cpp
  examples/2024-XZhang-cloud-rt/beta_rtsi.cpp
  examples/2024-XZhang-cloud-rt/example_rtcld.cpp
  examples/2024-XZhang-cloud-rt/rt_h2o.cpp
  examples/2024-XZhang-cloud-rt/rt_h2o_nh3.cpp
  examples/2024-XZhang-cloud-rt/rt_silicate.cpp
Due: cmake-format

modified the sedimentation flux for hllc
  src/snap/riemann/hllc_transform.cpp
Due: clang-format

fixed hllc sedimentation
  src/snap/riemann/hllc_transform.cpp
Due: clang-format

wip
  cmake/examples/rtcld.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/beta_rtjup3cld.cpp
  examples/CMakeLists.txt
  src/opacity/Giants/freedman_mean.cpp
Due: clang-format, cmake-format

use netcdf
  cmake/modules/FindNetCDF.cmake
Due: cmake-format

Tentative solution to multiprocessing
  src/exo3/cs_find_block_id.cpp
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.hpp
Due: clang-format

dirty fix
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.hpp
Due: clang-format

fixing a bug
  src/exo3/cs_transform_ox.cpp
Due: clang-format

new strategy
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.hpp
Due: clang-format

find block id
  src/exo3/cs_find_block_id.cpp
Due: clang-format

Some additional fixes of find neighbor blocks
  src/exo3/cs_find_block_id.cpp
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere_utility.cpp
Due: clang-format

Some missing fixes
  src/exo3/cs_find_block_id.cpp
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere_utility.cpp
Due: clang-format

Fixing some missing parts
  src/exo3/cs_transform_ox.cpp
Due: clang-format

fixed exo blocks by csh
  cmake/parameters.cmake
  configure.hpp.in
  examples/2024-XZhang-cloud-rt/beta_rtsi.cpp
  src/exo3/cs_find_block_id.cpp
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
  src/exo3/cubed_sphere_utility.cpp
Due: clang-format, cmake-format

Cleaned up the code, kept as a backdoor solution
  src/exo3/cs_find_block_id.cpp
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
  src/exo3/cubed_sphere_utility.cpp
Due: clang-format

fixed some build errors
  src/exo3/cs_find_block_id.cpp
  src/exo3/cubed_sphere_utility.cpp
Due: clang-format

Allowing the parallel for a more general 6*(2n)^2 blocks (#176)
  src/exo3/cs_find_block_id.cpp
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
  src/exo3/cubed_sphere_utility.cpp
Due: clang-format

Added back hotizontal transport
  src/snap/riemann/hllc_transform.cpp
Due: clang-format

wip
  cmake/examples/jupiter_h2o.cmake
  cmake/examples/minichem.cmake
  cmake/examples/rtcldexo.cmake
  cmake/minichem.cmake
  examples/2024-XZhang-minichem/CMakeLists.txt
  examples/2024-XZhang-minichem/dry_mini.cpp
  patches/35.mini_ch_i_dlsode.f90.patch
Due: cmake-format

wip on fixing minichem
  examples/2024-XZhang-minichem/dry_mini.inp
Due: none

add a new BDF solver for minichem
  examples/2024-XZhang-minichem/dry_mini.cpp
  examples/2024-XZhang-minichem/jup_mini.cpp
  patches/35.mini_ch_i_dlsode.f90.patch
Due: none

minichem wip
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/dry_mini.cpp
Due: cmake-format

fix minichem call
  examples/2024-XZhang-minichem/dry_mini.cpp
  examples/2024-XZhang-minichem/jup_mini.cpp
Due: none

wip
  examples/2024-XZhang-minichem/minichem.inp
  examples/2024-XZhang-minichem/minichem.inp.2
  examples/2024-XZhang-minichem/minichem.yaml
  examples/2024-XZhang-minichem/minichem.yaml.2
  examples/2024-XZhang-minichem/minichem_sphr.cpp
  examples/2024-XZhang-minichem/minichem_sphr.inp
  examples/2024-XZhang-minichem/run_disort_hjup.py
  examples/2024-XZhang-minichem/run_flux_1d.py
  examples/2024-XZhang-minichem/run_ktable_hjup.py
Due: none

wip
  cmake/examples/expansion.cmake
  examples/2024-YZhang-expansion/CMakeLists.txt
  examples/2024-YZhang-expansion/earth-dry.yaml
  examples/2024-YZhang-expansion/expansion.cpp
  examples/2024-YZhang-expansion/expansion.inp
  examples/CMakeLists.txt
Due: cmake-format

update minichem.cpp
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/CMakeLists.txt
  examples/2024-XZhang-minichem/mini.inp
  examples/2024-XZhang-minichem/minichem.cpp
Due: cmake-format

update minichem.cpp
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/mini.inp
  examples/2024-XZhang-minichem/minichem.cpp
Due: cmake-format

wip
  examples/2024-XZhang-minichem/mini.inp
Due: none

wip
  examples/2024-XZhang-minichem/minichem.cpp
Due: none

wip
  examples/2024-XZhang-minichem/mini.inp
  examples/2024-XZhang-minichem/minichem.cpp
Due: none

wip
  examples/2024-XZhang-minichem/conv-alichem.cpp
  examples/2024-XZhang-minichem/minichem.cpp
Due: none

wip
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/conv-alichem.cpp
Due: cmake-format
