Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

wip
  cmake/athena.cmake
  examples/2019-Li-snap/bryan_pgen.cpp
  tests/CMakeLists.txt
  tests/giants_enroll_vapor_functions.cpp
  tests/test_moist_adiabat.cpp
Due: clang-format, cmake-format

wip
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_cloud.cpp
  tests/test_moist_adiabat.cpp
Due: clang-format

finish
  .github/workflows/main.yml
  cmake/juno.cmake
  cmake/ktable_test.cmake
  cmake/mars_far_ir.cmake
  cmake/uranus_ir.cmake
  cmake/uranus_mwr.cmake
  examples/giants_add_absorber.cpp
  examples/giants_enroll_vapor_functions.cpp
  examples/mars_absorber.cpp
  python/CMakeLists.txt
  tests/CMakeLists.txt
Due: cmake-format

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
  Brewfile
  cmake/vortex.cmake
  doc/README-mods.md
  examples/2020-Li-polar-vortex/CMakeLists.txt
  examples/2020-Li-polar-vortex/fig_g_intruder.inp
  examples/2020-Li-polar-vortex/polar_vortex.cpp
  examples/2020-Li-polar-vortex/shallow_xy.cpp
  examples/2020-Li-polar-vortex/test_polar_vortex.py
  examples/2020-Li-polar-vortex/test_shallow_xy.py
  examples/2024-Li-plume/plume_pgen.cpp
Due: cmake-format

add intruder output
  README.md
  examples/2020-Li-polar-vortex/.gitattributes
  examples/2020-Li-polar-vortex/intruder_output.nc
Due: none

wip
  .github/workflows/mac.yml
Due: none

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
Due: none

Add polar vortex intruder test (#77)
  .github/workflows/mac.yml
  .github/workflows/main.yml
  Brewfile
  README.md
  cmake/vortex.cmake
  doc/README-mods.md
  examples/2020-Li-polar-vortex/.gitattributes
  examples/2020-Li-polar-vortex/CMakeLists.txt
  examples/2020-Li-polar-vortex/fig_g_intruder.inp
  examples/2020-Li-polar-vortex/intruder_output.nc
  examples/2020-Li-polar-vortex/polar_vortex.cpp
  examples/2020-Li-polar-vortex/shallow_xy.cpp
  examples/2020-Li-polar-vortex/test_polar_vortex.py
  examples/2020-Li-polar-vortex/test_shallow_xy.py
  examples/2024-Li-plume/plume_pgen.cpp
Due: cmake-format

wip
  examples/2019-Li-snap/bryan_pgen.cpp
  src/mesh_setup.cpp
Due: clang-format

Fix restart problem (#78)
  examples/2019-Li-snap/bryan_pgen.cpp
  src/mesh_setup.cpp
Due: clang-format

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
  examples/2024-Li-plume/plume_pgen.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  tools/check_artifact.sh
Due: clang-format

wip
  Brewfile
  CMakeLists.txt
  README.md
  doc/README-tips.md
  examples/2019-Li-snap/CMakeLists.txt
  examples/2024-Li-plume/CMakeLists.txt
  src/CMakeLists.txt
  src/snap/CMakeLists.txt
  tests/CMakeLists.txt
Due: none

wip
  examples/2018-Li-harp/CMakeLists.txt
  examples/2023-Li-saturn-vla/CMakeLists.txt
  examples/2023-Li-uranus/CMakeLists.txt
  examples/2023-jupiter-mwr-eq/CMakeLists.txt
  examples/2023-jupiter-mwr-eq/juno_mwr.inp
  examples/2023-jupiter-mwr-eq/juno_mwr_mods.cpp
  src/CMakeLists.txt
  src/harp/radiation.cpp
  src/mesh_destroy.cpp
  src/outputs/CMakeLists.txt
  src/outputs/diag_table_default.cpp
  src/outputs/diag_table_juno.cpp
  src/outputs/netcdf.cpp
  src/outputs/output_utils.cpp
  src/outputs/output_utils.hpp
Due: clang-format

wip
  .github/workflows/main.yml
Due: none

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
  src/outputs/pnetcdf.cpp
Due: clang-format

wip
  .github/workflows/main.yml
  README.md
Due: none

Update actions and outputs (#82)
  .github/workflows/mac.yml
  .github/workflows/main.yml
  Brewfile
  CMakeLists.txt
  README.md
  doc/README-tips.md
  examples/2018-Li-harp/CMakeLists.txt
  examples/2019-Li-snap/CMakeLists.txt
  examples/2023-Li-saturn-vla/CMakeLists.txt
  examples/2023-Li-uranus/CMakeLists.txt
  examples/2023-jupiter-mwr-eq/CMakeLists.txt
  examples/2023-jupiter-mwr-eq/juno_mwr.inp
  examples/2023-jupiter-mwr-eq/juno_mwr_mods.cpp
  examples/2024-Li-plume/CMakeLists.txt
  examples/2024-Li-plume/plume_pgen.cpp
  src/CMakeLists.txt
  src/harp/radiation.cpp
  src/mesh_destroy.cpp
  src/outputs/CMakeLists.txt
  src/outputs/diag_table_default.cpp
  src/outputs/diag_table_juno.cpp
  src/outputs/netcdf.cpp
  src/outputs/output_utils.cpp
  src/outputs/output_utils.hpp
  src/outputs/pnetcdf.cpp
  src/snap/CMakeLists.txt
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  tests/CMakeLists.txt
  tools/check_artifact.sh
Due: clang-format

wip
  .github/workflows/main.yml
  tools/check_artifact.sh
Due: none

Upload artifact (#83)
  .github/workflows/mac.yml
  .github/workflows/main.yml
  tools/check_artifact.sh
Due: none

cloud -> microphysics
  src/dusts/chemistry_solver.hpp
  src/dusts/cloud.hpp
  src/dusts/kessler94_h2o.cpp
Due: clang-format

more on microphysics, next is kessler
  src/CMakeLists.txt
  src/dusts/cloud.cpp
  src/dusts/cloud.hpp
  src/impl.hpp
  src/microphysics/CMakeLists.txt
  src/microphysics/chemistry_solver.hpp
  src/microphysics/cloud.cpp
  src/microphysics/kessler94_h2o.cpp
  src/microphysics/microphysics.hpp
Due: clang-format

wip
  .pre-commit-config.yaml
  examples/2024-Li-les/bomex.cpp
  tools/CMakeLists.txt
  tools/debug.sh.in
  tools/release.sh.in
Due: none

almost there
  src/microphysics/kessler94.cpp
  src/microphysics/kessler94_h2o.cpp
  src/microphysics/microphysical_scheme.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
Due: clang-format

wip
  src/harp/absorber.cpp
  src/harp/absorber.hpp
  src/microphysics/giant_chemistry.yaml
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_scheme.hpp
  src/microphysics/microphysics.hpp
  src/utils/parameter_map.hpp
Due: clang-format

compiles
  src/impl.cpp
  src/impl.hpp
  src/microphysics/chemistry_solver.hpp
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_scheme.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/hydrogen_cia.hpp
  src/opacity/Giants/microwave/mwr_absorber_cia.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2o.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorbers.hpp
  src/opacity/correlatedk_absorber.hpp
  src/opacity/hitran_absorber.hpp
  src/opacity/nitrogen_cia.hpp
  src/opacity/oxygen_cia.hpp
  src/opacity/water_cloud.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  src/utils/parameter_map.hpp
Due: clang-format
