Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

Fix pre-commit style (#127)
  cmake/hjupiter.cmake
  requirements.txt
  src/harp/read_stellar_flux.cpp
  src/harp/read_stellar_flux.hpp
  src/harp/rt_solver_disort.cpp
  src/opacity/Giants/freedman_simple2.cpp
  src/opacity/absorber.hpp
  src/opacity/absorber_ck.cpp
  src/opacity/absorber_ck.hpp
  src/opacity/helios_ck_premix.cpp
  src/opacity/read_cia_ff.cpp
  src/opacity/read_cia_ff.hpp
  src/opacity/read_rayleigh.cpp
  src/snap/implicit/solve_implicit_3d.cpp
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/noflux.cpp
  tests/test_read_cia_ff.cpp
  tests/test_read_rayleigh.cpp
  tests/test_read_stellar_flux.cpp
  tools/run_ktable_lava.py
Due: clang-format, cmake-format

revise exchanger
  patches/24.time_integrator.patch
  src/diagnostics/buoyancy.cpp
  src/diagnostics/curl.cpp
  src/diagnostics/diagnostics.cpp
  src/diagnostics/diagnostics.hpp
  src/diagnostics/divergence.cpp
  src/diagnostics/hydro_mean.cpp
  src/diagnostics/pressure_anomaly.cpp
  src/diagnostics/temperature_anomaly.cpp
  src/exchanger/exchanger.cpp
  src/exchanger/exchanger.hpp
  src/exchanger/message_traits.cpp
  src/exchanger/message_traits.hpp
  src/exchanger/neighbor_exchanger.hpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.cpp
  src/mesh_destroy.cpp
  src/mesh_setup.cpp
  src/nbody/particle_data.cpp
  src/nbody/particle_data.hpp
  src/nbody/particle_exchanger.cpp
  src/nbody/particles.hpp
  src/outputs/load_user_output_data.cpp
Due: clang-format

wip
  src/diagnostics/diagnostics.cpp
  src/diagnostics/diagnostics.hpp
  src/diagnostics/diagnostics_factory.cpp
  src/diagnostics/horizontal_divergence.cpp
  src/diagnostics/hydro_flux.cpp
  src/diagnostics/hydro_mean.cpp
  src/diagnostics/pressure_anomaly.cpp
  src/diagnostics/radiative_flux.cpp
  src/diagnostics/temperature_anomaly.cpp
  src/diagnostics/todo/pressure_anomaly.cpp
  src/diagnostics/todo/radiative_flux.cpp
  src/diagnostics/todo/temperature_anomaly.cpp
  src/diagnostics/todo/total_flux.cpp
  src/exchanger/exchanger.cpp
  src/exchanger/exchanger.hpp
  src/outputs/netcdf.cpp
  src/outputs/output_utils.cpp
  src/outputs/pnetcdf.cpp
Due: clang-format

wip
  src/outputs/pnetcdf.cpp
Due: clang-format

Refactoring Exchanger (#128)
  patches/24.time_integrator.patch
  src/diagnostics/buoyancy.cpp
  src/diagnostics/curl.cpp
  src/diagnostics/diagnostics.cpp
  src/diagnostics/diagnostics.hpp
  src/diagnostics/diagnostics_factory.cpp
  src/diagnostics/divergence.cpp
  src/diagnostics/horizontal_divergence.cpp
  src/diagnostics/hydro_flux.cpp
  src/diagnostics/hydro_mean.cpp
  src/diagnostics/pressure_anomaly.cpp
  src/diagnostics/radiative_flux.cpp
  src/diagnostics/temperature_anomaly.cpp
  src/diagnostics/todo/pressure_anomaly.cpp
  src/diagnostics/todo/radiative_flux.cpp
  src/diagnostics/todo/total_flux.cpp
  src/exchanger/exchanger.cpp
  src/exchanger/exchanger.hpp
  src/exchanger/message_traits.cpp
  src/exchanger/message_traits.hpp
  src/exchanger/neighbor_exchanger.hpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.cpp
  src/mesh_destroy.cpp
  src/mesh_setup.cpp
  src/nbody/particle_data.cpp
  src/nbody/particle_data.hpp
  src/nbody/particle_exchanger.cpp
  src/nbody/particles.hpp
  src/outputs/load_user_output_data.cpp
  src/outputs/netcdf.cpp
  src/outputs/output_utils.cpp
  src/outputs/pnetcdf.cpp
Due: clang-format

add forcing
  src/forcing/forcing.cpp
  src/forcing/forcing.hpp
  src/forcing/forcing_factory.cpp
  src/forcing/heating_cooling.cpp
  src/forcing/qe_moist_convection.f90
  src/forcing/relax_bot_comp.cpp
  src/forcing/relax_bot_temp.cpp
  src/forcing/relax_bot_velo.cpp
  src/forcing/sponge_layer.cpp
  src/physics/heating_cooling.cpp
  src/physics/physics.cpp
  src/physics/physics.hpp
  src/physics/register_package.cpp
  src/physics/relax_bot_temperature.cpp
  src/physics/sponge_layer.cpp
Due: clang-format

wip
  src/CMakeLists.txt
  src/forcing/CMakeLists.txt
  src/forcing/forcing.cpp
  src/forcing/forcing.hpp
  src/forcing/heating_cooling.cpp
  src/forcing/relax_bot_comp.cpp
  src/forcing/relax_bot_temp.cpp
  src/forcing/relax_bot_velo.cpp
  src/forcing/sponge_lyr.cpp
  src/impl.cpp
  src/impl.hpp
Due: clang-format

wip
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

Add Forcing (#129)
  src/CMakeLists.txt
  src/forcing/CMakeLists.txt
  src/forcing/forcing.cpp
  src/forcing/forcing.hpp
  src/forcing/forcing_factory.cpp
  src/forcing/heating_cooling.cpp
  src/forcing/qe_moist_convection.f90
  src/forcing/relax_bot_comp.cpp
  src/forcing/relax_bot_temp.cpp
  src/forcing/relax_bot_velo.cpp
  src/forcing/sponge_lyr.cpp
  src/impl.cpp
  src/impl.hpp
  src/physics/heating_cooling.cpp
  src/physics/physics.cpp
  src/physics/physics.hpp
  src/physics/register_package.cpp
  src/physics/relax_bot_temperature.cpp
  src/physics/sponge_layer.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

Remove check_reconstruct
  src/checks.cpp
Due: clang-format

wip
  src/checks.cpp
Due: clang-format

Revise checks (#130)
  src/checks.cpp
Due: clang-format

wip
  ai/parse_code.py
  doc/logo/logo-square.png
Due: none

wip
  ai/parse_code.py
  tools/parse_code.py
Due: none

wip
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

wip
  src/exo3/cs_find_block_id.cpp
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
  src/exo3/cubed_sphere_utility.hpp
Due: clang-format

intel
  src/snap/thermodynamics/enroll_vapor_functions.cpp
Due: clang-format

wip
  src/snap/thermodynamics/enroll_vapor_functions.cpp
Due: clang-format

wip
  CMakeLists.txt
  cmake/compilers.cmake
  cmake/hjupiter.cmake
  cmake/yamlpp.cmake
  tools/CMakeLists.txt
Due: cmake-format

wip
  src/snap/eos/ideal_moist_hydro.cpp
Due: clang-format

wip
  cmake/compilers.cmake
Due: cmake-format

Make compile with icc (#131)
  CMakeLists.txt
  cmake/compilers.cmake
  cmake/hjupiter.cmake
  cmake/yamlpp.cmake
  src/snap/eos/ideal_moist_hydro.cpp
  tools/CMakeLists.txt
Due: clang-format, cmake-format

wip
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_bands_factory.cpp
  src/opacity/absorber.cpp
  src/opacity/absorber.hpp
  src/opacity/absorber_factory.cpp
  src/opacity/helios_ck_premix.cpp
  tests/test_helios_ck_read.cpp
Due: clang-format

new grid type cktable
  doc/README-fork.md
  src/harp/radiation_band.cpp
  src/harp/spectral_grid.cpp
  src/harp/spectral_grid.hpp
  src/opacity/absorber_ck.hpp
  src/opacity/absorber_factory.cpp
  src/opacity/helios_ck_premix.cpp
  tests/helio_ck.yaml
  tests/test_helios_ck.inp
Due: clang-format

test added for ck_read
  tests/CMakeLists.txt
  tests/test_helios_ck_read.cpp
Due: clang-format

compiles
  src/harp/radiation_band.cpp
  src/harp/spectral_grid.cpp
  src/harp/spectral_grid.hpp
  src/harp/spectral_grid_factory.cpp
  src/opacity/absorber.hpp
  src/opacity/absorber_ck.cpp
  src/opacity/absorber_ck.hpp
  tests/test_helios_ck_read.cpp
Due: clang-format

wip
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/spectral_grid.cpp
  src/harp/spectral_grid.hpp
Due: clang-format

wip
  cmake/ktable_jupiter.cmake
  src/virtual_groups.hpp
  tools/example_giants_ir.yaml
  tools/example_hitran.yaml
  tools/example_jupiter_rt.yaml
  tools/run_disort_jupiter.py
  tools/run_ktable_hitran.py
Due: clang-format, cmake-format

wip
  tools/run_ktable_hitran.py
Due: none

revise kcoeff
  cmake/ktable_jupiter.cmake
  tools/example_jupiter_rt.yaml
  tools/kcoeff.cpp
  tools/run_ktable_hitran.py
Due: clang-format, cmake-format

wip
  python/CMakeLists.txt
  python/utilities.cpp
  src/opacity/absorber.hpp
  tools/CMakeLists.txt
  tools/canoe.py
  tools/canoe.py.in
  tools/rfmlib.py
  tools/run_ktable_hitran.py
Due: clang-format

wip
  examples/2024-FDing-jupiter-rt/jupiter_rt.yaml
  examples/2024-FDing-jupiter-rt/run_disort_jup.py
  examples/2024-FDing-jupiter-rt/run_ktable_jup.py
  python/pyharp.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_bands_factory.cpp
  src/opacity/absorber.hpp
  tools/rfmlib.py
  tools/run_disort_jupiter.py
Due: clang-format

wip
  cmake/ktable_jup.cmake
  examples/2024-FDing-jupiter-rt/CMakeLists.txt
  examples/2024-FDing-jupiter-rt/run_disort_jup.py
  examples/2024-FDing-jupiter-rt/run_ktable_jup.py
  examples/CMakeLists.txt
Due: cmake-format

wip
  examples/2024-FDing-jupiter-rt/run_disort_jup.py
  src/opacity/Giants/hydrogen_cia.hpp
  src/opacity/Giants/xiz_h2h2_cia.cpp
  src/opacity/Giants/xiz_h2he_cia.cpp
  src/opacity/absorber.hpp
  src/opacity/absorber_ck.cpp
  src/opacity/absorber_ck.hpp
  src/opacity/helios_ck_premix.cpp
  src/opacity/hitran_absorber.cpp
  src/opacity/hitran_absorber.hpp
  src/opacity/nitrogen_cia.cpp
  src/opacity/nitrogen_cia.hpp
  src/opacity/oxygen_cia.cpp
  src/opacity/oxygen_cia.hpp
  src/opacity/water_cloud.hpp
  src/opacity/xu_waterice_cloud.cpp
  tools/rfmlib.py
Due: clang-format

wip
  cmake/ktable_jup.cmake
  examples/2024-FDing-jupiter-rt/CMakeLists.txt
  examples/2024-FDing-jupiter-rt/jupiter1d.cpp
  examples/2024-FDing-jupiter-rt/jupiter1d.inp
  examples/2024-FDing-jupiter-rt/jupiter_rt.yaml
  examples/2024-FDing-jupiter-rt/run_disort_jup.py
  examples/2024-FDing-jupiter-rt/run_ktable_jup.py
  src/opacity/Giants/xiz_h2h2_cia.cpp
  src/opacity/Giants/xiz_h2he_cia.cpp
  tools/clean_rfm_runs.sh
Due: clang-format, cmake-format

wip
  src/opacity/absorber_ck.cpp
Due: clang-format

wip
  cmake/hjupiter.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
  examples/2024-XZhang-cloud-rt/hywater.yaml
  examples/2024-XZhang-cloud-rt/run_disort_hjup.py
  examples/2024-XZhang-cloud-rt/run_ktable_hjup.py
  src/opacity/absorber.cpp
  src/opacity/absorber_ck.cpp
  src/opacity/absorber_ck.hpp
  src/opacity/helios_ck.cpp
  src/snap/thermodynamics/thermodynamics.cpp
Due: clang-format, cmake-format

wip
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
  src/opacity/helios_ck.cpp
Due: clang-format
