Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

working mps, fast
  src/snap/reconstruct/interpolation.cpp
  src/snap/reconstruct/interpolation.hpp
  src/snap/reconstruct/recon.hpp
  src/snap/reconstruct/weno5.cpp
  tests/test_reconstruct.cpp
  tests/test_weno.cpp
Due: clang-format

add riemann
  src/snap/CMakeLists.txt
  src/snap/reconstruct/interpolation.cpp
  src/snap/reconstruct/interpolation.hpp
  src/snap/reconstruct/recon.hpp
  src/snap/reconstruct/weno5.cpp
  src/snap/riemann/riemann.cpp
  src/snap/riemann/riemann.hpp
  src/snap/riemann/rs_hydro_lmars.cpp
  tests/test_reconstruct.cpp
  tests/test_weno.cpp
Due: clang-format

almost finish
  src/exo3/exo3.cpp
  src/exo3/exo3.hpp
  src/snap/CMakeLists.txt
  src/snap/eos/eos.cpp
  src/snap/eos/eos.hpp
  src/snap/eos/eos_hydro_ideal.cpp
  src/snap/hydro/add_flux_divergence.cpp
  src/snap/hydro/hydro.hpp
  src/snap/riemann/rs_hydro_lmars.cpp
Due: clang-format

test eos
  src/snap/eos/eos.cpp
  src/snap/eos/eos.hpp
  src/snap/eos/eos_hydro_ideal.cpp
  tests/CMakeLists.txt
  tests/test_eos.cpp
Due: clang-format

eos ok
  tests/test_eos.cpp
Due: clang-format

use unfold
  src/snap/eos/eos_hydro_ideal.cpp
  tests/test_eos.cpp
Due: clang-format

wip
  src/snap/eos/eos_hydro_ideal.cpp
Due: clang-format

test hydro
  src/snap/hydro/add_flux_divergence.cpp
  src/snap/riemann/riemann.hpp
  src/snap/riemann/rs_hydro_lmars.cpp
  tests/CMakeLists.txt
  tests/test_eos.cpp
  tests/test_hydro.cpp
  tests/test_riemann.cpp
Due: clang-format

improve test_mesh
  tests/test_mesh.cpp
  tests/test_mesh.inp
Due: clang-format

eos replacement
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  src/snap/athena_arrays.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/eos/tmp
  tests/CMakeLists.txt
  tests/test_eos.cpp
Due: clang-format

add namespace guard
  src/modules/chemistry.hpp
  src/modules/hydrodynamics.hpp
  src/modules/opacity_manager.hpp
  src/modules/radiative_transfer.hpp
  src/modules/thermodynamics.hpp
  src/modules/transport.hpp
  src/snap/athena_arrays.hpp
  src/snap/decomposition/decom.cpp
  src/snap/decomposition/decom.hpp
  src/snap/eos/eos.cpp
  src/snap/eos/eos.hpp
  src/snap/eos/eos_hydro_ideal.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/hydro/add_flux_divergence.cpp
  src/snap/hydro/hydro.hpp
  src/snap/reconstruct/interpolation.cpp
  src/snap/reconstruct/interpolation.hpp
  src/snap/reconstruct/recon.hpp
  src/snap/reconstruct/weno5.cpp
  src/snap/riemann/riemann.cpp
  src/snap/riemann/riemann.hpp
  src/snap/riemann/rs_hydro_lmars.cpp
  tests/test_eos.cpp
  tests/test_hydro.cpp
  tests/test_reconstruct.cpp
  tests/test_riemann.cpp
  tests/test_weno.cpp
Due: clang-format

fix flux divergence
  src/snap/hydro/add_flux_divergence.cpp
  src/snap/hydro/hydro.hpp
  tests/test_hydro.cpp
Due: clang-format

add modules
  src/CMakeLists.txt
  src/modules/CMakeLists.txt
  src/modules/coordinates.cpp
  src/modules/coordinates.hpp
  src/modules/equation_of_state.cpp
  src/modules/equation_of_state.hpp
  src/modules/hydrodynamics.cpp
  src/modules/hydrodynamics.hpp
  src/modules/ssp_rk.hpp
  src/modules/thermodynamics.cpp
  src/modules/thermodynamics.hpp
  src/snap/decomposition/decom.cpp
  src/snap/hydro/flux_divergence.cpp
  tests/test_hydro.cpp
  tests/test_reconstruct.cpp
Due: clang-format

revise module
  src/modules/coordinates.cpp
  src/modules/coordinates.hpp
  src/modules/equation_of_state.cpp
  src/modules/equation_of_state.hpp
  src/modules/hydrodynamics.cpp
  src/modules/hydrodynamics.hpp
  src/modules/thermodynamics.cpp
  src/modules/thermodynamics.hpp
Due: clang-format

stage 2 finish
  src/modules/coordinates.cpp
  src/modules/coordinates.hpp
  src/modules/equation_of_state.hpp
  src/modules/thermodynamics.hpp
Due: clang-format

wip
  cmake/athena.cmake
  requirements.txt
  src/snap/eos/ideal_moist_hydro.cpp
  tests/test_reconstruct.cpp
Due: clang-format, cmake-format

wip
  configure.hpp.in
Due: none

wip
  src/snap/eos/tmp
Due: none

wip
  CMakeLists.txt
  src/modules/eos_equilibrate_sp.cpp_
  src/modules/eos_equilibrate_tp.cpp_
  src/modules/eos_equilibrate_uv.cpp_
  src/modules/eos_rk4_integrate_z.cpp_
  src/modules/eos_saturation_adjustment.cpp_
  src/modules/eos_thermodynamics.cpp_
  src/modules/eos_thermodynamics.hpp_
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/saturation_adjustment.cpp
Due: clang-format

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
  CMakeLists.txt
Due: none

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/modules/FindCantera.cmake
Due: cmake-format

fix lib
  .github/workflows/mac.yml
  CMakeLists.txt
  cmake/modules/FindCantera.cmake
  cmake/yamlpp.cmake
  src/CMakeLists.txt
Due: cmake-format

move torch
  CMakeLists.txt
  src/CMakeLists.txt
  src/torch/CMakeLists.txt
  src/torch/column/decom.cpp
  src/torch/column/decom.hpp
  src/torch/eos/eos.cpp
  src/torch/eos/eos.hpp
  src/torch/eos/eos_hydro_ideal.cpp
  src/torch/exo3/exo3.cpp
  src/torch/exo3/exo3.hpp
  src/torch/hydro/flux_divergence.cpp
  src/torch/hydro/hydro.hpp
  src/torch/recon/interpolation.cpp
  src/torch/recon/interpolation.hpp
  src/torch/recon/recon.hpp
  src/torch/recon/weno5.cpp
  src/torch/riemann/riemann.cpp
  src/torch/riemann/riemann.hpp
  src/torch/riemann/rs_hydro_lmars.cpp
  tests/CMakeLists.txt
Due: clang-format

wip
  examples/2023-Li-saturn-vla/saturn_radio.cpp
  examples/2023-Li-uranus/uranus_mwr.cpp
  examples/2024-JHu-juno-mwr/juno_mwr.cpp
  src/CMakeLists.txt
  src/diagnostics/todo/convective_heat_flx.cpp
  src/snap/eos/shallow_yz_hydro.cpp
  tests/CMakeLists.txt
Due: clang-format

wip
  src/exchanger/exchanger.hpp
Due: clang-format

wip
  CMakeLists.txt
  tests/test_thermodynamics.inp
Due: none

wip
  CMakeLists.txt
  cmake/macros/macro_setup_test.cmake
  cmake/modules/FindCantera.cmake
  src/CMakeLists.txt
  src/modules/hydrodynamics.cpp
  src/torch/CMakeLists.txt
  src/torch/eos/eos_hydro_ideal.cpp
  tests/CMakeLists.txt
  tests/test_eos.cpp
  tests/test_hydro.cpp
  tests/test_reconstruct.cpp
  tests/test_riemann.cpp
  tests/test_weno.cpp
Due: clang-format, cmake-format

scalar runs but wrong
  cmake/examples/hjupiter.cmake
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
  patches/24.time_integrator.patch
  patches/31.task_list.patch
Due: cmake-format

Fix multiple tracers
  cmake/athena.cmake
  cmake/examples/exo2.cmake
  cmake/examples/exo3.cmake
  examples/2023-Chen-exo3/steady_zonal.cpp
  patches/32.scalars.patch
  patches/33.bvals_cc_cpp.patch
  patches/34.bvals_cc_hpp.patch
  src/exo3/cubed_sphere_utility.cpp
  src/exo3/cubed_sphere_utility.hpp
Due: clang-format, cmake-format

Add minichem (#1)
  CMakeLists.txt
  cmake/compilers.cmake
  cmake/examples/minichem.cmake
  cmake/minichem.cmake
  examples/2024-XZhang-cloud-rt/hjupiter.cpp.cli
  examples/2024-XZhang-cloud-rt/hjupiter.cpp.xiz
  examples/2024-XZhang-minichem/CMakeLists.txt
  examples/2024-XZhang-minichem/H2.cpp
  examples/2024-XZhang-minichem/chem/CMakeLists.txt
  examples/2024-XZhang-minichem/chem/H2.cpp
  examples/2024-XZhang-minichem/minichem.cpp
  examples/2024-XZhang-minichem/minichem.inp
  examples/2024-XZhang-minichem/minichem.inp.2
  examples/2024-XZhang-minichem/minichem.yaml
  examples/2024-XZhang-minichem/minichem.yaml.2
  examples/2024-XZhang-minichem/minichem_sphr.cpp
  examples/2024-XZhang-minichem/minichem_sphr.inp
  examples/2024-XZhang-minichem/run_disort_hjup.py
  examples/2024-XZhang-minichem/run_flux_1d.py
  examples/2024-XZhang-minichem/run_ktable_hjup.py
  examples/CMakeLists.txt
  src/CMakeLists.txt
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format, cmake-format

Add minichem (#1) (#161)
  CMakeLists.txt
  cmake/compilers.cmake
  cmake/examples/minichem.cmake
  cmake/minichem.cmake
  examples/2024-XZhang-cloud-rt/hjupiter.cpp.cli
  examples/2024-XZhang-cloud-rt/hjupiter.cpp.xiz
  examples/2024-XZhang-minichem/CMakeLists.txt
  examples/2024-XZhang-minichem/H2.cpp
  examples/2024-XZhang-minichem/chem/CMakeLists.txt
  examples/2024-XZhang-minichem/chem/H2.cpp
  examples/2024-XZhang-minichem/minichem.cpp
  examples/2024-XZhang-minichem/minichem.inp
  examples/2024-XZhang-minichem/minichem.inp.2
  examples/2024-XZhang-minichem/minichem.yaml
  examples/2024-XZhang-minichem/minichem.yaml.2
  examples/2024-XZhang-minichem/minichem_sphr.cpp
  examples/2024-XZhang-minichem/minichem_sphr.inp
  examples/2024-XZhang-minichem/run_disort_hjup.py
  examples/2024-XZhang-minichem/run_flux_1d.py
  examples/2024-XZhang-minichem/run_ktable_hjup.py
  examples/CMakeLists.txt
  src/CMakeLists.txt
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format, cmake-format

fix boiling
  src/microphysics/kessler94.cpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

Fix boiling (#163)
  src/microphysics/kessler94.cpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

scalar runs but wrong
  cmake/examples/hjupiter.cmake
  patches/24.time_integrator.patch
  patches/31.task_list.patch
Due: cmake-format

Fixing Cubed Sphere Scalar Tracer (#164)
  cmake/athena.cmake
  cmake/examples/exo2.cmake
  cmake/examples/exo3.cmake
  cmake/examples/hjupiter.cmake
  examples/2023-Chen-exo3/steady_zonal.cpp
  patches/24.time_integrator.patch
  patches/31.task_list.patch
  patches/32.scalars.patch
  patches/33.bvals_cc_cpp.patch
  patches/34.bvals_cc_hpp.patch
  src/exo3/cubed_sphere_utility.cpp
  src/exo3/cubed_sphere_utility.hpp
Due: clang-format, cmake-format

add exofms
  CMakeLists.txt
  cmake/exofmsrt.cmake
Due: cmake-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
