Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

Move precip into hydro (#178)
  cmake/athena.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/ammonia-kessler.yaml
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-precip.yaml
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-micro.yaml
  examples/2019-Li-snap/jup-thermo.yaml
  examples/2019-Li-snap/water-kessler.yaml
  src/impl.cpp
  src/impl.hpp
  src/microphysics.old/CMakeLists.txt
  src/microphysics.old/chemistry_solver.hpp
  src/microphysics.old/microphysical_schemes.cpp
  src/microphysics.old/microphysical_schemes.hpp
  src/microphysics.old/microphysics.cpp
  src/microphysics.old/microphysics.hpp
  src/schedulers.cpp
  src/schedulers.hpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

Add kessler microphysics (#179)
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-precip.yaml
  patches/21.new_blockdt.patch
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

add surface evaporation
  examples/2024-CLi-RCEMIP/rcemip-noprecip.yaml
  examples/2024-CLi-RCEMIP/rcemip.cpp
Due: none

add jcrm case
  cmake/examples/jcrm.cmake
  cmake/examples/jupiter_h2o.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/jcrm.cpp
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-precip.yaml
  examples/2024-YZhou-jupiter/jupiter_crm.cpp
  examples/2024-YZhou-jupiter/jupiter_h2o.cpp
  src/checks.cpp
  src/microphysics/kessler94.cpp.old
  src/snap/riemann/hllc_transform.cpp
Due: clang-format, cmake-format

fix nprecip
  cmake/examples/jcrm.cmake
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-precip.yaml
Due: cmake-format

single particle sedimentation
  CMakeLists.txt
  configure.hpp.in
  src/CMakeLists.txt
  src/add_arg.h
  src/microphysics/sedimentation.cpp
  src/microphysics/sedimentation.hpp
  tests/CMakeLists.txt
  tests/device_testing.hpp
  tests/test_sedimentation.cpp
Due: clang-format

support multi-species
  src/microphysics/sedimentation.cpp
  tests/test_sedimentation.cpp
Due: clang-format

default to double
  src/microphysics/sedimentation.cpp
  src/microphysics/sedimentation.hpp
  tests/test_sedimentation.cpp
Due: clang-format

add size-dependent sedimentation
  examples/2019-Li-snap/jcrm.inp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/microphysics/sedimentation.cpp
  src/snap/athena_arrays.hpp
  src/snap/athena_torch.hpp
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/lmars.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

fix gravity
  examples/2019-Li-snap/jcrm.inp
  src/microphysics/microphysics.cpp
  src/microphysics/sedimentation.cpp
  src/microphysics/sedimentation.hpp
Due: clang-format

add const vsed
  src/microphysics/microphysics.cpp
  src/microphysics/sedimentation.cpp
  src/microphysics/sedimentation.hpp
Due: clang-format

fix input
  src/microphysics/microphysics.cpp
  src/microphysics/sedimentation.cpp
Due: clang-format

wip
  src/snap/decomposition/change_to_anomaly.cpp
  src/snap/decomposition/change_to_entropy.cpp
  src/snap/decomposition/change_to_temperature.cpp
  src/snap/decomposition/decomposition.cpp
  src/snap/decomposition/decomposition.hpp
Due: clang-format

wip
  .github/workflows/mac.yml
Due: none

Revert from using exchanger (#184)
  .github/workflows/mac.yml
  src/snap/decomposition/change_to_anomaly.cpp
  src/snap/decomposition/change_to_entropy.cpp
  src/snap/decomposition/change_to_temperature.cpp
  src/snap/decomposition/decomposition.cpp
  src/snap/decomposition/decomposition.hpp
Due: clang-format

Revise thermodynamcis - bryan (#173)
  cmake/athena.cmake
  cmake/examples/bryan.cmake
  configure.hpp.in
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-moist.yaml
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  patches/24.time_integrator.patch
  src/air_parcel.cpp
  src/impl.cpp
  src/impl.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/outputs/load_user_output_data.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/flux_decomposition.hpp
  src/snap/implicit/forward_backward.hpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/implicit/periodic_forward_backward.hpp
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/atm_thermodynamics.hpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/CMakeLists.txt
  tests/earth-thermo.yaml
  tests/jup-thermo.yaml
  tests/test_earth_thermo.cpp
  tests/test_jup_thermo.cpp
  tests/test_thermodynamics.cpp
Due: clang-format, cmake-format

Revise thermodynamcis - robert (#172)
  cmake/examples/dam.cmake
  cmake/examples/exo2.cmake
  cmake/examples/robert.cmake
  cmake/examples/straka.cmake
  cmake/examples/vortex.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/earth-dry.yaml
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/robert2d.inp
  examples/2019-Li-snap/robert3d.inp
  examples/2019-Li-snap/straka.inp
  patches/25.constant_acc.patch
  patches/26.adiabatic_hydro.patch
  src/exo3/exo3.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

wip
  cmake/athena.cmake
  cmake/examples/geyser.cmake
  examples/2024-YixiaoZ-geyser/CMakeLists.txt
  examples/2024-YixiaoZ-geyser/geyser.yaml
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
  examples/CMakeLists.txt
  patches/xxx.bvals_hack.patch
Due: cmake-format

wip
  examples/2024-YixiaoZ-geyser/geyser_h2o.yaml
Due: none

Revise thermodynamcis - jcrm (#174)
  THIS_MAY_BREAK
  cmake/examples/bryan.cmake
  cmake/examples/jcrm.cmake
  cmake/examples/jupiter_crm.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.cpp.new
  examples/2019-Li-snap/jcrm.cpp
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-micro.yaml
  examples/2019-Li-snap/jup-thermo-H2O-NH3.yaml
  examples/2019-Li-snap/jvortex.cpp
  examples/2019-Li-snap/jvortex.inp
  examples/CMakeLists.txt
  src/outputs/load_user_output_data.cpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format, cmake-format

Add Jupiter CRM case (#183)
  CMakeLists.txt
  cmake/examples/jcrm.cmake
  cmake/examples/jupiter_h2o.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/jcrm.cpp
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-precip.yaml
  examples/2024-YZhou-jupiter/jupiter_crm.cpp
  examples/2024-YZhou-jupiter/jupiter_h2o.cpp
  src/CMakeLists.txt
  src/add_arg.h
  src/checks.cpp
  src/microphysics/kessler94.cpp.old
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/microphysics/sedimentation.cpp
  src/microphysics/sedimentation.hpp
  src/snap/athena_arrays.hpp
  src/snap/athena_torch.hpp
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/lmars.cpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/CMakeLists.txt
  tests/device_testing.hpp
  tests/test_sedimentation.cpp
Due: clang-format, cmake-format

done1
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
Due: none

allow Tmin = 0
  examples/2024-YixiaoZ-geyser/geyser_h2o.yaml
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
  src/snap/thermodynamics/equilibrate_uv.cpp
Due: clang-format

wip
  cmake/compilers.cmake
  external/install_cantera.sh
Due: cmake-format

wip
  requirements.txt
Due: none

wip
  external/install_cantera.sh
Due: none

Fix some external packages (#185)
  cmake/compilers.cmake
  external/install_cantera.sh
  requirements.txt
Due: cmake-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
