Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

lints
  src/harp/freedman_simple.cpp
  src/harp/hitran_absorber.cpp
  src/harp/radiation_band.cpp
  src/inversion/concentration_inversion.cpp
  src/inversion/inversion.cpp
  src/inversion/mcmc.cpp
  src/inversion/profile_inversion.cpp
  src/outputs/combine_blocks.cpp
  src/snap/decomposition/change_to_perturbation.cpp
  src/snap/decomposition/decomposition.cpp
  src/snap/decomposition/decomposition.hpp
  src/snap/implicit/communication.hpp
  src/snap/implicit/flux_decomposition.hpp
  src/snap/implicit/forcing_jacobians.hpp
  src/snap/implicit/forward_backward.hpp
  src/snap/implicit/implicit_solver.cpp
  src/snap/implicit/implicit_solver.hpp
  src/snap/implicit/periodic_forward_backward.hpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/utils/fileio.cpp
  src/utils/vectorize.hpp
  tools/check_style.sh
Due: clang-format

fix build
  src/inversion/inversion.cpp
  src/inversion/profile_inversion.cpp
Due: clang-format

Fix lints for snap modules (#20)
  src/harp/freedman_simple.cpp
  src/harp/hitran_absorber.cpp
  src/harp/radiation_band.cpp
  src/inversion/concentration_inversion.cpp
  src/inversion/inversion.cpp
  src/inversion/mcmc.cpp
  src/inversion/profile_inversion.cpp
  src/outputs/combine_blocks.cpp
  src/snap/decomposition/change_to_perturbation.cpp
  src/snap/decomposition/decomposition.cpp
  src/snap/decomposition/decomposition.hpp
  src/snap/implicit/communication.hpp
  src/snap/implicit/flux_decomposition.hpp
  src/snap/implicit/forcing_jacobians.hpp
  src/snap/implicit/forward_backward.hpp
  src/snap/implicit/implicit_solver.cpp
  src/snap/implicit/implicit_solver.hpp
  src/snap/implicit/periodic_forward_backward.hpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/utils/fileio.cpp
  src/utils/vectorize.hpp
  tools/check_style.sh
Due: clang-format

wip
  cmake/athena.cmake
  doc/README_workflow.md
  src/outputs/CMakeLists.txt
  src/outputs/netcdf.cpp
  src/outputs/pnetcdf.cpp
Due: clang-format, cmake-format

update README_workflow.md
  doc/README_workflow.md
Due: none

fix output
  src/outputs/combine_blocks.cpp
  src/outputs/debug.cpp
  src/outputs/diag_table.cpp
  src/outputs/netcdf.cpp
  src/outputs/output_utils.hpp
  src/outputs/pnetcdf.cpp
  src/outputs/user_outputs.hpp
  tests/1d-rad-jupiter/CMakeLists.txt
Due: clang-format

Fix netcdf output (#25)
  cmake/athena.cmake
  doc/README_workflow.md
  src/outputs/CMakeLists.txt
  src/outputs/combine_blocks.cpp
  src/outputs/debug.cpp
  src/outputs/diag_table.cpp
  src/outputs/netcdf.cpp
  src/outputs/output_utils.hpp
  src/outputs/pnetcdf.cpp
  src/outputs/user_outputs.hpp
  tests/1d-rad-jupiter/CMakeLists.txt
Due: clang-format, cmake-format

all warnings gone, configure fixed
  src/debugger/debugger.cpp
  src/harp/absorber.hpp
  src/harp/radiation_utils.cpp
  src/harp/set_spectral_properties.cpp
  src/inversion/concentration_inversion.hpp
  src/inversion/inversion.hpp
  src/inversion/mcmc.cpp
  src/inversion/mcmc_init.cpp
  src/inversion/mcmc_step.cpp
  src/inversion/profile_inversion.cpp
  src/inversion/profile_inversion.hpp
  src/inversion/profile_inversion_prior.cpp
  src/outputs/combine_blocks.cpp
  src/outputs/debug.cpp
  src/outputs/mppnccombine.cpp
  src/outputs/netcdf.cpp
  src/outputs/pnetcdf.cpp
  src/snap/cell_variables.hpp
  src/snap/meshblock_impl.cpp
  src/transport/stream_transport.hpp
  src/utils/command_line.cpp
  src/utils/fileio.hpp
  src/utils/program_setup.cpp
Due: clang-format

fix snap configure
  src/snap/eos/check_hydro_variables.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/implicit_solver.cpp
  src/snap/reconstruct/interpolation.hpp
  src/snap/reconstruct/weno5.cpp
  src/snap/reconstruct/weno5_simple.cpp
  src/snap/task_list/implicit_hydro_tasks.hpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_helper.cpp
Due: clang-format

update brew
  Brewfile
  src/outputs/diag_table.cpp
Due: clang-format

enable pre-commit
  doc/README_workflow.md
  src/outputs/combine_blocks.cpp
  src/outputs/diag_table.cpp
  src/outputs/netcdf.cpp
  src/snap/reconstruct/interp_weno5.hpp
Due: clang-format

Fix sprintf warning and configure.hpp position (#28)
  Brewfile
  doc/README_workflow.md
  src/debugger/debugger.cpp
  src/harp/absorber.hpp
  src/harp/radiation_utils.cpp
  src/harp/set_spectral_properties.cpp
  src/inversion/concentration_inversion.hpp
  src/inversion/inversion.hpp
  src/inversion/mcmc.cpp
  src/inversion/mcmc_init.cpp
  src/inversion/mcmc_step.cpp
  src/inversion/profile_inversion.cpp
  src/inversion/profile_inversion.hpp
  src/inversion/profile_inversion_prior.cpp
  src/outputs/combine_blocks.cpp
  src/outputs/debug.cpp
  src/outputs/mppnccombine.cpp
  src/outputs/netcdf.cpp
  src/outputs/pnetcdf.cpp
  src/snap/cell_variables.hpp
  src/snap/eos/check_hydro_variables.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/implicit_solver.cpp
  src/snap/meshblock_impl.cpp
  src/snap/reconstruct/interp_weno5.hpp
  src/snap/reconstruct/interpolation.hpp
  src/snap/reconstruct/weno5.cpp
  src/snap/reconstruct/weno5_simple.cpp
  src/snap/task_list/implicit_hydro_tasks.hpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_helper.cpp
  src/transport/stream_transport.hpp
  src/utils/command_line.cpp
  src/utils/fileio.hpp
  src/utils/program_setup.cpp
Due: clang-format

add yaml
  CMakeLists.txt
  cmake/yamlpp.cmake
Due: cmake-format

add gtest
  CMakeLists.txt
  cmake/gtest.cmake
  cmake/yamlpp.cmake
  tests/CMakeLists.txt
  tests/jupiter_opacity.yaml
  tests/test_yaml_read.cpp
Due: clang-format, cmake-format

add ctest
  .github/workflows/main.yml
  cmake/gtest.cmake
  cmake/yamlpp.cmake
  examples/1d-rad-jupiter/CMakeLists.txt
  examples/1d-rad-jupiter/test_jupiter_re.cpp
  tests/CMakeLists.txt
  tests/example_opacity.yaml
  tests/test_yaml_read.cpp
Due: clang-format, cmake-format

Add Yaml-cpp and gtest support (#30)
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/gtest.cmake
  cmake/yamlpp.cmake
  examples/1d-rad-jupiter/CMakeLists.txt
  examples/1d-rad-jupiter/test_jupiter_re.cpp
  tests/CMakeLists.txt
  tests/example_opacity.yaml
  tests/jupiter_opacity.yaml
  tests/test_yaml_read.cpp
Due: clang-format, cmake-format

clean up cmake
  CMakeLists.txt
  cmake/athena.cmake
  cmake/eigen.cmake
  cmake/pybind11.cmake
  cmake/rfm.cmake
  examples/1d-rad-jupiter/CMakeLists.txt
  examples/CMakeLists.txt
  src/CMakeLists.txt
  src/astro/CMakeLists.txt
  src/debugger/CMakeLists.txt
  src/harp/CMakeLists.txt
  src/inversion/CMakeLists.txt
  src/outputs/CMakeLists.txt
  src/snap/CMakeLists.txt
  src/utils/CMakeLists.txt
Due: cmake-format

wip
  examples/1d-rad-jupiter/CMakeLists.txt
  src/CMakeLists.txt
  src/climath/CMakeLists.txt
  src/debugger/CMakeLists.txt
Due: none

upgrade cmake
  src/CMakeLists.txt
  src/astro/CMakeLists.txt
  src/climath/CMakeLists.txt
  src/debugger/CMakeLists.txt
  src/harp/CMakeLists.txt
  src/inversion/CMakeLists.txt
  src/outputs/CMakeLists.txt
  src/snap/CMakeLists.txt
  src/utils/CMakeLists.txt
Due: none

Upgrade cmake (#32)
  CMakeLists.txt
  cmake/athena.cmake
  cmake/eigen.cmake
  cmake/pybind11.cmake
  cmake/rfm.cmake
  examples/1d-rad-jupiter/CMakeLists.txt
  examples/CMakeLists.txt
  src/CMakeLists.txt
  src/astro/CMakeLists.txt
  src/climath/CMakeLists.txt
  src/debugger/CMakeLists.txt
  src/harp/CMakeLists.txt
  src/inversion/CMakeLists.txt
  src/outputs/CMakeLists.txt
  src/snap/CMakeLists.txt
  src/utils/CMakeLists.txt
Due: cmake-format

wip
  examples/jupiter_opacity.yaml
Due: none

add opacity
  .github/workflows/main.yml
  .pre-commit-config.yaml
  doc/README_ci.md
  src/CMakeLists.txt
  src/opacity/CMakeLists.txt
  src/opacity/microwave/README
  src/opacity/microwave/absorption_function_cia.cpp
  src/opacity/microwave/absorption_function_cloud.cpp
  src/opacity/microwave/absorption_function_electron.cpp
  src/opacity/microwave/absorption_function_h2s.cpp
  src/opacity/microwave/absorption_function_ph3.cpp
  src/opacity/microwave/absorption_functions.hpp
  src/opacity/microwave/attenuation_electron.cpp
  src/opacity/microwave/attenuation_h2o.cpp
  src/opacity/microwave/attenuation_nh3.cpp
  src/opacity/microwave/mwr_absorber_cia.cpp
  src/opacity/microwave/mwr_absorber_cia.hpp
  src/opacity/microwave/mwr_absorber_electron.cpp
  src/opacity/microwave/mwr_absorber_h2o.cpp
  src/opacity/microwave/mwr_absorber_h2s.cpp
  src/opacity/microwave/mwr_absorber_h2s.hpp
  src/opacity/microwave/mwr_absorber_nh3.cpp
  src/opacity/microwave/mwr_absorber_nh3.hpp
  src/opacity/microwave/mwr_absorber_ph3.cpp
  src/opacity/microwave/mwr_absorber_ph3.hpp
  src/opacity/microwave/mwr_absorbers.hpp
  src/outputs/pnetcdf.cpp
  tools/check_style.sh
Due: clang-format

add application
  .gitignore
  CMakeLists.txt
  cmake/application.cmake
  tests/test_yaml_read.cpp
  tools/check_style.sh
Due: clang-format, cmake-format

wip
  src/CMakeLists.txt
  src/harp/absorber.hpp
  src/harp/radiation_band.cpp
  tests/CMakeLists.txt
  tests/test_absorber.cpp
  tests/test_mesh.cpp
  tests/test_mesh.inp
  tests/test_microwave_opacity.cpp_
  tests/test_radiation.cpp
  tests/test_radiation.inp
  tests/test_radiation_band.cpp
  tests/test_rdatiaion.cpp
Due: clang-format

update radiation_band
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  tests/example_opacity.yaml
  tests/test_radiation.inp
  tests/test_yaml_read.cpp
Due: clang-format

wip
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/snap/implicit/implicit_solver.cpp
  src/snap/meshblock_impl.cpp
  tests/example_bands.yaml
  tests/hot_jupiter.inp
  tests/test_radiation.cpp
  tests/test_radiation.inp
  tests/test_yaml_read.cpp
Due: clang-format

fix monitor
  cmake/application.cmake
  src/harp/absorber.cpp
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/inversion/inversion.cpp
  src/inversion/inversion_helper.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  tests/example_bands.yaml
  tests/test_radiation.cpp
Due: clang-format, cmake-format

update
  cmake/application.cmake
  tests/test_yaml_read.cpp
Due: clang-format, cmake-format

update
  src/astro/celestrial_body.cpp
  src/astro/celestrial_body.hpp
  src/harp/absorber.hpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/set_spectral_properties.cpp
  tests/example_infrared.yaml
  tests/example_microwave.yaml
  tests/test_microwave_opacity.cpp_
  tests/test_radiation.cpp
Due: clang-format

wip
  src/CMakeLists.txt
Due: none

a large overhaul of opacity api
  src/harp/absorber.cpp
  src/harp/absorber.hpp
  src/harp/add_absorber.cpp
  src/harp/hitran_absorber.cpp
  src/harp/hitran_absorber.hpp
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/set_spectral_properties.cpp
  src/opacity/microwave/mwr_absorber_cia.cpp
  src/opacity/microwave/mwr_absorber_electron.cpp
  src/opacity/microwave/mwr_absorber_h2o.cpp
  src/opacity/microwave/mwr_absorber_h2s.cpp
  src/opacity/microwave/mwr_absorber_nh3.cpp
  src/opacity/microwave/mwr_absorber_ph3.cpp
  src/opacity/microwave/mwr_absorbers.hpp
  src/snap/meshblock_impl.cpp
  src/snap/meshblock_impl.hpp
  src/utils/parameter_map.hpp
  tests/example_bands.yaml
  tests/test_microwave_opacity.cpp
  tests/test_microwave_opacity.cpp_
  tests/test_radiation.inp
Due: clang-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
