Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

n-body compiles (#3)
  src/impl.cpp
  src/impl.hpp
Due: clang-format

Add tasks, refactoring, compiles (#5)
  README.md
  examples/2024-YZhang-nbody/CMakeLists.txt
  src/communicator/boundary_exchanger.hpp
  src/communicator/communicator.hpp
  src/impl.cpp
  src/impl.hpp
  src/integrator/integrators.cpp
  src/integrator/integrators.hpp
  src/inversion/inversion.cpp
  src/inversion/inversion.hpp
  src/inversion/profile_inversion.cpp
  src/mesh_destroy.cpp
  src/mesh_setup.cpp
  src/nbody/particle_boundry_exchanger.cpp
  src/nbody/particle_data.cpp
  src/nbody/particle_data.hpp
  src/nbody/particle_multistage_time_integrator.cpp
  src/nbody/particle_outputs.cpp
  src/nbody/particle_to_mesh.cpp
  src/nbody/particles.cpp
  src/nbody/particles.hpp
  src/nbody/z.to_do/aggregate_density.cpp
  src/outputs/load_user_output_data.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/virtual_groups.cpp
  src/virtual_groups.hpp
Due: clang-format

Refractoring AirParcel (#4)
  src/impl.cpp
  src/impl.hpp
Due: clang-format

wip
  CMakeLists.txt
  cmake/disort.cmake
  cmake/hydrogen_water.cmake
  cmake/pybind11.cmake
  examples/2024-XZhang-cloud-rt/hywater.cpp
  examples/2024-XZhang-cloud-rt/hywater.inp
  examples/2024-XZhang-cloud-rt/set_spectral_properties.cpp
  python/CMakeLists.txt
  src/CMakeLists.txt
  src/harp/rt_solvers.hpp
  src/microphysics/microphysical_scheme.hpp
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/freedman_mean2.cpp
  src/opacity/Giants/freedman_simple2.cpp
  src/opacity/simple_cloud.cpp
  src/opacity/water_cloud.hpp
  tools/run_rfm.py
Due: clang-format, cmake-format

wip
  doc/README-fork.md
Due: none

wip
  cmake/sedimentation.cmake
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/freedman_mean.cpp
  src/opacity/Giants/freedman_mean2.cpp
Due: clang-format, cmake-format

wip
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_scheme.hpp
  src/microphysics/microphysical_schemes.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
Due: clang-format

wip
  cmake/pvfmm.cmake
  src/communicator/boundary_exchanger.hpp
  src/communicator/communicator.hpp
  src/impl.cpp
  src/impl.hpp
  src/integrator/integrators.cpp
  src/integrator/integrators.hpp
  src/inversion/inversion.cpp
  src/inversion/inversion.hpp
  src/microphysics/microphysical_schemes.cpp
  src/microphysics/microphysical_schemes.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/nbody/particle_boundry_exchanger.cpp
  src/nbody/particle_outputs.cpp
  src/nbody/particles.cpp
  src/nbody/particles.hpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/turbulence/turbulence_model.cpp
  src/snap/turbulence/turbulence_model.hpp
  src/virtual_groups.hpp
  tests/pvfmm_utils.hpp
  tests/test_microphysics.cpp
  tests/test_nbody.cpp
Due: clang-format, cmake-format

wip
  patches/26.scalars_flux.patch
  src/impl.cpp
  src/impl.hpp
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_schemes.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/schedulers.cpp
  src/schedulers.hpp
  src/snap/riemann/lmars.cpp
  src/tasklist/implicit_hydro_tasks.cpp
  src/virtual_groups.cpp
  src/virtual_groups.hpp
Due: clang-format

wip
  cmake/parameters.cmake
  configure.hpp.in
  examples/2018-Li-harp/CMakeLists.txt
  examples/2019-Li-snap/CMakeLists.txt
  examples/2020-Li-polar-vortex/CMakeLists.txt
  python/CMakeLists.txt
  src/CMakeLists.txt
Due: cmake-format

wip
  cmake/parameters.cmake
Due: cmake-format

wip
  cmake/jupiter_crm.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/jupiter2d.inp
  examples/2019-Li-snap/jupiter_crm.cpp
Due: cmake-format

wip
  examples/2019-Li-snap/jupiter_crm.cpp
Due: none

wip
  src/special/giants_add_absorber.cpp
  src/special/giants_enroll_vapor_functions_v1.hpp
  src/special/jupiter_opacity.yaml
  src/special/mars_absorber.cpp
Due: clang-format

wip
  CMakeLists.txt
  cmake/macros/macro_setup_problem.cmake
  cmake/macros/macro_setup_test.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan_vapor_functions.hpp
  examples/2019-Li-snap/jupiter_crm.cpp
  examples/2019-Li-snap/sedimentation.cpp
  src/CMakeLists.txt
  src/special/CMakeLists.txt
  src/special/giants_add_absorber_v1.hpp
  tests/CMakeLists.txt
  tests/test_air_parcel.cpp
  tests/test_ammonium_hydrosulfide.cpp
  tests/test_impl.cpp
  tests/test_microphysics.cpp
  tests/test_microwave_opacity.cpp
  tests/test_radiation.cpp
  tests/test_thermodynamics.cpp
Due: clang-format, cmake-format

wip
  cmake/jupiter_crm.cmake
  examples/2019-Li-snap/bryan_vapor_functions.hpp
  examples/2019-Li-snap/jupiter2d.inp
  examples/2019-Li-snap/jupiter_crm.cpp
  examples/2024-Li-plume/plume_mods.cpp
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_schemes.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/special/giants_enroll_vapor_functions_v1.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

wip
  examples/2019-Li-snap/jupiter2d.inp
  src/special/giants_enroll_vapor_functions_v1.hpp
Due: clang-format

wip
  examples/2019-Li-snap/water_ammonia.yaml
Due: none

wip
  examples/2019-Li-snap/jupiter2d.inp
  examples/2019-Li-snap/jupiter_crm.cpp
Due: none

wip
  examples/2023-jupiter-mwr-eq/CMakeLists.txt
  examples/2023-jupiter-mwr-eq/juno_mwr.cpp
  examples/2023-jupiter-mwr-eq/juno_mwr_specs.hpp
  tests/CMakeLists.txt
Due: none

wip
  tests/test_moist_adiabat.cpp
Due: clang-format

Add Jupiter CRM (#103)
  CMakeLists.txt
  cmake/jupiter_crm.cmake
  cmake/macros/macro_setup_problem.cmake
  cmake/macros/macro_setup_test.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan_vapor_functions.hpp
  examples/2019-Li-snap/jupiter2d.inp
  examples/2019-Li-snap/jupiter_crm.cpp
  examples/2019-Li-snap/water_ammonia.yaml
  examples/2023-jupiter-mwr-eq/CMakeLists.txt
  examples/2023-jupiter-mwr-eq/juno_mwr.cpp
  examples/2023-jupiter-mwr-eq/juno_mwr_specs.hpp
  examples/2024-Li-plume/plume_mods.cpp
  examples/giants_enroll_vapor_functions.cpp
  src/CMakeLists.txt
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_schemes.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/special/CMakeLists.txt
  src/special/giants_add_absorber_v1.hpp
  src/special/giants_enroll_vapor_functions_v1.hpp
  src/special/jupiter_opacity.yaml
  src/special/mars_absorber.cpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/CMakeLists.txt
  tests/test_air_parcel.cpp
  tests/test_ammonium_hydrosulfide.cpp
  tests/test_impl.cpp
  tests/test_microphysics.cpp
  tests/test_microwave_opacity.cpp
  tests/test_moist_adiabat.cpp
  tests/test_radiation.cpp
  tests/test_thermodynamics.cpp
Due: clang-format, cmake-format

wip
  doc/.gitignore
  doc/doxygen/.gitignore
  doc/doxygen/configure
  doc/doxygen/configure.old
  doc/doxygen/custom-sidebar.css
  doc/doxygen/custom.css
  doc/doxygen/doxy-boot.js
  doc/doxygen/footer.html
  doc/doxygen/header.html
  doc/doxygen/layout.xml
  doc/doxygen/logo1.png
  doc/doxygen/logo2.png
  doc/doxygen/main.js
  doc/doxygen/references.bib
  doc/examples/.gitignore
  doc/examples/robert.dox
  doc/examples/straka.dox
  doc/images/straka-theta.png
  doc/makefile
  doc/movies/robert.gif
  doc/pages/mainpage.dox
  doc/scripts/create_anchors
  doc/scripts/filter
  doc/scripts/intro2toc
  doc/scripts/make_step.pl
  doc/scripts/program2doxygen
  doc/scripts/program2html
  doc/scripts/program2plain
  doc/scripts/program2toc
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  Brewfile
  doc/doxygen/bib46452.aux
  doc/doxygen/bib52558.aux
  doc/doxygen/bib53676.aux
  doc/doxygen/citelist.doc46452
  doc/doxygen/citelist.doc52558
  doc/doxygen/citelist.doc53676
  doc/doxygen/configure
  doc/index.html
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  README.md
  cmake/ktable_test.cmake
  doc/doxygen/bib46452.aux
  doc/doxygen/bib52558.aux
  doc/doxygen/bib53676.aux
  doc/doxygen/citelist.doc46452
  doc/doxygen/citelist.doc52558
  doc/doxygen/citelist.doc53676
  doc/doxygen/configure
  doc/examples/robert.dox
  doc/examples/robert/intro.dox
  doc/examples/robert/results.dox
  doc/examples/robert/robert.cpp
  doc/examples/robert/robert.gif
  doc/examples/straka.dox
  doc/examples/straka/intro.dox
  doc/examples/straka/make_plots.py
  doc/examples/straka/results.dox
  doc/examples/straka/straka-theta.png
  doc/examples/straka/straka.cpp
  doc/images/straka-theta.png
  doc/makefile
  doc/movies/robert.gif
  doc/pages/mainpage.dox
  doc/scripts/make_step.pl
  examples/2019-Li-snap/robert.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format, cmake-format

update doc
  doc/examples/.gitignore
  doc/pages/mainpage.dox
Due: none

wip
  examples/2018-Li-harp/giants_ir.yaml
  src/air_parcel.cpp
  src/astro/celestrial_body.cpp
  src/astro/celestrial_body.hpp
  src/common.hpp
  src/harp/absorber.cpp
  src/harp/absorber.hpp
  src/harp/add_absorber.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_utils.cpp
  src/harp/radiation_utils.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_lambert.cpp
  src/harp/rt_solvers.hpp
  src/harp/set_spectral_properties.cpp
  src/harp/spectral_grid.cpp
  src/harp/spectral_grid.hpp
  src/impl.cpp
  src/impl.hpp
  src/opacity/absorber.cpp
  src/opacity/absorber.hpp
  src/utils/parameter_map.hpp
  src/virtual_groups.hpp
Due: clang-format

wip
  src/harp/radiation_utils.hpp
Due: clang-format

wip
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/opacity/absorber.cpp
  src/opacity/absorber.hpp
  src/opacity/correlatedk_absorber.hpp
  src/virtual_groups.hpp
Due: clang-format

wip
  src/opacity/absorber.cpp
  src/opacity/absorber.hpp
Due: clang-format

wip
  src/harp/radiation_band.cpp
  src/opacity/absorber.cpp
  src/opacity/absorber.hpp
Due: clang-format

wip
  src/harp/radiation.hpp
Due: clang-format

wip
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_lambert.cpp
  src/harp/set_spectral_properties.cpp
  src/harp/spectral_grid.cpp
  src/harp/spectral_grid.hpp
  src/impl.hpp
  src/inversion/profile_inversion_posterior.cpp
  src/opacity/absorber.cpp
  src/opacity/absorber.hpp
  src/virtual_groups.hpp
Due: clang-format

wip
  src/harp/spectral_grid.cpp
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_schemes.hpp
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/freedman_mean2.cpp
  src/opacity/Giants/freedman_simple.cpp
  src/opacity/Giants/freedman_simple2.cpp
  src/opacity/Giants/hydrogen_cia.hpp
  src/opacity/Giants/microwave/mwr_absorber_cia.cpp
  src/opacity/Giants/microwave/mwr_absorber_electron.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2o.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2s.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorber_ph3.cpp
  src/opacity/Giants/microwave/mwr_absorbers.hpp
  src/opacity/Giants/xiz_h2h2_cia.cpp
  src/opacity/Giants/xiz_h2he_cia.cpp
  src/opacity/absorber.cpp
  src/opacity/absorber.hpp
  src/opacity/absorber_factory.cpp
  src/opacity/correlatedk_absorber.hpp
  src/opacity/fu_waterice_cloud.cpp
  src/opacity/fu_waterliquid_cloud.cpp
  src/opacity/hitran_absorber.cpp
  src/opacity/hitran_absorber.hpp
  src/opacity/nitrogen_cia.cpp
  src/opacity/nitrogen_cia.hpp
  src/opacity/oxygen_cia.cpp
  src/opacity/oxygen_cia.hpp
  src/opacity/simple_cloud.cpp
  src/opacity/water_cloud.hpp
  src/opacity/xu_waterice_cloud.cpp
  src/tasklist/implicit_hydro_tasks.cpp
  src/virtual_groups.hpp
  tests/test_absorber.cpp
Due: clang-format

wip
  python/CMakeLists.txt
  python/aiur.cpp
  python/pyharp.cpp
  src/common.hpp
  src/communicator/boundary_exchanger.hpp
  src/communicator/communicator.hpp
  src/communicator/communicator_uid.txt
  src/exchanger/CMakeLists.txt
  src/exchanger/column_exchanger.hpp
  src/exchanger/exchanger.hpp
  src/exchanger/message.hpp
  src/exchanger/neighbor_exchanger.cpp
  src/exchanger/neighbor_exchanger.hpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.hpp
  src/harp/radiation_utils.cpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_lambert.cpp
  src/harp/rt_solvers.hpp
  src/impl.hpp
  src/nbody/particle_data.cpp
  src/nbody/particle_data.hpp
  src/nbody/particles.hpp
  src/opacity/correlatedk_absorber.cpp
  src/utils/communicator.cpp
  src/utils/communicator.hpp
  src/utils/find_neighbors.cpp
  tools/example_giants_ir.inp
  tools/example_giants_ir.yaml
Due: clang-format

wip
  src/exchanger/exchanger.hpp
  src/exchanger/message.cpp
  src/exchanger/message.hpp
  src/exchanger/neighbor_exchanger.cpp
Due: clang-format

wip
  src/exchanger/exchanger.hpp
  src/exchanger/linear_exchanger.hpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.hpp
Due: clang-format

wip
  src/exchanger/exchanger.hpp
  src/exchanger/linear_exchanger.hpp
  src/exchanger/message_traits.cpp
  src/exchanger/message_traits.hpp
Due: clang-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
