Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

wip
  src/microphysics/giant_chemistry.yaml
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_scheme.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

wip
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  tests/CMakeLists.txt
  tests/example_chemistry.yaml
  tests/test_microphysics.cpp
  tests/test_microphysics.inp
Due: clang-format

wip
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_scheme.hpp
  src/microphysics/microphysics.cpp
  tests/example_chemistry.yaml
  tests/test_impl.cpp
Due: clang-format

wip
  src/microphysics/chemistry_solver.hpp
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_scheme.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  tests/example_chemistry.yaml
  tests/test_microphysics.cpp
  tests/test_microphysics.inp
  tests/test_thermodynamics.inp
Due: clang-format

finalize solver
  tests/test_microphysics.cpp
  tests/test_microphysics.inp
Due: clang-format

wip
  src/utils/parameter_map.hpp
  tests/test_moist_adiabat.cpp
Due: clang-format

Add microphysics (#84)
  .pre-commit-config.yaml
  examples/2024-Li-les/bomex.cpp
  src/CMakeLists.txt
  src/dusts/cloud.cpp
  src/dusts/cloud.hpp
  src/harp/absorber.cpp
  src/harp/absorber.hpp
  src/impl.cpp
  src/impl.hpp
  src/microphysics/CMakeLists.txt
  src/microphysics/chemistry_solver.hpp
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_scheme.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/hydrogen_cia.hpp
  src/opacity/Giants/microwave/mwr_absorber_cia.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2o.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorbers.hpp
  src/opacity/correlatedk_absorber.hpp
  src/opacity/hitran_absorber.hpp
  src/opacity/nitrogen_cia.hpp
  src/opacity/oxygen_cia.hpp
  src/opacity/water_cloud.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  src/utils/parameter_map.hpp
  tests/CMakeLists.txt
  tests/example_chemistry.yaml
  tests/test_impl.cpp
  tests/test_microphysics.cpp
  tests/test_microphysics.inp
  tests/test_moist_adiabat.cpp
  tools/CMakeLists.txt
  tools/debug.sh.in
  tools/release.sh.in
Due: clang-format

wip
  cmake/athena.cmake
  patches/26.scalars_flux.patch
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/snap/riemann/lmars.cpp
Due: clang-format, cmake-format

wip
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_scheme.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

compiles
  patches/26.scalars_flux.patch
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_scheme.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

wip
  patches/26.scalars_flux.patch
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_scheme.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/snap/riemann/lmars.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

wip
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/sedimentation.cpp
Due: none

wip
  cmake/default.cmake
  examples/2019-Li-snap/sedimentation.cpp
  examples/2019-Li-snap/sedimentation.inp
  src/microphysics/microphysics.hpp
Due: clang-format, cmake-format

final
  cmake/default.cmake
  cmake/parameters.cmake
  examples/2019-Li-snap/sedimentation.cpp
  examples/2019-Li-snap/sedimentation.inp
  examples/2019-Li-snap/water_ammonia.yaml
  src/microphysics/chemistry_solver.hpp
  src/microphysics/kessler94.cpp
  src/snap/riemann/lmars.cpp
Due: clang-format, cmake-format

wip
  examples/2019-Li-snap/sedimentation.inp
  src/microphysics/kessler94.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  cmake/parameters.cmake
Due: cmake-format

wip
  tests/test_microphysics.cpp
Due: clang-format

Add sedimentation (#85)
  cmake/athena.cmake
  cmake/parameters.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/sedimentation.cpp
  examples/2019-Li-snap/sedimentation.inp
  examples/2019-Li-snap/water_ammonia.yaml
  patches/26.scalars_flux.patch
  src/microphysics/chemistry_solver.hpp
  src/microphysics/kessler94.cpp
  src/microphysics/microphysical_scheme.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/test_microphysics.cpp
Due: clang-format, cmake-format

wip
  .gitignore
  README.md
  doc/README-tips.md
  external/fetch_pnetcdf.sh
  external/install_cantera.sh
  external/install_pnetcdf.sh
Due: none

wip
  README.md
Due: none

wip
  cmake/compilers.cmake
  cmake/parameters.cmake
  configure.hpp.in
  doc/README-patch.md
  main.cpp.in
  src/snap/eos/ideal_moist_hydro.cpp
Due: clang-format, cmake-format

wip
  Brewfile
  CMakeLists.txt
  cmake/compilers.cmake
  examples/2018-Li-harp/CMakeLists.txt
  examples/2019-Li-snap/CMakeLists.txt
  examples/2024-Li-plume/CMakeLists.txt
  tests/CMakeLists.txt
Due: cmake-format

wip
  .github/workflows/main.yml
  README.md
Due: none

wip
  .github/workflows/main.yml
Due: none

wip
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/parameters.cmake
  examples/2018-Li-harp/CMakeLists.txt
  examples/2019-Li-snap/CMakeLists.txt
  examples/2024-Li-plume/CMakeLists.txt
  tests/CMakeLists.txt
Due: cmake-format

Add glog and dbg (#86)
  .github/workflows/main.yml
  .gitignore
  Brewfile
  README.md
  cmake/compilers.cmake
  cmake/parameters.cmake
  configure.hpp.in
  doc/README-patch.md
  doc/README-tips.md
  examples/2018-Li-harp/CMakeLists.txt
  examples/2019-Li-snap/CMakeLists.txt
  examples/2024-Li-plume/CMakeLists.txt
  external/fetch_pnetcdf.sh
  external/install_cantera.sh
  external/install_pnetcdf.sh
  main.cpp.in
  src/snap/eos/ideal_moist_hydro.cpp
  tests/CMakeLists.txt
Due: clang-format, cmake-format

wip
  .github/workflows/main.yml
  src/snap/CMakeLists.txt
  src/snap/thermodynamics/methane_thermo.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/turbulence/add_turbulence_flux_divergence.cpp
  src/snap/turbulence/k_epsilon_turbulence.cpp
  src/snap/turbulence/turbulence_model.cpp
  src/snap/turbulence/turbulence_model.hpp
  src/snap/turbulence/turbulence_tasks.cpp
  tools/check_style.sh
Due: clang-format

wip
  src/impl.cpp
  src/impl.hpp
  src/snap/turbulence/turbulence_model.cpp
  src/snap/turbulence/turbulence_model.hpp
  src/snap/turbulence/turbulence_tasks.cpp
  src/tasklist/extra_tasks.hpp
Due: clang-format

Add turbuence (complie only) (#87)
  .github/workflows/main.yml
  src/impl.cpp
  src/impl.hpp
  src/snap/CMakeLists.txt
  src/snap/thermodynamics/methane_thermo.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/turbulence/add_turbulence_flux_divergence.cpp
  src/snap/turbulence/k_epsilon_turbulence.cpp
  src/snap/turbulence/turbulence_model.cpp
  src/snap/turbulence/turbulence_model.hpp
  src/snap/turbulence/turbulence_tasks.cpp
  src/tasklist/extra_tasks.hpp
  tools/check_style.sh
Due: clang-format

wip
  src/impl.cpp
  src/snap/turbulence/turbulence_model.hpp
Due: clang-format

Fix turb MPI error (#88)
  src/impl.cpp
  src/snap/turbulence/turbulence_model.hpp
Due: clang-format

wip
  cmake/modules/Findglog.cmake
Due: cmake-format

Add glog finder (#89)
  cmake/modules/Findglog.cmake
Due: cmake-format

wip
  patches/19.decomposition.patch
  src/snap/decomposition/change_to_entropy.cpp
  src/snap/decomposition/decomposition.cpp
  src/snap/decomposition/decomposition.hpp
Due: clang-format

wip
  doc/README-tips.md
  doc/README-vectorize.md
Due: none

wip
  src/snap/decomposition/change_to_entropy.cpp
Due: clang-format

wip
  examples/2019-Li-snap/test_straka.py
  examples/2020-Li-polar-vortex/test_polar_vortex.py
  src/snap/decomposition/change_to_entropy.cpp
Due: clang-format

wip
  examples/2019-Li-snap/test_bryan.py
  examples/2019-Li-snap/test_robert.py
  examples/2020-Li-polar-vortex/test_shallow_xy.py
Due: none

Add entropy reconstruction (#90)
  doc/README-tips.md
  doc/README-vectorize.md
  examples/2019-Li-snap/test_bryan.py
  examples/2019-Li-snap/test_robert.py
  examples/2019-Li-snap/test_straka.py
  examples/2020-Li-polar-vortex/test_polar_vortex.py
  examples/2020-Li-polar-vortex/test_shallow_xy.py
  patches/19.decomposition.patch
  src/snap/decomposition/change_to_entropy.cpp
  src/snap/decomposition/decomposition.cpp
  src/snap/decomposition/decomposition.hpp
Due: clang-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
