Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

fix style
  cmake/examples/juno.cmake
  examples/2024-CLi-juno-mwr/inspect_emcee_chain.py
  examples/2024-CLi-juno-mwr/inspect_emcee_step.py
  examples/2024-CLi-juno-mwr/run_juno_emcee.py
  examples/2024-CLi-juno-mwr/run_juno_mwr.py
  python/pyathena.cpp
  requirements.txt
  src/inversion/composition_inversion.cpp
  src/utils/construct_atmosphere.cpp
  src/utils/construct_atmosphere.hpp
Due: clang-format, cmake-format

CLi -> JHu
  examples/2024-JHu-juno-mwr/CMakeLists.txt
  examples/2024-JHu-juno-mwr/Sun.yaml
  examples/2024-JHu-juno-mwr/inspect_emcee_chain.py
  examples/2024-JHu-juno-mwr/inspect_emcee_step.py
  examples/2024-JHu-juno-mwr/juno_mwr.cpp
  examples/2024-JHu-juno-mwr/juno_mwr.inp
  examples/2024-JHu-juno-mwr/juno_mwr.py
  examples/2024-JHu-juno-mwr/juno_mwr.yaml
  examples/2024-JHu-juno-mwr/juno_mwr_specs.hpp
  examples/2024-JHu-juno-mwr/jupiter.yaml
  examples/2024-JHu-juno-mwr/mwr_inversion.yaml
  examples/2024-JHu-juno-mwr/run_juno_emcee.py
  examples/2024-JHu-juno-mwr/run_juno_mwr.py
  examples/CMakeLists.txt
Due: none

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
Due: none

wip
  CODEOWNERS
Due: none

Merge Juno mcmc (#143)
  .github/workflows/mac.yml
  .github/workflows/main.yml
  CODEOWNERS
  cmake/examples/juno.cmake
  cmake/examples/jupiter_dry.cmake
  examples/2024-CLi-juno-mwr/jupiter_atmos.yaml
  examples/2024-JHu-juno-mwr/CMakeLists.txt
  examples/2024-JHu-juno-mwr/Sun.yaml
  examples/2024-JHu-juno-mwr/inspect_emcee_chain.py
  examples/2024-JHu-juno-mwr/inspect_emcee_step.py
  examples/2024-JHu-juno-mwr/juno_mwr.cpp
  examples/2024-JHu-juno-mwr/juno_mwr.inp
  examples/2024-JHu-juno-mwr/juno_mwr.py
  examples/2024-JHu-juno-mwr/juno_mwr.yaml
  examples/2024-JHu-juno-mwr/juno_mwr_specs.hpp
  examples/2024-JHu-juno-mwr/jupiter.yaml
  examples/2024-JHu-juno-mwr/mwr_inversion.yaml
  examples/2024-JHu-juno-mwr/run_juno_emcee.py
  examples/2024-JHu-juno-mwr/run_juno_mwr.py
  examples/2024-YZhou-jupiter/jupiter_dry.inp
  examples/CMakeLists.txt
  python/pyathena.cpp
  requirements.txt
  src/inversion/composition_inversion.cpp
  src/utils/construct_atmosphere.cpp
  src/utils/construct_atmosphere.hpp
Due: clang-format, cmake-format

add pscalars
  examples/2024-XZhang-minichem/minichem.cpp
Due: none

wip
  examples/2024-XZhang-minichem/minichem.inp.2
Due: none

wip
  examples/2024-XZhang-cloud-rt/chem/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/chem/H2.cpp
Due: none

minichem.cpp working for 2d
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/minichem.cpp
Due: cmake-format

wip
  examples/2024-XZhang-cloud-rt/hjupiter.inp
Due: none

rotation done
  src/exo3/cs_velocity_rotation.cpp
  tests/test_cs_velocity_rotation.cpp
Due: clang-format

wip
  examples/2024-YZhou-jupiter/jupiter_dry.inp
  src/diagnostics/anomaly.cpp
  src/diagnostics/diagnostics.hpp
  src/diagnostics/diagnostics_factory.cpp
  src/diagnostics/hydro_flux.cpp
  src/diagnostics/pressure_anomaly.cpp
  src/diagnostics/radiative_flux.cpp
  src/diagnostics/temperature_anomaly.cpp
  src/diagnostics/v1_moments.cpp
  src/outputs/output_utils.cpp
  src/outputs/pnetcdf.cpp
Due: clang-format

wip
  src/diagnostics/diagnostics.hpp
  src/diagnostics/diagnostics_factory.cpp
  src/diagnostics/divergence.cpp
  src/diagnostics/horizontal_divergence.cpp
  src/outputs/output_utils.cpp
Due: clang-format

Revise diagnostics (#145)
  examples/2024-YZhou-jupiter/jupiter_dry.inp
  src/diagnostics/anomaly.cpp
  src/diagnostics/diagnostics.hpp
  src/diagnostics/diagnostics_factory.cpp
  src/diagnostics/divergence.cpp
  src/diagnostics/horizontal_divergence.cpp
  src/diagnostics/hydro_flux.cpp
  src/diagnostics/pressure_anomaly.cpp
  src/diagnostics/radiative_flux.cpp
  src/diagnostics/temperature_anomaly.cpp
  src/diagnostics/v1_moments.cpp
  src/outputs/output_utils.cpp
  src/outputs/pnetcdf.cpp
Due: clang-format

Update on coordinate transform between cubed sphere panels (finished version) (#144)
  src/exo3/cs_velocity_rotation.cpp
  src/exo3/cs_velocity_rotation.hpp
  tests/test_cs_velocity_rotation.cpp
Due: clang-format

spherical case
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/CMakeLists.txt
  examples/2024-XZhang-minichem/minichem_sphr.cpp
  examples/2024-XZhang-minichem/minichem_sphr.inp
Due: cmake-format

Added C3M src files to CANOE
  CMakeLists.txt
  src/CMakeLists.txt
  src/c3m/CMakeLists.txt
  src/c3m/CustomRate.cpp
  src/c3m/CustomRate.hpp
  src/c3m/CustomTransport.cpp
  src/c3m/CustomTransport.hpp
  src/c3m/PhotoChemistry.cpp
  src/c3m/PhotoChemistry.hpp
  src/c3m/RadTran.cpp
  src/c3m/RadTran.hpp
  src/c3m/Vapors.cpp
  src/c3m/Vapors.hpp
  src/c3m/interpolation.cpp
  src/c3m/interpolation.hpp
Due: clang-format

Fixed CANOE
  CMakeLists.txt
  src/CMakeLists.txt
  src/c3m/CMakeLists.txt
  src/c3m/CustomRate.cpp
  src/c3m/CustomRate.hpp
  src/c3m/CustomTransport.cpp
  src/c3m/CustomTransport.hpp
  src/c3m/PhotoChemistry.cpp
  src/c3m/PhotoChemistry.hpp
  src/c3m/RadTran.cpp
  src/c3m/RadTran.hpp
  src/c3m/Vapors.cpp
  src/c3m/Vapors.hpp
  src/c3m/interpolation.cpp
  src/c3m/interpolation.hpp
Due: clang-format

change c3m to flask
  CMakeLists.txt
  cmake/c3m.cmake
  cmake/disort.cmake
  src/CMakeLists.txt
  src/flask/CMakeLists.txt
  src/flask/chemistry.cpp
  src/flask/chemistry.hpp
Due: clang-format, cmake-format

wip
  external/fetch_cantera.sh
  external/install_cantera.sh
  src/CMakeLists.txt
  src/air_parcel.cpp
  src/flask/CMakeLists.txt
  src/flask/chemistry.cpp
  src/flask/chemistry.hpp
  src/impl.cpp
  src/impl.hpp
Due: clang-format

wip
  requirements.txt
  src/flask/chemistry.cpp
  src/flask/chemistry.hpp
  src/flask/crossdiskread.f
  src/flask/filter_cross.py
  src/flask/makefile
  src/impl.cpp
  src/impl.hpp
Due: clang-format

wip
  cmake/c3m.cmake
Due: cmake-format

Rename c3m to flask (#149)
  CMakeLists.txt
  cmake/c3m.cmake
  cmake/disort.cmake
  external/fetch_cantera.sh
  external/install_cantera.sh
  requirements.txt
  src/CMakeLists.txt
  src/air_parcel.cpp
  src/flask/CMakeLists.txt
  src/flask/chemistry.cpp
  src/flask/chemistry.hpp
  src/flask/crossdiskread.f
  src/flask/filter_cross.py
  src/flask/makefile
  src/impl.cpp
Due: clang-format, cmake-format

fix blast
  .github/workflows/main.yml
  data/CMakeLists.txt
  data/check_data_integrity.sh
  examples/2023-Chen-exo3/.gitattributes
  examples/2023-Chen-exo3/test_blast.inp
  examples/2023-Chen-exo3/test_blast.py
Due: none

wip
  .github/workflows/mac.yml
  tests/CMakeLists.txt
Due: none

wip
  data/CMakeLists.txt
  tests/CMakeLists.txt
Due: none

add output
  examples/2023-Chen-exo3/test_blast_output.nc
Due: none

add mac test
  .github/workflows/mac.yml
Due: none

Fix exo2 (#150)
  .github/workflows/mac.yml
  .github/workflows/main.yml
  data/CMakeLists.txt
  data/check_data_integrity.sh
  examples/2023-Chen-exo3/.gitattributes
  examples/2023-Chen-exo3/test_blast.inp
  examples/2023-Chen-exo3/test_blast.py
  examples/2023-Chen-exo3/test_blast_output.nc
Due: none

scalar runs but wrong
  cmake/examples/hjupiter.cmake
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
  patches/24.time_integrator.patch
  patches/31.task_list.patch
Due: cmake-format

lbl rt (#4)
  cmake/examples/amars.cmake
  examples/2024-CMetz-amars/CMakeLists.txt
  examples/2024-CMetz-amars/amarsw.cpp
  examples/2024-CMetz-amars/amarsw.inp
  examples/2024-CMetz-amars/amarsw.yaml
  examples/2024-CMetz-amars/run_disort_amars.py
  examples/2024-CMetz-amars/run_ktable_amars.py
  examples/2024-FDing-jupiter-rt/jupiter1d.cpp
  examples/CMakeLists.txt
  python/pyharp.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_cloud.cpp
  tests/CMakeLists.txt
  tests/test_rad_unit.cpp
Due: clang-format, cmake-format

revise domain size
  examples/2024-YZhou-jupiter/jupiter_dry.inp
Due: none

wip
  src/forcing/heating_cooling.cpp
Due: clang-format

add resnick
  source_resnick.sh
Due: none

compile on pfe
  CMakeLists.txt
  cmake/parameters.cmake
  external/install_pnetcdf.sh
Due: cmake-format

wip
  examples/2024-YZhou-jupiter/jupiter_dry.inp
Due: none

wip
  cmake/examples/jupiter_h2o.cmake
  examples/2024-YZhou-jupiter/CMakeLists.txt
  examples/2024-YZhou-jupiter/jupiter_h2o.cpp
  examples/2024-YZhou-jupiter/jupiter_h2o.inp
Due: cmake-format

wip
  cmake/examples/jvortex.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/jvortex.cpp
  examples/2019-Li-snap/jvortex.inp
  examples/CMakeLists.txt
Due: cmake-format

fix mpi on resnick
  cmake/macros/macro_setup_problem.cmake
  cmake/macros/macro_setup_test.cmake
  src/CMakeLists.txt
Due: cmake-format

Add Jupiter Vortex Test case (#151)
  CMakeLists.txt
  cmake/examples/jupiter_h2o.cmake
  cmake/examples/jvortex.cmake
  cmake/macros/macro_setup_problem.cmake
  cmake/macros/macro_setup_test.cmake
  cmake/parameters.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/jvortex.cpp
  examples/2019-Li-snap/jvortex.inp
  examples/2024-YZhou-jupiter/CMakeLists.txt
  examples/2024-YZhou-jupiter/jupiter_h2o.cpp
  examples/2024-YZhou-jupiter/jupiter_h2o.inp
  examples/CMakeLists.txt
  external/install_pnetcdf.sh
  source_resnick.sh
  src/CMakeLists.txt
  src/forcing/heating_cooling.cpp
Due: clang-format, cmake-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
