Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

add exofms
  .gitignore
  CMakeLists.txt
  cmake/exofmsrt.cmake
  cmake/macros/macro_add_package.cmake
  cmake/yamlpp.cmake
  python/CMakeLists.txt
  src/CMakeLists.txt
  tests/CMakeLists.txt
Due: cmake-format

Add new tracers
  cmake/examples/exo3.cmake
  cmake/examples/jvortex.cmake
  examples/2019-Li-snap/jvortex.inp
  examples/2023-Chen-exo3/hs94.cpp
Due: cmake-format

Add ExoFMS-RT (#165)
  .gitignore
  CMakeLists.txt
  cmake/exofmsrt.cmake
  cmake/macros/macro_add_package.cmake
  cmake/yamlpp.cmake
  python/CMakeLists.txt
  src/CMakeLists.txt
  tests/CMakeLists.txt
Due: cmake-format

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
Due: none

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
  examples/2019-Li-snap/robert2d.inp
  examples/2023-Chen-exo3/W92_two_layer.inp
Due: none

mpich -> openmpi
  .github/workflows/main.yml
Due: none

wip
  .github/workflows/main.yml
Due: none

wip
  examples/2019-Li-snap/robert2d.inp
Due: none

Fix mpi (#166)
  .github/workflows/mac.yml
  .github/workflows/main.yml
  examples/2023-Chen-exo3/W92_two_layer.inp
Due: none

add eigen
  README.md
  external/fetch_eigen.sh
  external/install_eigen.sh
  external/install_pnetcdf.sh
  src/snap/decomposition/change_to_temperature.cpp
Due: clang-format

Add eigen fetch & install (#167)
  README.md
  external/fetch_eigen.sh
  external/install_eigen.sh
  external/install_pnetcdf.sh
  src/snap/decomposition/change_to_temperature.cpp
Due: clang-format

Updated Lmars Rsolver, added example jgcm cases
  cmake/examples/jgcm.cmake
  examples/2023-Chen-exo3/CMakeLists.txt
  examples/2023-Chen-exo3/hs94.cpp
  examples/2023-Chen-exo3/jupiter_crm.cpp
  examples/2023-Chen-exo3/jupiter_crm.inp
  examples/CMakeLists.txt
  src/snap/riemann/lmars.cpp
Due: clang-format, cmake-format

revise hllc
  cmake/examples/bryan.cmake
  src/snap/riemann/hllc_transform.cpp
Due: clang-format, cmake-format

tracer works for hllc
  src/snap/riemann/hllc_transform.cpp
Due: clang-format

Add hllc for clouds (#168)
  cmake/examples/bryan.cmake
  src/snap/riemann/hllc_transform.cpp
Due: clang-format, cmake-format

add cached libraries
  cmake/application.cmake
  cmake/athena.cmake
  cmake/disort.cmake
  cmake/exofmsrt.cmake
  cmake/gtest.cmake
  cmake/macros/macro_add_package_noinclude.cmake
  cmake/minichem.cmake
  cmake/pybind11.cmake
  cmake/rfm.cmake
  cmake/yamlpp.cmake
Due: cmake-format

finish
  cmake/macros/macro_add_package.cmake
  cmake/macros/macro_add_package_noinclude.cmake
  cmake/modules/FindNetCDF.cmake
Due: cmake-format

wip
  .cache/.dummy
Due: none

wip
  cmake/gtest.cmake
Due: cmake-format

wip
  cmake/application.cmake
  cmake/disort.cmake
  cmake/exofmsrt.cmake
  cmake/gtest.cmake
  cmake/macros/macro_add_package.cmake
  cmake/macros/macro_add_package_noinclude.cmake
  cmake/minichem.cmake
  cmake/rfm.cmake
  cmake/yamlpp.cmake
Due: cmake-format

Add cache entries for external library (#169)
  .cache/.dummy
  cmake/application.cmake
  cmake/athena.cmake
  cmake/disort.cmake
  cmake/exofmsrt.cmake
  cmake/gtest.cmake
  cmake/macros/macro_add_package_noinclude.cmake
  cmake/minichem.cmake
  cmake/modules/FindNetCDF.cmake
  cmake/pybind11.cmake
  cmake/rfm.cmake
  cmake/yamlpp.cmake
Due: cmake-format

wip
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format

wip
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format

update thermo
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/from_yaml_input.cpp
Due: clang-format

semi
  .github/workflows/mac.yml
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/from_yaml_input.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format

wip
  src/air_parcel.cpp
  src/air_parcel.hpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  src/snap/eos/ideal_moist_hydro.cpp
Due: clang-format

wip
  src/tracer/CMakeLists.txt
  src/tracer/tracer.cpp
  src/tracer/tracer.hpp
Due: clang-format

wip
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
Due: clang-format

wip
  src/CMakeLists.txt
  src/air_parcel.cpp
  src/diagnostics/anomaly.cpp
  src/diagnostics/hydro_flux.cpp
  src/diagnostics/hydro_mean.cpp
  src/forcing/heating_cooling.cpp
  src/forcing/relax_bot_comp.cpp
  src/forcing/relax_bot_temp.cpp
  src/harp/set_spectral_properties.cpp
  src/microphysics/kessler94.cpp
  src/microphysics/microphysics.hpp
  src/opacity/fu_waterice_cloud.cpp
  src/opacity/fu_waterliquid_cloud.cpp
  src/snap/decomposition/change_to_anomaly.cpp
  src/snap/decomposition/change_to_buoyancy.cpp
  src/snap/decomposition/change_to_entropy.cpp
  src/snap/decomposition/decomposition.cpp
  src/snap/eos/apply_vapor_limiter.cpp
  src/snap/eos/check_hydro_variables.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/riemann/hllc_transform.cpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  src/utils/construct_atmosphere.cpp
  src/utils/modify_atmoshere.cpp
Due: clang-format

example
  examples/2018-Li-harp/giants_re.cpp
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/jvortex.cpp
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/sedimentation.cpp
  examples/2019-Li-snap/straka.cpp
  examples/2023-Chen-exo3/test_adiabat.cpp
  examples/2023-Li-saturn-vla/saturn_radio.cpp
  examples/2023-Li-uranus/uranus_mwr.cpp
  examples/2024-CLi-RCEMIP/rcemip.cpp
  examples/2024-CMetz-amars/amars.cpp
  examples/2024-CMetz-amars/amarsw.cpp
  examples/2024-FDing-jupiter-rt/jupiter1d.cpp
  examples/2024-JHu-juno-mwr/juno_mwr.cpp
  examples/2024-Li-plume/plume.cpp
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  examples/2024-XZhang-cloud-rt/hywater.cpp
  examples/2024-XZhang-minichem/minichem.cpp
  examples/2024-XZhang-minichem/minichem_sphr.cpp
  examples/2024-YZhou-jupiter/jupiter_crm.cpp
  examples/2024-YZhou-jupiter/jupiter_dry.cpp
  examples/2024-YZhou-jupiter/jupiter_h2o.cpp
  src/CMakeLists.txt
  src/air_parcel.cpp
  src/snap/decomposition/change_to_buoyancy.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/stride_iterator.hpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

almost
  cmake/macros/macro_setup_problem.cmake
  examples/2019-Li-snap/bryan.cpp
  patches/27.coordinates.patch
  src/impl.cpp
  src/microphysics/microphysical_schemes.cpp
  src/opacity/fu_waterice_cloud.cpp
  src/opacity/fu_waterliquid_cloud.cpp
  src/snap/decomposition/change_to_buoyancy.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

compiles
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  tests/CMakeLists.txt
Due: clang-format

runs but wrong
  examples/2019-Li-snap/straka-thermo.yaml
  examples/2019-Li-snap/straka.cpp
  examples/2019-Li-snap/straka.inp
  src/snap/thermodynamics/thermodynamics.cpp
  tests/CMakeLists.txt
Due: clang-format

Working jgcm case
  cmake/examples/jgcm.cmake
  examples/2023-Chen-exo3/CMakeLists.txt
Due: cmake-format
