Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

wip
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/CMakeLists.txt
Due: cmake-format

wip
  src/outputs/netcdf.cpp
Due: clang-format

wip
  examples/2019-Li-snap/bryan.cpp
Due: none

add uranus rt case
  cmake/examples/ktable_jup.cmake
  examples/2018-Li-harp/CMakeLists.txt
  examples/2018-Li-harp/giants-ck.yaml
  examples/2018-Li-harp/giants-lbl.yaml
  examples/2018-Li-harp/giants-op.yaml
  examples/2018-Li-harp/new_jup_lat30_modelc.atm
  examples/2018-Li-harp/run_cktable_giants.py
  examples/2018-Li-harp/run_ktable_giants.py
  examples/2024-CMetz-amars/run_cktable_amars.py
  examples/CMakeLists.txt
  tools/atm_profile_utils.py
Due: cmake-format

add sat, nep and uran models
  examples/2018-Li-harp/new_jup_lat30_modelc.atm
  examples/2018-Li-harp/new_nep_lat30_modelc.atm
  examples/2018-Li-harp/new_sat_lat30_modelc.atm
  examples/2018-Li-harp/new_uran_lat30_modelc.atm
Due: none

add 1d cpp case
  examples/2018-Li-harp/CMakeLists.txt
  examples/2018-Li-harp/giants-ck.yaml
  examples/2018-Li-harp/giants-lbl.yaml
  examples/2018-Li-harp/giants_ir.inp
  examples/2018-Li-harp/giants_re.cpp
  examples/2018-Li-harp/giants_re.inp
  src/harp/radiation_band.cpp
Due: clang-format

move precip to thermo
  cmake/athena.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/earth-precip.yaml
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

compiles
  src/microphysics.old/CMakeLists.txt
  src/microphysics.old/chemistry_solver.hpp
  src/microphysics.old/microphysical_schemes.cpp
  src/microphysics.old/microphysical_schemes.hpp
  src/microphysics.old/microphysics.cpp
  src/microphysics.old/microphysics.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

use one single phase
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-moist.yaml
  examples/2019-Li-snap/earth-precip.yaml
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format

update athena
  cmake/athena.cmake
Due: cmake-format

wip
  examples/2019-Li-snap/bryan.inp
Due: none

Move precip into hydro (#178)
  cmake/athena.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/ammonia-kessler.yaml
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-precip.yaml
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-micro.yaml
  examples/2019-Li-snap/jup-thermo.yaml
  examples/2019-Li-snap/water-kessler.yaml
  src/impl.cpp
  src/impl.hpp
  src/microphysics.old/CMakeLists.txt
  src/microphysics.old/chemistry_solver.hpp
  src/microphysics.old/microphysical_schemes.cpp
  src/microphysics.old/microphysical_schemes.hpp
  src/microphysics.old/microphysics.cpp
  src/microphysics.old/microphysics.hpp
  src/outputs/netcdf.cpp
  src/schedulers.cpp
  src/schedulers.hpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

fix block dt bug
  patches/21.new_blockdt.patch
Due: none

add evap
  examples/2019-Li-snap/earth-precip.yaml
Due: none

add cloud reaction and revise evaporation
  examples/2019-Li-snap/earth-precip.yaml
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

add riemann solvers
  examples/2019-Li-snap/earth-precip.yaml
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/lmars.cpp
Due: clang-format

Add kessler microphysics (#179)
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-precip.yaml
  patches/21.new_blockdt.patch
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

fix bugs in netcdf and new_blockdt
  patches/21.new_blockdt.patch
  src/outputs/netcdf.cpp
Due: clang-format

fix bugs in netcdf and new_blockdt (#181)
  patches/21.new_blockdt.patch
  src/outputs/netcdf.cpp
Due: clang-format

wip
  examples/2024-CLi-RCEMIP/rcemip.yaml
Due: none

Revise thermodynamcis - jcrm (#174)
  THIS_MAY_BREAK
  cmake/examples/bryan.cmake
  cmake/examples/jcrm.cmake
  cmake/examples/jupiter_crm.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.cpp.new
  examples/2019-Li-snap/jcrm.cpp
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-micro.yaml
  examples/2019-Li-snap/jup-thermo-H2O-NH3.yaml
  examples/2019-Li-snap/jvortex.cpp
  examples/2019-Li-snap/jvortex.inp
  examples/CMakeLists.txt
  src/outputs/load_user_output_data.cpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format, cmake-format

Revise thermodynamcis - bryan (#173)
  cmake/athena.cmake
  cmake/examples/bryan.cmake
  configure.hpp.in
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-moist.yaml
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  patches/24.time_integrator.patch
  src/air_parcel.cpp
  src/impl.cpp
  src/impl.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/outputs/load_user_output_data.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/flux_decomposition.hpp
  src/snap/implicit/forward_backward.hpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/implicit/periodic_forward_backward.hpp
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/atm_thermodynamics.hpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/CMakeLists.txt
  tests/earth-thermo.yaml
  tests/jup-thermo.yaml
  tests/test_earth_thermo.cpp
  tests/test_jup_thermo.cpp
  tests/test_thermodynamics.cpp
Due: clang-format, cmake-format

Revise thermodynamcis - robert (#172)
  cmake/examples/dam.cmake
  cmake/examples/exo2.cmake
  cmake/examples/robert.cmake
  cmake/examples/straka.cmake
  cmake/examples/vortex.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/earth-dry.yaml
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/robert2d.inp
  examples/2019-Li-snap/robert3d.inp
  examples/2019-Li-snap/straka.inp
  patches/25.constant_acc.patch
  patches/26.adiabatic_hydro.patch
  src/exo3/exo3.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

Move precip into hydro (#178)
  cmake/athena.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/ammonia-kessler.yaml
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-precip.yaml
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-micro.yaml
  examples/2019-Li-snap/jup-thermo.yaml
  examples/2019-Li-snap/water-kessler.yaml
  src/impl.cpp
  src/impl.hpp
  src/microphysics.old/CMakeLists.txt
  src/microphysics.old/chemistry_solver.hpp
  src/microphysics.old/microphysical_schemes.cpp
  src/microphysics.old/microphysical_schemes.hpp
  src/microphysics.old/microphysics.cpp
  src/microphysics.old/microphysics.hpp
  src/schedulers.cpp
  src/schedulers.hpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

add rcemip case
  cmake/examples/rcemip.cmake
  examples/2024-CLi-RCEMIP/rce_small.inp
  examples/2024-CLi-RCEMIP/rcemip.cpp
  examples/2024-CLi-RCEMIP/rcemip.yaml
Due: cmake-format

Initial commit on xiz/cldchem branch
  cmake/examples/hjupiter.cmake
Due: cmake-format

wip
  src/opacity/Giants/freedman_mean.cpp
Due: clang-format

wip
  cmake/examples/hjupiter.cmake
  examples/2024-XZhang-cloud-rt/hjupiter.inp
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
  src/opacity/Giants/freedman_mean.cpp
Due: clang-format, cmake-format

wip
  cmake/examples/hjupiter.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/hj-latlon.inp
  examples/2024-XZhang-cloud-rt/hjupiter-uniform.yaml
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  examples/2024-XZhang-cloud-rt/hjupiter.cpp.cli
  examples/2024-XZhang-cloud-rt/hjupiter.cpp.xiz
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
  examples/2024-XZhang-cloud-rt/hjupiter_base_cartesian.inp
  examples/2024-XZhang-cloud-rt/hjupiter_base_exo.inp
  examples/2024-XZhang-cloud-rt/hjupiter_base_sphr.inp
  examples/2024-XZhang-cloud-rt/hjupiter_sphr.cpp
Due: cmake-format

wip
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/hjupiter-spherical.inp
  examples/2024-XZhang-cloud-rt/hjupiter_sphr.cpp
Due: none

wip
  cmake/examples/hywater.cmake
  cmake/examples/rtcld.cmake
  cmake/examples/rtdry.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/hjdry.yaml
  examples/2024-XZhang-cloud-rt/hjdry_cart.inp
  examples/2024-XZhang-cloud-rt/hjdry_exo.inp
  examples/2024-XZhang-cloud-rt/hjdry_sphr.inp
  examples/2024-XZhang-cloud-rt/hywater.cpp.old
  examples/2024-XZhang-cloud-rt/hywater.inp
  examples/2024-XZhang-cloud-rt/hywater.yaml
  examples/2024-XZhang-cloud-rt/jupcld.inp
  examples/2024-XZhang-cloud-rt/jupcld.yaml
  examples/2024-XZhang-cloud-rt/jupcld_cart.inp
  examples/2024-XZhang-cloud-rt/rtcld.cpp
  examples/2024-XZhang-cloud-rt/rtdry.cpp
  examples/CMakeLists.txt
Due: cmake-format

wip
  cmake/examples/rtcld.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/cloud.info
  examples/2024-XZhang-cloud-rt/example_rtcld.cpp
  examples/2024-XZhang-cloud-rt/hjcld.yaml
  examples/2024-XZhang-cloud-rt/hjcld_cart.inp
  examples/2024-XZhang-cloud-rt/rt_h2o.cpp
  examples/2024-XZhang-cloud-rt/rt_h2o_nh3.cpp
  examples/2024-XZhang-cloud-rt/rt_silicate.cpp
  examples/2024-XZhang-cloud-rt/silicate.yaml
  examples/2024-XZhang-cloud-rt/svp_functions.hpp
  src/opacity/simple_cloud.cpp
Due: clang-format, cmake-format

use lmars instead of hllc_transform
  cmake/examples/rtcld.cmake
Due: cmake-format

wip
  cmake/examples/rtcld.cmake
  examples/2024-XZhang-cloud-rt/bd.yaml
  examples/2024-XZhang-cloud-rt/bddry_cart.inp
Due: cmake-format
