Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

Fix temperature cell to interface interpolation error (#33)
  examples/2024-XZhang-cloud-rt/hjupiter.inp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/set_spectral_properties.cpp
Due: clang-format

HJ grey RT can work with small fix (#40)
  cmake/hjupiter.cmake
  examples/2024-XZhang-cloud-rt/hjupiter-spherical.inp
  examples/2024-XZhang-cloud-rt/hjupiter-uniform.yaml
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  patches/19.calculate_fluxes.patch
  src/checks.cpp
  src/checks.hpp
  src/exo3/cubed_sphere.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/opacity/Giants/freedman_simple2.cpp
  src/opacity/absorber.hpp
  src/outputs/load_user_output_data.cpp
  src/snap/decomposition/change_to_entropy.cpp
  src/snap/decomposition/change_to_perturbation.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/implicit_solver.hpp
  src/snap/implicit/solve_implicit_3d.cpp
  src/snap/riemann/hllc_transform.cpp
  src/tasklist/implicit_hydro_tasks.cpp
  src/virtual_groups.hpp
Due: clang-format, cmake-format

Add noflux.cpp (#36)
  cmake/hjupiter.cmake
  src/snap/riemann/noflux.cpp
Due: clang-format, cmake-format

Fix restart (#18)
  cmake/exo2.cmake
  cmake/exo3.cmake
  patches/25.cs_meshblock.patch
  src/snap/eos/shallow_yz_hydro.cpp
Due: clang-format, cmake-format

add mpi guard
  src/exo3/cubed_sphere.cpp
Due: clang-format

Update actions workflow
  .github/workflows/main.yml
Due: none

In-panel sync and coriolis force (#12)
  cmake/athena.cmake
  cmake/exo3_3.cmake
  examples/2023-Chen-exo3/W92.cpp
  examples/2023-Chen-exo3/W92.inp
  examples/2023-Chen-exo3/hs94.cpp
  examples/2023-Chen-exo3/hs94.inp
  examples/2023-Chen-exo3/test_adiabat.cpp
  examples/2023-Chen-exo3/test_blast.cpp
  patches/19.calculate_fluxes.patch
  patches/24.time_integrator.patch
  patches/29.cs_bvals_var.patch
  patches/29.cs_mesh.patch
  patches/31.cs_calculate_fluxes.patch
  patches/31.task_list.patch
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
  src/exo3/cubed_sphere_utility.cpp
Due: clang-format, cmake-format

Fix adiabatic hydro eos
  patches/26.cs_adiabatic_hydro.patch
Due: none

Revise EXO3 for better structure (#3)
  cmake/exo3.cmake
  examples/2023-Chen-exo3/test_blast.cpp
  examples/2023-Chen-exo3/test_blast_192.inp
  examples/2023-Chen-exo3/test_blast_384.inp
  examples/2023-Chen-exo3/test_blast_48.inp
  examples/2023-Chen-exo3/test_blast_768.inp
  examples/2023-Chen-exo3/test_blast_96.inp
  src/exo3/bilinear_interpolation.cpp
  src/exo3/cubed_sphere_utility.cpp
  src/exo3/gnomonic_equiangle.cpp
  src/exo3/gnomonic_equiangle.hpp
  src/snap/eos/shallow_yz_hydro.cpp
  src/snap/riemann/lmars_shallow_yz.cpp
  src/snap/riemann/roe_shallow_yz.cpp
Due: clang-format, cmake-format

Refactoring implicit (#17)
  examples/2023-Chen-exo3/hs94.cpp
  src/exo3/gnomonic_equiangle.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/forward_backward.hpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/implicit_solver.cpp
  src/snap/implicit/implicit_solver.hpp
  src/snap/implicit/partial_correction.cpp
  src/snap/implicit/periodic_forward_backward.hpp
  src/snap/implicit/solve_implicit_3d.cpp
  src/snap/riemann/hllc_transform.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

Update actions run triggers
  .github/workflows/main.yml
Due: none

Diable redo by default (#24)
  README.md
  main.cpp
Due: none

add sponge layer (temporary)
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  examples/2024-XZhang-cloud-rt/hjupiter.inp
  src/harp/set_spectral_properties.cpp
Due: clang-format

3d coriolis -> 2d coriolis
  examples/2023-Chen-exo3/hot_jupiter.cpp
  examples/2023-Chen-exo3/hs94.cpp
Due: none

Add global RCE (#2)
  cmake/hjupiter.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/hj-latlon.inp
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  examples/2024-XZhang-cloud-rt/hjupiter.inp
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
Due: cmake-format

working time-dependent grey model
  examples/2024-XZhang-cloud-rt/hjupiter.inp
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
  src/harp/rt_solver_disort.cpp
Due: clang-format

Fix hllc_transporm solver (#16)
  cmake/exo3.cmake
  examples/2023-Chen-exo3/hs94-stable20.inp
  examples/2023-Chen-exo3/hs94-test.inp
  examples/2023-Chen-exo3/hs94.cpp
  src/exo3/gnomonic_equiangle.cpp
  src/exo3/gnomonic_equiangle.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/riemann/hllc_transform.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

add bflux in Forcing (#39)
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  examples/2024-XZhang-cloud-rt/hjupiter.inp
Due: none

exo2 doc
  doc/README-exo2.md
Due: none

Add uniform forcing case (#30)
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  examples/2024-XZhang-cloud-rt/hjupiter.inp
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
  examples/2024-XZhang-cloud-rt/hywater.yaml
Due: none

Add fluor and fisort
  src/harp/rt_solver_disort.cpp
Due: clang-format

Add wait after send (#23)
  patches/19.calculate_fluxes.patch
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
Due: clang-format

remove redo
  src/impl.hpp
Due: clang-format

Add contravariant/covariant conversion (#9)
  cmake/exo2.cmake
  examples/2023-Chen-exo3/test_adiabat.cpp
  examples/2023-Chen-exo3/test_adiabat.inp
  examples/CMakeLists.txt
  src/exo3/cubed_sphere_utility.hpp
  src/exo3/gnomonic_equiangle.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/eos/shallow_yz_hydro.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/riemann/hllc_transform.cpp
Due: clang-format, cmake-format

Merge athena updates (#1)
  examples/2023-Chen-exo3/W92.inp
  examples/2023-Chen-exo3/hs94-ci.inp
  patches/31.task_list.patch
Due: none

add remaining changes from HJ-greyRT
  examples/2024-XZhang-cloud-rt/hjupiter.cpp
  examples/2024-XZhang-cloud-rt/hjupiter.inp
Due: none

Added more test cases and helper scripts (#26)
  cmake/cart3.cmake
  cmake/polar3.cmake
  examples/2023-Chen-exo3/calc_avg.py
  examples/2023-Chen-exo3/calc_avg_pres.py
  examples/2023-Chen-exo3/calculate_psi.py
  examples/2023-Chen-exo3/convert_to_cart.py
  examples/2023-Chen-exo3/convert_to_polar.py
  examples/2023-Chen-exo3/generate_plots.py
  examples/2023-Chen-exo3/height_to_pres.py
  examples/2023-Chen-exo3/height_to_sigma.py
  examples/2023-Chen-exo3/hot_jupiter.cpp
  examples/2023-Chen-exo3/hot_jupiter.inp
  examples/2023-Chen-exo3/hs94_polar.cpp
  examples/2023-Chen-exo3/hs94_polar.inp
  examples/2023-Chen-exo3/mass_stream_func.py
  examples/2023-Chen-exo3/polar_dry.cpp
  examples/2023-Chen-exo3/polar_dry.inp
Due: cmake-format

Rename patch files (#19)
  cmake/athena.cmake
  patches/23.meshblock.patch
  patches/25.cs_meshblock.patch
  patches/26.adiabatic_hydro.patch
  patches/27.coordinates.patch
  patches/28.bvals_cc.patch
  patches/29.mesh.patch
  patches/30.bvals_base.patch
Due: cmake-format

Fix typo in convective adjustment (#45)
  src/single_column/convective_adjustment.cpp
Due: clang-format

add simple diagnostics
  patches/24.time_integrator.patch
  src/CMakeLists.txt
  src/astro/celestrial_body.cpp
  src/astro/celestrial_body.hpp
  src/common.hpp
  src/diagnostics/CMakeLists.txt
  src/diagnostics/curl.cpp
  src/diagnostics/diagnostics.cpp
  src/diagnostics/diagnostics.hpp
  src/diagnostics/diagnostics_factory.cpp
  src/diagnostics/divergence.cpp
  src/diagnostics/todo/buoyancy.cpp
  src/diagnostics/todo/convective_heat_flx.cpp
  src/diagnostics/todo/eddy_flux.cpp
  src/diagnostics/todo/eddy_kinetic_energy.cpp
  src/diagnostics/todo/horizontal_divergence.cpp
  src/diagnostics/todo/hydro_mean.cpp
  src/diagnostics/todo/latent_heating.cpp
  src/diagnostics/todo/pressure_anomaly.cpp
  src/diagnostics/todo/radiative_flux.cpp
  src/diagnostics/todo/spherical_angular_momentum.cpp
  src/diagnostics/todo/temperature_anomaly.cpp
  src/diagnostics/todo/tendency.cpp
  src/diagnostics/todo/total_flux.cpp
  src/exchanger/exchanger.cpp
  src/exchanger/linear_exchanger.hpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.hpp
  src/harp/spectral_grid.hpp
  src/impl.cpp
  src/impl.hpp
  src/outputs/load_user_output_data.cpp
  src/outputs/output_utils.cpp
  src/snap/diagnostics/diagnostics.cpp
  src/snap/diagnostics/temperature_anomaly.cpp
  src/virtual_groups.hpp
Due: clang-format

wip
  examples/2019-Li-snap/straka.inp
Due: none

finish
  src/diagnostics/buoyancy.cpp
  src/diagnostics/curl.cpp
  src/diagnostics/diagnostics.hpp
  src/diagnostics/diagnostics_factory.cpp
  src/diagnostics/hydro_mean.cpp
  src/diagnostics/todo/hydro_mean.cpp
  src/diagnostics/todo/temperature_anomaly.cpp
  src/outputs/netcdf.cpp
  src/outputs/output_utils.cpp
  src/outputs/pnetcdf.cpp
  src/virtual_groups.hpp
Due: clang-format

wip
  src/outputs/pnetcdf.cpp
Due: clang-format

wip
  .github/workflows/main.yml
Due: none

style fix
  cmake/hjupiter.cmake
  requirements.txt
  src/harp/read_stellar_flux.cpp
  src/harp/read_stellar_flux.hpp
  src/harp/rt_solver_disort.cpp
  src/opacity/Giants/freedman_simple2.cpp
  src/opacity/absorber.hpp
  src/opacity/absorber_ck.cpp
  src/opacity/absorber_ck.hpp
  src/opacity/helios_ck_premix.cpp
  src/opacity/read_cia_ff.cpp
  src/opacity/read_cia_ff.hpp
  src/opacity/read_rayleigh.cpp
  src/snap/implicit/solve_implicit_3d.cpp
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/noflux.cpp
  tests/test_read_cia_ff.cpp
  tests/test_read_rayleigh.cpp
  tests/test_read_stellar_flux.cpp
Due: clang-format, cmake-format

wip
  tools/run_ktable_lava.py
Due: none

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
