Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

modified
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

update on panel 1
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

transform from plane 1 to others
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

wip
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

rotational transformation
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

file manage
  src/checks.cpp
  src/exo3/cs_velocity_rotation.cpp
  src/exo3/cs_velocity_rotation.hpp
Due: clang-format

file added
  src/checks.cpp
Due: clang-format

wip
  CMakeLists.txt
  src/impl.cpp
  src/parameterization/CMakeLists.txt
  src/parameterization/parameterization.hpp
  src/parameterization/top_sponge_lyr.cpp
Due: clang-format

Update on coordinate transform between cubed sphere panels (#138)
  data/fetch_exogcm_opacity.sh
  src/exo3/cs_velocity_rotation.cpp
  src/exo3/cs_velocity_rotation.hpp
  tests/CMakeLists.txt
  tests/test_cs_velocity_rotation.cpp
Due: clang-format

bind construct_atmosphere
  examples/2024-CLi-juno-mwr/juno_mwr.inp
  examples/2024-CLi-juno-mwr/run_juno_mwr.py
  python/pyathena.cpp
  src/utils/construct_atmosphere.cpp
  src/utils/construct_atmosphere.hpp
Due: clang-format

run emcee
  examples/2024-CLi-juno-mwr/inspect_emcee_chain.py
  examples/2024-CLi-juno-mwr/inspect_emcee_step.py
  examples/2024-CLi-juno-mwr/jupiter_atmos.yaml
  examples/2024-CLi-juno-mwr/run_juno_emcee.py
  examples/2024-CLi-juno-mwr/run_juno_mwr.py
  src/utils/construct_atmosphere.cpp
Due: clang-format

add jcrm
  cmake/modules/FindNetCDF.cmake
  data/check_data_integrity.sh
  examples/CMakeLists.txt
Due: cmake-format

wip
  cmake/modules/FindNetCDF.cmake
Due: cmake-format

wip
  cmake/athena.cmake
Due: cmake-format

modify cmake dependence
  cmake/application.cmake
  cmake/gtest.cmake
  cmake/yamlpp.cmake
Due: cmake-format

modify cmake (2)
  cmake/application.cmake
  cmake/gtest.cmake
  cmake/yamlpp.cmake
  data/check_data_integrity.sh
Due: cmake-format

disable n-body
  src/impl.cpp
  src/mesh_destroy.cpp
  src/mesh_setup.cpp
  src/nbody/particles.hpp
Due: clang-format

remove il,iu
  python/pyharp.cpp
  src/harp/radiation.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

revise exchanger
  src/exchanger/exchanger.cpp
  src/exchanger/exchanger.hpp
  src/exchanger/linear_exchanger.hpp
  src/impl.hpp
Due: clang-format

edit diag after exchanger change
  src/diagnostics/diagnostics.cpp
  src/diagnostics/diagnostics.hpp
  src/diagnostics/hydro_flux.cpp
  src/diagnostics/pressure_anomaly.cpp
  src/diagnostics/radiative_flux.cpp
  src/diagnostics/temperature_anomaly.cpp
  src/forcing/forcing_factory.cpp
Due: clang-format

cubed sphere edits
  src/astro/celestrial_body.cpp
  src/exo3/cubed_sphere_utility.cpp
  src/exo3/cubed_sphere_utility.hpp
Due: clang-format

rt edits
  src/CMakeLists.txt
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.cpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_lambert.cpp
  src/harp/rt_solvers.hpp
Due: clang-format

fix style
  src/exo3/cs_velocity_rotation.cpp
  src/exo3/cs_velocity_rotation.hpp
  tests/test_cs_velocity_rotation.cpp
Due: clang-format

start revising composition inversion
  src/inversion/composition_inversion.cpp
Due: clang-format

add jupiter crm case
  cmake/examples/jupiter_dry.cmake
  cmake/examples/jupiter_h2o.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2024-YZhou-jupiter/CMakeLists.txt
  examples/2024-YZhou-jupiter/jupiter.yaml
  examples/2024-YZhou-jupiter/jupiter2d.inp
  examples/2024-YZhou-jupiter/jupiter_crm.cpp
  examples/2024-YZhou-jupiter/jupiter_dry.cpp
  examples/2024-YZhou-jupiter/jupiter_dry.inp
  examples/2024-YZhou-jupiter/water_ammonia.yaml
  examples/CMakeLists.txt
  src/exo3/cubed_sphere_utility.cpp
Due: clang-format, cmake-format

parallel rt
  cmake/examples/jupiter_crm.cmake
  cmake/examples/jupiter_dry.cmake
  examples/2024-YZhou-jupiter/jupiter_dry.inp
  python/pyharp.cpp
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/radiation_band_exchanger.cpp
  src/harp/rt_solver_disort.cpp
Due: clang-format, cmake-format

refactor exchanger
  src/exchanger/exchanger.cpp
  src/exchanger/exchanger.hpp
  src/snap/decomposition/change_to_entropy.cpp
  src/snap/decomposition/decomposition.cpp
  src/snap/decomposition/decomposition.hpp
Due: clang-format

fix bug
  src/snap/decomposition/change_to_anomaly.cpp
  src/snap/decomposition/decomposition.cpp
  src/snap/decomposition/decomposition.hpp
Due: clang-format

add temperature
  patches/19.calculate_fluxes.patch
  src/snap/decomposition/change_to_temperature.cpp
  src/snap/decomposition/decomposition.hpp
Due: clang-format

wip
  examples/2019-Li-snap/test_straka.py
Due: none

wip
  cmake/examples/jupiter_dry.cmake
  examples/2024-YZhou-jupiter/jupiter_dry.inp
Due: cmake-format

wip
  CMakeLists.txt
  cmake/minichem.cmake
Due: cmake-format

add minichem dir
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/CMakeLists.txt
  examples/2024-XZhang-minichem/H2.cpp
  examples/2024-XZhang-minichem/chem/CMakeLists.txt
  examples/2024-XZhang-minichem/chem/H2.cpp
  examples/2024-XZhang-minichem/minichem.cpp
  examples/2024-XZhang-minichem/minichem.inp
  examples/2024-XZhang-minichem/minichem.yaml
  examples/2024-XZhang-minichem/run_disort_hjup.py
  examples/2024-XZhang-minichem/run_flux_1d.py
  examples/2024-XZhang-minichem/run_ktable_hjup.py
  examples/CMakeLists.txt
Due: cmake-format

wip
  examples/2024-XZhang-minichem/minichem.inp
Due: none

update minichem.inp
  examples/2024-XZhang-minichem/minichem.inp.2
  examples/2024-XZhang-minichem/minichem.yaml.2
Due: none

add forcing in the hot jupiter inp and remove forcing in hot jupiter pgen
  cmake/compilers.cmake
  cmake/examples/hjupiter.cmake
  examples/2024-XZhang-cloud-rt/chem/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/chem/H2.cpp
  examples/2024-XZhang-cloud-rt/hjupiter.cpp.cli
  examples/2024-XZhang-cloud-rt/hjupiter.cpp.xiz
  examples/2024-XZhang-cloud-rt/hjupiter.inp
  examples/2024-XZhang-cloud-rt/hjupiter.yaml
Due: cmake-format

add minichem f90
  CMakeLists.txt
  cmake/examples/minichem.cmake
  cmake/minichem.cmake
Due: cmake-format

wip
  CMakeLists.txt
  examples/2024-XZhang-minichem/minichem.cpp
Due: none

minichem demo
  cmake/compilers.cmake
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/minichem.cpp
  src/CMakeLists.txt
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format, cmake-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
