Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

fix implicit thermodynamics
  cmake/examples/bryan.cmake
  cmake/examples/rtcld.cmake
  examples/2019-Li-snap/bryan.cpp
  src/snap/implicit/forward_backward.hpp
Due: clang-format, cmake-format

dirty fix
  configure.hpp.in
  examples/2024-XZhang-cloud-rt/bddry_cart.inp
  src/checks.cpp
  src/harp/set_spectral_properties.cpp
Due: clang-format

wip
  examples/2024-XZhang-cloud-rt/silicate.yaml
  src/microphysics/kessler94.cpp
Due: clang-format

add stokes
  cmake/examples/rtcld.cmake
  examples/2024-XZhang-cloud-rt/svp_functions.hpp
  src/microphysics/kessler94.cpp
Due: clang-format, cmake-format

wip
  cmake/examples/rtcld.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/bdcld.yaml
  examples/2024-XZhang-cloud-rt/bdcld_cart.inp
  examples/2024-XZhang-cloud-rt/beta_rtjup3cld.cpp
  examples/2024-XZhang-cloud-rt/beta_rtjup3cld.inp
  examples/2024-XZhang-cloud-rt/cloud.info
  examples/2024-XZhang-cloud-rt/h2o-nh3-nh4sh.yaml
  examples/2024-XZhang-cloud-rt/rt_jup3cld.yaml
  examples/2024-XZhang-cloud-rt/silicate.yaml
  examples/2024-XZhang-cloud-rt/svp_functions.hpp
Due: cmake-format

wip
  cmake/examples/rtcld.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/beta_rtjup3cld.cpp
  examples/2024-XZhang-cloud-rt/beta_rtsi.cpp
  examples/2024-XZhang-cloud-rt/example_rtcld.cpp
  examples/2024-XZhang-cloud-rt/rt_h2o.cpp
  examples/2024-XZhang-cloud-rt/rt_h2o_nh3.cpp
  examples/2024-XZhang-cloud-rt/rt_silicate.cpp
Due: cmake-format

fixed hllc sedimentation
  src/snap/riemann/hllc_transform.cpp
Due: clang-format

wip
  src/microphysics/kessler94.cpp
Due: clang-format

wip
  cmake/examples/rtcld.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/beta_rtsi.cpp
  examples/2024-XZhang-cloud-rt/svp_functions.hpp
Due: cmake-format

modified the sedimentation flux for hllc
  src/snap/riemann/hllc_transform.cpp
Due: clang-format

wip
  cmake/examples/rtcld.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/beta_rtjup3cld.cpp
  examples/CMakeLists.txt
  src/opacity/Giants/freedman_mean.cpp
Due: clang-format, cmake-format

use netcdf
  cmake/modules/FindNetCDF.cmake
Due: cmake-format

fixed exo blocks by csh
  cmake/parameters.cmake
  configure.hpp.in
  examples/2024-XZhang-cloud-rt/beta_rtsi.cpp
Due: cmake-format

wip
  cmake/examples/jupiter_h2o.cmake
  cmake/examples/minichem.cmake
  cmake/examples/rtcldexo.cmake
  cmake/minichem.cmake
  examples/2024-XZhang-minichem/CMakeLists.txt
  examples/2024-XZhang-minichem/dry_mini.cpp
  patches/35.mini_ch_i_dlsode.f90.patch
Due: cmake-format

Added back hotizontal transport
  src/snap/riemann/hllc_transform.cpp
Due: clang-format

wip on fixing minichem
  examples/2024-XZhang-minichem/dry_mini.inp
Due: none

minichem wip
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/dry_mini.cpp
Due: cmake-format

add a new BDF solver for minichem
  examples/2024-XZhang-minichem/dry_mini.cpp
  examples/2024-XZhang-minichem/jup_mini.cpp
  patches/35.mini_ch_i_dlsode.f90.patch
Due: none

fix minichem call
  examples/2024-XZhang-minichem/dry_mini.cpp
  examples/2024-XZhang-minichem/jup_mini.cpp
Due: none

wip
  examples/2024-XZhang-minichem/minichem.inp
  examples/2024-XZhang-minichem/minichem.inp.2
  examples/2024-XZhang-minichem/minichem.yaml
  examples/2024-XZhang-minichem/minichem.yaml.2
  examples/2024-XZhang-minichem/minichem_sphr.cpp
  examples/2024-XZhang-minichem/minichem_sphr.inp
  examples/2024-XZhang-minichem/run_disort_hjup.py
  examples/2024-XZhang-minichem/run_flux_1d.py
  examples/2024-XZhang-minichem/run_ktable_hjup.py
Due: none

update minichem.cpp
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/CMakeLists.txt
  examples/2024-XZhang-minichem/mini.inp
  examples/2024-XZhang-minichem/minichem.cpp
Due: cmake-format

wip
  examples/2024-XZhang-minichem/mini.inp
Due: none

update minichem.cpp
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/mini.inp
  examples/2024-XZhang-minichem/minichem.cpp
Due: cmake-format

wip
  examples/2024-XZhang-minichem/minichem.cpp
Due: none

wip
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/conv-alichem.cpp
Due: cmake-format

wip
  examples/2024-XZhang-minichem/mini.inp
  examples/2024-XZhang-minichem/minichem.cpp
Due: none

wip
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/CMakeLists.txt
Due: cmake-format

wip
  examples/2024-XZhang-minichem/conv-alichem.cpp
  examples/2024-XZhang-minichem/minichem.cpp
Due: none

add obliquity
  cmake/examples/rtdry.cmake
  examples/2024-XZhang-cloud-rt/rtdry.cpp
  examples/2024-XZhang-cloud-rt/u3d.inp
  examples/2024-XZhang-cloud-rt/u3d.yaml
  src/astro/celestrial_body.cpp
  src/harp/rt_solver_disort.cpp
  src/opacity/Giants/simple_grey.cpp
Due: clang-format, cmake-format

wip
  README
  cmake/examples/rtdry.cmake
  examples/2024-XZhang-cloud-rt/rtdry.cpp
Due: cmake-format

clean up
  examples/2024-XZhang-cloud-rt/rtdry.cpp
  src/harp/rt_solver_disort.cpp
Due: clang-format

revise mini chem
  cmake/minichem.cmake
Due: cmake-format

fix 1d case
  cmake/examples/ktable_jup.cmake
  examples/2018-Li-harp/giants-lbl.yaml
  examples/2018-Li-harp/giants_re.cpp
  examples/2018-Li-harp/giants_re.inp
  src/harp/radiation_band_exchanger.cpp
Due: clang-format, cmake-format

Revise thermodynamcis - robert (#172)
  cmake/examples/dam.cmake
  cmake/examples/exo2.cmake
  cmake/examples/robert.cmake
  cmake/examples/straka.cmake
  cmake/examples/vortex.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/earth-dry.yaml
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/robert2d.inp
  examples/2019-Li-snap/robert3d.inp
  examples/2019-Li-snap/straka.inp
  patches/25.constant_acc.patch
  patches/26.adiabatic_hydro.patch
  src/exo3/exo3.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

Revise thermodynamcis - bryan (#173)
  cmake/athena.cmake
  cmake/examples/bryan.cmake
  configure.hpp.in
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-moist.yaml
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  patches/24.time_integrator.patch
  src/air_parcel.cpp
  src/impl.cpp
  src/impl.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/outputs/load_user_output_data.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/flux_decomposition.hpp
  src/snap/implicit/forward_backward.hpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/implicit/periodic_forward_backward.hpp
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/atm_thermodynamics.hpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/CMakeLists.txt
  tests/earth-thermo.yaml
  tests/jup-thermo.yaml
  tests/test_earth_thermo.cpp
  tests/test_jup_thermo.cpp
  tests/test_thermodynamics.cpp
Due: clang-format, cmake-format

Revise thermodynamcis - jcrm (#174)
  THIS_MAY_BREAK
  cmake/examples/bryan.cmake
  cmake/examples/jcrm.cmake
  cmake/examples/jupiter_crm.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.cpp.new
  examples/2019-Li-snap/jcrm.cpp
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-micro.yaml
  examples/2019-Li-snap/jup-thermo-H2O-NH3.yaml
  examples/2019-Li-snap/jvortex.cpp
  examples/2019-Li-snap/jvortex.inp
  examples/CMakeLists.txt
  src/outputs/load_user_output_data.cpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format, cmake-format
