Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

Use CFL=0.2 as the control simulation for adding wall
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
Due: none

Can create an IceBoundaryModel with wrong dx and dx
  examples/2024-YixiaoZ-geyser/adcpp.hpp
  examples/2024-YixiaoZ-geyser/air_ice_coupler.hpp
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
Due: none

Fix a bug
  examples/2024-YixiaoZ-geyser/air_ice_coupler.hpp
Due: none

Add an AirIceCoupler class
  examples/2024-YixiaoZ-geyser/air_ice_coupler.hpp
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
Due: none

Run the ice boundary model
  cmake/compilers.cmake
  examples/2024-YixiaoZ-geyser/air_ice_coupler.hpp
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
  examples/2024-YixiaoZ-geyser/ice_shell.hpp
Due: cmake-format

Apply condensation
  examples/2024-YixiaoZ-geyser/air_ice_coupler.hpp
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
  examples/2024-YixiaoZ-geyser/ice_shell.hpp
Due: none

Set the air ice coupler as a static variable
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
Due: none

Use vapor pressure from Athena rather than p_sat
  examples/2024-YixiaoZ-geyser/air_ice_coupler.hpp
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
  examples/2024-YixiaoZ-geyser/ice_shell.hpp
Due: none

Setup a test case for coarse resolution
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
Due: none

Fix a bug and add output
  examples/2024-YixiaoZ-geyser/air_ice_coupler.hpp
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
Due: none

modified CK and add Toon solver
  cmake/examples/rtdry.cmake
  examples/2024-XZhang-cloud-rt/rtdry.cpp
  examples/2024-XZhang-cloud-rt/rtdry.yaml
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_toon.cpp
  src/harp/rt_solvers.hpp
  src/harp/set_spectral_properties.cpp
  src/opacity/absorber.hpp
  src/opacity/absorber_ck.cpp
  src/opacity/absorber_ck.hpp
  src/opacity/absorber_factory.cpp
Due: clang-format, cmake-format

wip
  README
  cmake/examples/ice_h2s.cmake
  cmake/examples/rtcldexo.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/ice_h2s.cpp
  examples/2024-XZhang-cloud-rt/jupiter_crm.cpp
  examples/2024-XZhang-cloud-rt/rtcldu3d.cpp
  examples/2024-XZhang-cloud-rt/svp_functions.hpp
  examples/2024-XZhang-minichem/jup_onetra.cpp
  examples/CMakeLists.txt
Due: cmake-format

minichem pgen
  examples/2024-XZhang-minichem/minichem.cpp
  src/CMakeLists.txt
  src/interface/eos.hpp
Due: clang-format

wip
  cmake/examples/minichem.cmake
  cmake/modules/FindKintera.cmake
  examples/2024-XZhang-minichem/minichem.cpp
Due: cmake-format

wip
  cmake/modules/FindSnap.cmake
Due: cmake-format

wip
  examples/2024-XZhang-minichem/jup-dry.yaml
  examples/2024-XZhang-minichem/mini.inp
  examples/2024-XZhang-minichem/minichem.cpp
Due: none

wip
  examples/2024-XZhang-minichem/minichem.cpp
Due: none

wip
  examples/2024-XZhang-minichem/mini.inp
  examples/2024-XZhang-minichem/minichem.cpp
Due: none

wip
  cmake/minichem.cmake
Due: cmake-format

wip
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_toon.cpp
  src/harp/rt_solvers.hpp
  src/harp/set_spectral_properties.cpp
  src/opacity/absorber.hpp
  src/opacity/absorber_ck.cpp
  src/opacity/absorber_ck.hpp
  src/opacity/absorber_factory.cpp
Due: clang-format

Merge minichem 1 (#192)
  README
  cmake/examples/ice_h2s.cmake
  cmake/examples/minichem.cmake
  cmake/examples/rtcldexo.cmake
  cmake/examples/rtdry.cmake
  cmake/minichem.cmake
  cmake/modules/FindKintera.cmake
  cmake/modules/FindSnap.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/ice_h2s.cpp
  examples/2024-XZhang-cloud-rt/jupiter_crm.cpp
  examples/2024-XZhang-cloud-rt/rtcldu3d.cpp
  examples/2024-XZhang-cloud-rt/rtdry.cpp
  examples/2024-XZhang-cloud-rt/rtdry.yaml
  examples/2024-XZhang-cloud-rt/svp_functions.hpp
  examples/2024-XZhang-minichem/jup-dry.yaml
  examples/2024-XZhang-minichem/jup_onetra.cpp
  examples/2024-XZhang-minichem/mini.inp
  examples/2024-XZhang-minichem/minichem.cpp
  examples/CMakeLists.txt
  src/CMakeLists.txt
  src/interface/eos.hpp
Due: clang-format, cmake-format

fix restart
  cmake/examples/minichem.cmake
  examples/2024-XZhang-minichem/mini.inp
  examples/2024-XZhang-minichem/minichem.cpp
Due: cmake-format

Cleanup
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
Due: none

Setup a test simulation
  cmake/examples/geyser.cmake
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
Due: cmake-format

Use double precision output
  src/outputs/pnetcdf.cpp
Due: clang-format

wip
  src/snap/setup_moist_adiabatic_profile.cpp
  src/snap/setup_moist_adiabatic_profile.hpp
Due: clang-format

wip
  cmake/athena.cmake
  cmake/examples/minichem.cmake
  cmake/parameters.cmake
  examples/2024-XZhang-minichem/mini.inp
  examples/2024-XZhang-minichem/minichem.cpp
  examples/2024-XZhang-minichem/read_tensor.py
  src/outputs/CMakeLists.txt
  src/outputs/pt.cpp
Due: clang-format, cmake-format

wip
  examples/2024-XZhang-minichem/read_save_tensor.py
  examples/2024-XZhang-minichem/read_tensor.py
Due: none

Fix a bug in the Poisson Solver
  examples/2024-YixiaoZ-geyser/ice_shell.hpp
Due: none

Add mini PT dump and restart (#193)
  cmake/athena.cmake
  cmake/examples/minichem.cmake
  cmake/parameters.cmake
  examples/2024-XZhang-minichem/mini.inp
  examples/2024-XZhang-minichem/minichem.cpp
  examples/2024-XZhang-minichem/read_save_tensor.py
  src/outputs/CMakeLists.txt
  src/outputs/pt.cpp
  src/snap/setup_moist_adiabatic_profile.cpp
  src/snap/setup_moist_adiabatic_profile.hpp
Due: clang-format, cmake-format

Add a new function for saturation adjustment
  src/snap/thermodynamics/equilibrate_uv.cpp
Due: clang-format

Fix the energy inconsistency due to ref temp
  examples/2024-YixiaoZ-geyser/geyser_h2o.yaml
  src/snap/thermodynamics/equilibrate_uv.cpp
Due: clang-format

Set up a running simulation
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
Due: none

Clean up
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
Due: none

Change CXXABI to be compatible with torch
  cmake/compilers.cmake
Due: cmake-format

Change ice model call frequency
  examples/2024-YixiaoZ-geyser/air_ice_coupler.hpp
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
  examples/2024-YixiaoZ-geyser/ice_shell.hpp
Due: none

Use stretching mesh in the vertical direction
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
Due: none

wip
  examples/2024-XZhang-minichem/freedman_mean.pt
  examples/2024-XZhang-minichem/jup-gas-ir.pt
  examples/2024-XZhang-minichem/jup-gas-visible.pt
Due: none
