Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

revise ci
  .github/workflows/mac.yml
  .github/workflows/main.yml
Due: none

fix ci
  .github/workflows/main.yml
Due: none

fix yaml
  README.md
  examples/2019-Li-snap/earth-dry.yaml
  examples/2019-Li-snap/jup-thermo-H2O-NH3.yaml
  examples/2019-Li-snap/jup-thermo.yaml
Due: none

remove shallow tests
  .github/workflows/mac.yml
  .github/workflows/main.yml
  cmake/examples/vortex.cmake
  examples/2019-Li-snap/test_straka.py
Due: cmake-format

fix
  .github/workflows/main.yml
Due: none

fix ci
  examples/2019-Li-snap/test_bryan.py
Due: none

remove python
  external/install_cantera.sh
Due: none

Add kessler microphysics (#179)
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-precip.yaml
  patches/21.new_blockdt.patch
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

Move precip into hydro (#178)
  cmake/athena.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/ammonia-kessler.yaml
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-precip.yaml
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-micro.yaml
  examples/2019-Li-snap/jup-thermo.yaml
  examples/2019-Li-snap/water-kessler.yaml
  src/impl.cpp
  src/impl.hpp
  src/microphysics.old/CMakeLists.txt
  src/microphysics.old/chemistry_solver.hpp
  src/microphysics.old/microphysical_schemes.cpp
  src/microphysics.old/microphysical_schemes.hpp
  src/microphysics.old/microphysics.cpp
  src/microphysics.old/microphysics.hpp
  src/schedulers.cpp
  src/schedulers.hpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

Revise thermodynamcis - bryan (#173)
  cmake/athena.cmake
  cmake/examples/bryan.cmake
  configure.hpp.in
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  examples/2019-Li-snap/earth-moist.yaml
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  patches/24.time_integrator.patch
  src/air_parcel.cpp
  src/impl.cpp
  src/impl.hpp
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/outputs/load_user_output_data.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/flux_decomposition.hpp
  src/snap/implicit/forward_backward.hpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/implicit/periodic_forward_backward.hpp
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/atm_thermodynamics.hpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/equilibrate_tp.cpp
  src/snap/thermodynamics/equilibrate_uv.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/CMakeLists.txt
  tests/earth-thermo.yaml
  tests/jup-thermo.yaml
  tests/test_earth_thermo.cpp
  tests/test_jup_thermo.cpp
  tests/test_thermodynamics.cpp
Due: clang-format, cmake-format

Revise thermodynamcis - jcrm (#174)
  THIS_MAY_BREAK
  cmake/examples/bryan.cmake
  cmake/examples/jcrm.cmake
  cmake/examples/jupiter_crm.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.cpp.new
  examples/2019-Li-snap/jcrm.cpp
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-micro.yaml
  examples/2019-Li-snap/jup-thermo-H2O-NH3.yaml
  examples/2019-Li-snap/jvortex.cpp
  examples/2019-Li-snap/jvortex.inp
  examples/CMakeLists.txt
  src/outputs/load_user_output_data.cpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
Due: clang-format, cmake-format

Add Jupiter CRM case (#183)
  CMakeLists.txt
  cmake/examples/jcrm.cmake
  cmake/examples/jupiter_h2o.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/jcrm.cpp
  examples/2019-Li-snap/jcrm.inp
  examples/2019-Li-snap/jup-precip.yaml
  examples/2024-YZhou-jupiter/jupiter_crm.cpp
  examples/2024-YZhou-jupiter/jupiter_h2o.cpp
  src/CMakeLists.txt
  src/add_arg.h
  src/checks.cpp
  src/microphysics/kessler94.cpp.old
  src/microphysics/microphysics.cpp
  src/microphysics/microphysics.hpp
  src/microphysics/sedimentation.cpp
  src/microphysics/sedimentation.hpp
  src/snap/athena_arrays.hpp
  src/snap/athena_torch.hpp
  src/snap/riemann/hllc_transform.cpp
  src/snap/riemann/lmars.cpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/CMakeLists.txt
  tests/device_testing.hpp
  tests/test_sedimentation.cpp
Due: clang-format, cmake-format

Revise thermodynamcis - robert (#172)
  cmake/examples/dam.cmake
  cmake/examples/exo2.cmake
  cmake/examples/robert.cmake
  cmake/examples/straka.cmake
  cmake/examples/vortex.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2019-Li-snap/earth-dry.yaml
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/robert2d.inp
  examples/2019-Li-snap/robert3d.inp
  examples/2019-Li-snap/straka.inp
  patches/25.constant_acc.patch
  patches/26.adiabatic_hydro.patch
  src/exo3/exo3.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/thermodynamics_athena.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

Fix all github actions
  .github/workflows/mac.yml
  .github/workflows/main.yml
  README.md
  cmake/examples/vortex.cmake
  examples/2019-Li-snap/earth-dry.yaml
  examples/2019-Li-snap/jup-thermo-H2O-NH3.yaml
  examples/2019-Li-snap/jup-thermo.yaml
  examples/2019-Li-snap/test_bryan.py
  examples/2019-Li-snap/test_straka.py
  external/install_cantera.sh
Due: cmake-format

add back previous model
  cmake/athena.cmake
  cmake/examples/geyser.cmake
  examples/2024-YixiaoZ-geyser/CMakeLists.txt
  examples/2024-YixiaoZ-geyser/geyser.yaml
  examples/2024-YixiaoZ-geyser/geyser_h2o.yaml
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
  examples/CMakeLists.txt
  patches/xxx.bvals_hack.patch
  src/snap/thermodynamics/equilibrate_uv.cpp
Due: clang-format, cmake-format

wip
  .github/workflows/mac.yml
Due: none

can work with 0.01 H2 now
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
  src/snap/thermodynamics/equilibrate_uv.cpp
Due: clang-format

from rcemip
  cmake/examples/rcemip.cmake
  examples/2024-CLi-RCEMIP/rce_small.inp
  examples/2024-CLi-RCEMIP/rcemip-noprecip.yaml
  examples/2024-CLi-RCEMIP/rcemip.cpp
Due: cmake-format

add hywater
  cmake/examples/hywater.cmake
  examples/2024-CLi-RCEMIP/bomex.cpp
  examples/2024-Li-hywater/CMakeLists.txt
  examples/2024-Li-hywater/hywater-precip.yaml
  examples/2024-Li-hywater/hywater.cpp
  examples/2024-Li-hywater/hywater.inp
  examples/CMakeLists.txt
Due: cmake-format

add noise
  examples/2024-Li-hywater/hywater.cpp
Due: none

wip
  examples/2019-Li-snap/jcrm.cpp
  examples/2024-Li-hywater/hywater.cpp
Due: none

add parallel initialization
  cmake/examples/hywater.cmake
  examples/2024-Li-hywater/hywater.cpp
  examples/2024-Li-hywater/hywater.inp
Due: cmake-format

modified CK and add Toon solver
  cmake/examples/rtdry.cmake
  examples/2024-XZhang-cloud-rt/rtdry.cpp
  examples/2024-XZhang-cloud-rt/rtdry.yaml
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solver_toon.cpp
  src/harp/rt_solvers.hpp
  src/harp/set_spectral_properties.cpp
  src/opacity/absorber.hpp
  src/opacity/absorber_ck.cpp
  src/opacity/absorber_ck.hpp
  src/opacity/absorber_factory.cpp
Due: clang-format, cmake-format

wip
  examples/2024-XZhang-cloud-rt/rtdry.cpp
Due: none

fix cantera and boiling
  examples/2019-Li-snap/jcrm.cpp
  python/CMakeLists.txt
  python/pysnap.cpp
Due: clang-format

wip
  examples/2024-XZhang-cloud-rt/hjdry_cart.inp
  examples/2024-XZhang-cloud-rt/hjdry_rt.yaml
  examples/2024-XZhang-cloud-rt/hjdry_thermo.yaml
Due: none

AirParcel is deprecated, hand-off to cantera
  examples/2024-XZhang-cloud-rt/hjdry_cart.inp
  examples/2024-XZhang-cloud-rt/hjdry_rt.yaml
  examples/2024-XZhang-cloud-rt/rtdry.cpp
Due: none

fixed something
  examples/2024-Chen-dev-2d-cart/polar_vortex_cf.cpp
Due: none

updated pv case
  examples/2024-Chen-dev-2d-cart/polar_vortex_cf.cpp
  examples/2024-Chen-dev-2d-cart/polar_vortex_cf.inp
Due: none

updating the dissipation
  examples/2024-Chen-dev-2d-cart/polar_vortex_cf.cpp
  examples/2024-Chen-dev-2d-cart/polar_vortex_cf.inp
Due: none

wip
  cmake/examples/titan.cmake
  examples/2025-Titan/CMakeLists.txt
  examples/2025-Titan/titan.cpp
  examples/2025-Titan/titan.inp
  examples/2025-Titan/titan.yaml
  examples/CMakeLists.txt
Due: cmake-format

Create a case for warped coordinates
  .cache/.dummy
  cmake/examples/geyser.cmake
  cmake/parameters.cmake
  examples/2024-YixiaoZ-geyser/CMakeLists.txt
  examples/2024-YixiaoZ-geyser/channel_flow.cpp
  examples/2024-YixiaoZ-geyser/channel_flow.inp
  patches/23.meshblock.patch
  src/exo3/warped_coordinate.cpp
  src/exo3/warped_coordinate.hpp
Due: clang-format, cmake-format

Add the coordinate divergence term
  examples/2024-YixiaoZ-geyser/channel_flow.cpp
  examples/2024-YixiaoZ-geyser/channel_flow.inp
  src/exo3/warped_coordinate.cpp
  src/exo3/warped_coordinate.hpp
Due: clang-format

add license
  LICENSE
Due: none
