Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        exclude: ^data/
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
        exclude: ^data/

  - repo: local
    hooks:
      - id: clang-format
        name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
        entry: clang-format
        language: system
        files: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
        args: ["-i", "-style=Google"]

      - id: cmake-format
        name: Fix *.cmake
        entry: cmake-format
        language: system
        files: .*\.cmake$
        args: ["-i"]

      - id: black
        name: Fix *.py
        entry: black
        language: system
        files: ^(tests/python)/.*\.(py)$

wip
  .gitcustom/git-land
  doc/README-custom-command.md
Due: none

wip
  .github/workflows/main.yml
Due: none

wip
  .github/workflows/mac.yaml
Due: none

wip
  CMakeLists.txt
Due: none

Clean up (#41)
  .gitcustom/git-land
  .github/workflows/mac.yaml
  .github/workflows/main.yml
  CMakeLists.txt
  README-fork.md
  doc/README-actions.md
  doc/README-ci.md
  doc/README-custom-command.md
  doc/README-fork.md
  doc/README-lfs.md
  doc/README-workflow.md
  src/harp/set_spectral_properties.cpp
  src/impl.cpp
  src/impl.hpp
  src/snap/CMakeLists.txt
  src/snap/reconstruct/face_reconstruct.cpp
  src/snap/reconstruct/face_reconstruct.hpp
  src/snap/reconstruct/fit_polynomial_inflection.nb
  src/snap/reconstruct/interp_weno3.hpp
  src/snap/reconstruct/interp_weno5.hpp
  src/snap/reconstruct/interpolation.hpp
  src/snap/reconstruct/weno5.cpp
  src/snap/reconstruct/weno5_simple.cpp
  src/snap/task_list/implicit_hydro_tasks.cpp
  src/snap/task_list/implicit_hydro_tasks.hpp
  src/snap/task_list/time_integrator.diff
  src/snap/task_list/time_integrator_additions.cpp.sav
Due: clang-format

wip
  examples/2023-jupiter-mwr-eq/juno.cpp
  examples/2023-jupiter-mwr-eq/juno.inp
  src/impl.cpp
  src/impl.hpp
  src/snap/thermodynamics/equivalent_potential_temperature.hpp
  src/snap/thermodynamics/read_idealized_parameters.cpp_
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/thermodynamics_helper.hpp
Due: clang-format

wip
  .gitcustom/git-done
  .gitcustom/git-send
  README.md
Due: none

wip
  src/conversion.hpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/construct_atmosphere.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_helper.cpp
  src/snap/thermodynamics/try_equilibrium_tp.cpp
  src/variable.hpp
Due: clang-format

wip
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/conversion.hpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/construct_atmosphere.cpp
  src/snap/thermodynamics/enroll_system.cpp
  src/snap/thermodynamics/read_idealized_parameters.cpp_
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp_
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_helper.cpp
  src/snap/thermodynamics/thermodynamics_helper.hpp
  src/snap/thermodynamics/try_equilibrium_tp.cpp
  src/variable.hpp
Due: clang-format

wip
  .gitcustom/git-send
  examples/1d-rad-jupiter/test_jupiter_re.cpp_
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  examples/2023-jupiter-mwr-eq/juno.cpp
  examples/CMakeLists.txt
  src/harp/freedman_mean.cpp
  src/harp/freedman_simple.cpp
  src/harp/set_spectral_properties.cpp
  src/impl.cpp
  src/impl.hpp
  src/inversion/profile_inversion.cpp
  src/snap/decomposition/change_to_buoyancy.cpp
  src/snap/decomposition/change_to_perturbation.cpp
  src/snap/decomposition/decomposition.cpp
  src/snap/eos/apply_vapor_limiter.cpp
  src/snap/eos/check_hydro_variables.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/enroll_system.cpp_
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/variable.cpp
  src/variable.hpp
Due: clang-format

syntax ok
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/c3m/chemistry.cpp
  src/c3m/chemistry.hpp
  src/clouds/cloud.hpp
  src/harp/freedman_simple.cpp
  src/harp/set_spectral_properties.cpp
  src/impl.cpp
  src/impl.hpp
  src/inversion/profile_inversion.cpp
  src/snap/decomposition/change_to_buoyancy.cpp
  src/snap/eos/apply_vapor_limiter.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/construct_atmosphere.cpp
  src/snap/thermodynamics/extrapolate_neutral.cpp_
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp.cpp
  src/tracer/tracer.cpp
  src/tracer/tracer.hpp
  src/variable.cpp
  src/variable.hpp
Due: clang-format

compiles
  src/impl.cpp
  src/inversion/profile_inversion.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/variable.cpp
  src/variable.hpp
Due: clang-format

wip
  src/impl.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  src/snap/thermodynamics/read_thermo_property.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/variable.cpp
Due: clang-format

wip
  src/snap/eos/apply_vapor_limiter.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/partial_correction.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/variable.cpp
  tests/CMakeLists.txt
  tests/test_thermodynamics.cpp
  tests/test_thermodynamics.inp
Due: clang-format

variable test passed
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/variable.cpp
  src/variable.hpp
  tests/CMakeLists.txt
  tests/test_thermodynamics.cpp
  tests/test_thermodynamics.inp
  tests/test_variable.cpp
  tests/test_weno.cpp
Due: clang-format

wip
  src/snap/thermodynamics/rk4_integrate_lnp.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  tests/test_thermodynamics.cpp
Due: clang-format

wip
  src/snap/thermodynamics/enroll_system.cpp_
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp.cpp
  tests/test_thermodynamics.cpp
  tests/test_variable.cpp
Due: clang-format

wip
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp.cpp
  tests/test_thermodynamics.cpp
  tests/test_variable.cpp
Due: clang-format

wip
  cmake/juno.cmake
  cmake/parameters.cmake
  examples/2023-jupiter-mwr-eq/juno.cpp
  examples/2023-jupiter-mwr-eq/juno.inp
  src/c3m/chemistry.cpp
  src/clouds/cloud.cpp
  src/conversion.hpp
  src/dusts/cloud.cpp
  src/dusts/cloud.hpp
  src/impl.cpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/tracer/tracer.cpp
  src/variable.cpp
  src/variable.hpp
Due: clang-format, cmake-format

working, but radiance incorrect
  configure.hpp.in
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/CMakeLists.txt
  src/c3m/chemistry.cpp
  src/c3m/chemistry.hpp
  src/dusts/CMakeLists.txt
  src/dusts/cloud.cpp
  src/dusts/cloud.hpp
  src/impl.cpp
  src/impl.hpp
  src/tracer/tracer.cpp
  src/tracer/tracer.hpp
Due: clang-format

semi working
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/harp/set_spectral_properties.cpp
  src/impl.cpp
  src/impl.hpp
  src/inversion/profile_inversion.cpp
  src/snap/decomposition/change_to_buoyancy.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/variable.cpp
  src/variable.hpp
  tests/test_variable.cpp
Due: clang-format

semi
  examples/2023-jupiter-mwr-eq/juno.cpp
  examples/2023-jupiter-mwr-eq/juno.inp
Due: none

finish
  src/impl.cpp
  src/impl.hpp
  src/snap/thermodynamics/thermodynamics.cpp
Due: clang-format

fix
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp_
  src/snap/thermodynamics/thermodynamics.cpp
Due: clang-format

fix
  src/snap/thermodynamics/enroll_vapor_functions.cpp
Due: clang-format

wip
  cmake/parameters.cmake
Due: cmake-format

semi-working
  .gitcustom/git-done
  .github/workflows/main.yml
  examples/2023-jupiter-mwr-eq/juno.cpp
  examples/2023-jupiter-mwr-eq/juno.inp
  src/harp/absorber.cpp
  src/harp/absorber.hpp
  src/harp/add_absorber_giants.cpp
  src/impl.cpp
  src/index_map.cpp
  src/index_map.hpp
  src/mesh_setup.cpp
  src/opacity/Giants/microwave/mwr_absorber_cia.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2o.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorbers.hpp
  src/snap/thermodynamics/thermodynamics.hpp
  tests/test_mesh.cpp
  tests/test_microwave_opacity.cpp
  tests/test_radiation.cpp
Due: clang-format

finish
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  tests/test_thermodynamics.cpp
  tests/test_variable.cpp
Due: clang-format

wip
  tests/CMakeLists.txt
Due: none
