Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

put together
  cmake/application.cmake
  cmake/athena.cmake
  src/harp/absorber.cpp
  src/harp/add_absorber_giants.cpp
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/snap/meshblock_impl.cpp
  src/snap/meshblock_impl.hpp
  tests/example_bands.yaml
  tests/test_microwave_opacity.cpp
  tests/test_radiation.cpp
  tests/test_yaml_read.cpp
Due: clang-format, cmake-format

wip
  src/harp/add_absorber_giants.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/set_spectral_properties.cpp
  tests/example_bands.yaml
  tests/test_microwave_opacity.cpp
Due: clang-format

finish
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorbers.hpp
  tests/CMakeLists.txt
  tests/example_bands.yaml
  tests/test_microwave_opacity.cpp
Due: clang-format

fix
  examples/1d-rad-jupiter/test_jupiter_re.cpp
Due: none

CellVariables -> Variable
  src/harp/absorber.cpp
  src/harp/absorber.hpp
  src/harp/correlatedk_absorber.cpp
  src/harp/correlatedk_absorber.hpp
  src/harp/freedman_mean.cpp
  src/harp/freedman_mean.hpp
  src/harp/freedman_simple.cpp
  src/harp/freedman_simple.hpp
  src/harp/hitran_absorber.cpp
  src/harp/hitran_absorber.hpp
  src/harp/set_spectral_properties.cpp
  src/opacity/Giants/microwave/mwr_absorber_cia.cpp
  src/opacity/Giants/microwave/mwr_absorber_electron.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2o.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2s.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorber_ph3.cpp
  src/opacity/Giants/microwave/mwr_absorbers.hpp
  src/snap/variable.hpp
  tests/test_microwave_opacity.cpp
Due: clang-format

smart pointer
  src/harp/absorber.cpp
  src/inversion/profile_inversion.cpp
  src/snap/decomposition/change_to_buoyancy.cpp
  src/snap/decomposition/decomposition.hpp
  src/snap/eos/apply_vapor_limiter.cpp
  src/snap/eos/check_hydro_variables.cpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/implicit/full_correction.cpp
  src/snap/implicit/implicit_solver.hpp
  src/snap/implicit/partial_correction.cpp
  src/snap/meshblock_impl.cpp
  src/snap/meshblock_impl.hpp
  src/snap/meshblock_index_map.cpp
  src/snap/meshblock_index_map.hpp
  src/snap/thermodynamics/thermodynamics.hpp
  tests/test_mesh.cpp
  tests/test_microwave_opacity.cpp
  tests/test_radiation.cpp
Due: clang-format

fix constants
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/set_spectral_properties.cpp
  src/opacity/Giants/microwave/attenuation_electron.cpp
  src/snap/thermodynamics/construct_atmosphere.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

pmy_block -> pmy_block_
  src/snap/thermodynamics/construct_atmosphere.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  tests/test_mesh.inp
Due: none

all smart pointers
  src/harp/radiation.hpp
  src/impl.cpp
  src/impl.hpp
  src/inversion/inversion.cpp
  src/inversion/inversion.hpp
  src/inversion/inversion_helper.cpp
  tests/test_microwave_opacity.cpp
  tests/test_radiation.cpp
Due: clang-format

better input
  examples/1d-rad-jupiter/test_jupiter_re.cpp
  examples/2023-jupiter-mwr-eq/juno.cpp
  examples/2023-jupiter-mwr-eq/juno.inp
  examples/2023-jupiter-mwr-eq/jupiter_atm.yaml
  examples/2023-jupiter-mwr-eq/mwr_channels.yaml
  examples/2023-jupiter-mwr-eq/mwr_inversion.yaml
  src/harp/add_absorber_giants.cpp
  src/harp/radiation.cpp
  src/opacity/Giants/microwave/attenuation_cia.cpp
  src/opacity/Giants/microwave/mwr_absorber_cia.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2o.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorbers.hpp
  tests/example_control.yaml
  tests/example_infrared.yaml
  tests/example_microwave.yaml
  tests/test_radiation.inp
Due: clang-format

wip
  CMakeLists.txt
  cmake/athena.cmake
  cmake/juno.cmake
  cmake/modules/FindCantera.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2023-jupiter-mwr-eq/Sun.yaml
  examples/2023-jupiter-mwr-eq/juno.inp
  examples/2023-jupiter-mwr-eq/jupiter.yaml
  examples/2023-jupiter-mwr-eq/jupiter_atm.yaml
  examples/2023-jupiter-mwr-eq/species.yaml
  examples/2023-saturn-vla-storm/saturn.yaml
  install_cantera.sh
  src/index_map.cpp
  src/variable.hpp
Due: clang-format, cmake-format

compiles
  examples/1d-rad-jupiter/test_jupiter_re.cpp
  examples/2023-jupiter-mwr-eq/CMakeLists.txt
  examples/2023-jupiter-mwr-eq/juno.cpp
  examples/2023-jupiter-mwr-eq/juno.inp
  examples/CMakeLists.txt
  src/c3m/chemistry.hpp
  src/clouds/cloud.cpp
  src/clouds/cloud.hpp
  src/impl.hpp
  src/index_map.cpp
  src/index_map.hpp
  src/inversion/profile_inversion.cpp
  src/snap/thermodynamics/construct_atmosphere.cpp
  src/snap/thermodynamics/helium_thermo.cpp
  src/snap/thermodynamics/hydrogen_thermo.cpp
  src/snap/thermodynamics/methane_thermo.cpp
  src/snap/thermodynamics/molecules.hpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/thermodynamics_helper.hpp
  src/tracer/tracer.cpp
  src/tracer/tracer.hpp
Due: clang-format

update
  Brewfile
  cmake/application.cmake
  cmake/juno.cmake
  cmake/rfm.cmake
  examples/2023-jupiter-mwr-eq/juno.cpp
  examples/2023-jupiter-mwr-eq/juno.inp
  examples/2023-jupiter-mwr-eq/mwr_channels.yaml
  src/harp/add_absorber_earth.cpp
  src/harp/add_absorber_giants.cpp
  src/harp/add_absorber_mars.cpp
  src/harp/add_absorber_venus.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/index_map.cpp
Due: clang-format, cmake-format

can run
  cmake/application.cmake
  cmake/athena.cmake
  cmake/juno.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2023-jupiter-mwr-eq/juno.cpp
  examples/2023-jupiter-mwr-eq/juno.inp
  examples/2023-jupiter-mwr-eq/species.yaml
  src/CMakeLists.txt
  src/c3m/CMakeLists.txt
  src/c3m/chemistry.cpp
  src/c3m/chemistry.hpp
  src/harp/add_absorber_giants.cpp
  src/impl.cpp
  src/index_map.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/tracer/CMakeLists.txt
  src/tracer/tracer.cpp
  src/tracer/tracer.hpp
  src/variable.hpp
Due: clang-format, cmake-format

add rt solver
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_lambert.cpp
  src/harp/rt_solvers.hpp
  src/inversion/juno_profile_inversion_target.cpp
  src/inversion/profile_inversion_posterior.cpp
  src/inversion/vla_profile_inversion_target.cpp
Due: clang-format

lambert in
  examples/2023-jupiter-mwr-eq/mwr_channels.yaml
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_lambert.cpp
  src/harp/rt_solvers.hpp
Due: clang-format

wip
  cmake/athena.cmake
  src/outputs/fits.cpp
  src/outputs/netcdf.cpp
  src/outputs/user_outputs.hpp
Due: clang-format, cmake-format

can run
  cmake/athena.cmake
  src/outputs/combine_blocks.cpp
  src/outputs/debug.cpp
  src/outputs/diag_table.cpp
  src/outputs/load_user_output_data.cpp
  src/outputs/netcdf.cpp
  src/outputs/output_utils.cpp
  src/outputs/output_utils.hpp
  src/outputs/pnetcdf.cpp
Due: clang-format, cmake-format

working
  cmake/application.cmake
  src/snap/decomposition/decomposition.cpp
  src/snap/implicit/implicit_solver.cpp
Due: clang-format, cmake-format

semi-final
  examples/1d-rad-jupiter/test_jupiter_re.cpp
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/inversion/juno_profile_inversion_target.cpp
  src/inversion/vla_profile_inversion_target.cpp
  src/outputs/load_user_output_data.cpp
  src/outputs/netcdf.cpp
Due: clang-format

fix actions
  .github/workflows/main.yml
  cmake/default.cmake
  cmake/parameters.cmake
  src/c3m/chemistry.cpp
  src/tracer/tracer.cpp
  tests/CMakeLists.txt
  tests/example_bands.yaml
  tests/test_microwave_opacity.cpp
  tests/test_radiation.cpp
  tests/test_radiation.inp
  tests/test_yaml_read.cpp
Due: clang-format, cmake-format

fix style
  .github/workflows/main.yml
  src/constants.hpp
  src/harp/absorber.hpp
  src/harp/radiation.cpp
  src/harp/rt_solvers.hpp
  src/inversion/inversion.cpp
  src/inversion/vla_profile_inversion_target.cpp
  src/outputs/output_utils.hpp
  src/utils/parameter_map.hpp
  src/variable.hpp
  tools/check_style.sh
Due: clang-format

diag table
  requirements.txt
  src/outputs/CMakeLists.txt
  src/outputs/diag_table_default.cpp
  src/outputs/diag_table_juno.cpp
  tools/CMakeLists.txt
  tools/combine.py
  tools/main2mcmc.py
Due: clang-format

add application in
  cmake/application.cmake
  cmake/athena.cmake
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/banner.cpp
  src/harp/radiation_band.cpp
  src/index_map.cpp
  src/inversion/inversion.cpp
  src/inversion/juno_profile_inversion_target.cpp
  src/inversion/vla_profile_inversion_target.cpp
  src/snap/decomposition/decomposition.cpp
  src/snap/implicit/implicit_solver.cpp
  src/utils/command_line.cpp
  src/utils/command_line.hpp
  src/utils/program_setup.cpp
  src/utils/program_setup.hpp
  tests/test_absorber.cpp
  tests/test_microwave_opacity.cpp
  tests/test_radiation.cpp
Due: clang-format, cmake-format

wip
  CMakeLists.txt
  examples/2023-jupiter-mwr-eq/juno.cpp
  main.cpp.in
  src/CMakeLists.txt
  src/mesh_destroy.cpp
  src/mesh_setup.cpp
  src/setup_mesh.hpp
  src/tasklist/CMakeLists.txt
  src/tasklist/extra_tasks.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  src/tasklist/inversion_tasks.cpp
Due: clang-format

semi
  cmake/application.cmake
  cmake/parameters.cmake
  examples/2023-jupiter-mwr-eq/CMakeLists.txt
  examples/2023-jupiter-mwr-eq/juno.cpp
  main.cpp.in
  src/mesh_destroy.cpp
  src/mesh_setup.cpp
  src/setup_mesh.hpp
  src/tasklist/extra_tasks.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

wip
  cmake/juno.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2023-jupiter-mwr-eq/juno.cpp
  examples/2023-jupiter-mwr-eq/juno.inp
  src/inversion/inversion.cpp
  src/inversion/mcmc_step.cpp
  src/inversion/profile_inversion.cpp
  src/outputs/fits.cpp
  src/tasklist/inversion_tasks.cpp
Due: clang-format, cmake-format

fix combine
  Brewfile
  cmake/modules/Findcfitsio.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/CMakeLists.txt
  src/inversion/mcmc.cpp
  src/outputs/combine_blocks.cpp
  src/outputs/fits.cpp
Due: clang-format, cmake-format

wip
  src/inversion/mcmc.cpp
Due: clang-format

debug works
  examples/2023-jupiter-mwr-eq/juno.cpp
Due: none

finish
  examples/2023-jupiter-mwr-eq/juno.cpp
  examples/2023-jupiter-mwr-eq/juno.inp
  src/harp/radiation.cpp
  src/harp/rt_solvers.hpp
  src/harp/set_spectral_properties.cpp
  src/variable.hpp
  tests/test_mesh.inp
  tests/test_radiation.inp
Due: clang-format

fix
  tests/test_mesh.cpp
Due: clang-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
