Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

wip
  examples/2019-Li-snap/bryan.cpp
Due: none

wip
  cmake/bryan.cmake
  examples/2019-Li-snap/bryan.inp
  src/snap/thermodynamics/saturation_adjustment.cpp
Due: clang-format, cmake-format

wip
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_cloud.cpp
Due: clang-format

wip
  src/snap/thermodynamics/saturation_adjustment.cpp
Due: clang-format

wip
  examples/2019-Li-snap/bryan.inp
Due: none

wip
  cmake/bryan.cmake
  src/snap/riemann/lmars.cpp
Due: clang-format, cmake-format

fix tasklist
  examples/2019-Li-snap/bryan.cpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/test_moist_adiabat.cpp
Due: clang-format

wip
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

fix scalar swap
  src/impl.cpp
  src/impl.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

bryan working
  examples/2019-Li-snap/bryan.cpp
  tests/test_moist_adiabat.cpp
Due: clang-format

wip
  cmake/athena.cmake
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  patches/24.time_integrator.patch
  tests/test_moist_adiabat.cpp
  tests/test_moist_adiabat.inp
Due: clang-format, cmake-format

Add bryan rising bubble test (#69)
  .github/workflows/main.yml
  .gitignore
  cmake/athena.cmake
  cmake/bryan.cmake
  cmake/parameters.cmake
  configure.hpp.in
  doc/README-variables.md
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/bryan.inp
  patches/24.time_integrator.patch
  src/impl.cpp
  src/impl.hpp
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/cal_dlnT_dlnP.cpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_cloud.cpp
  src/snap/thermodynamics/vapors/water_vapors.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/CMakeLists.txt
  tests/test_moist_adiabat.cpp
  tests/test_moist_adiabat.inp
Due: clang-format, cmake-format

archive bryan output
  examples/2019-Li-snap/bryan_output.nc
Due: none

wip
  cmake/compilers.cmake
  examples/2019-Li-snap/.gitattributes
  src/impl.cpp
  src/impl.hpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_cloud.cpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/test_moist_adiabat.cpp
Due: clang-format, cmake-format

wip
  tests/test_thermodynamics.cpp
Due: clang-format

wip
  examples/2024-Li-plume/CMakeLists.txt
  examples/2024-Li-plume/plume_model.cpp
  examples/2024-Li-plume/plume_model.inp
  examples/CMakeLists.txt
Due: none

Improve performance by not using sstream (#70)
  cmake/compilers.cmake
  examples/2019-Li-snap/.gitattributes
  examples/2019-Li-snap/bryan_output.nc
  examples/2024-Li-plume/CMakeLists.txt
  examples/2024-Li-plume/plume_model.cpp
  examples/2024-Li-plume/plume_model.inp
  examples/CMakeLists.txt
  src/impl.cpp
  src/impl.hpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_cloud.cpp
  src/tasklist/implicit_hydro_tasks.cpp
  tests/test_moist_adiabat.cpp
  tests/test_thermodynamics.cpp
Due: clang-format, cmake-format

wip
  examples/2019-Li-snap/bryan.cpp
  examples/2024-Li-plume/plume_model.cpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  tests/test_moist_adiabat.cpp
Due: clang-format

wip
  src/air_parcel.hpp
  tests/test_ammonium_hydrosulfide.cpp
  tests/test_impl.cpp
  tests/test_microwave_opacity.cpp
  tests/test_thermodynamics.cpp
  tests/test_variable.cpp
Due: clang-format

user mods file
  examples/2018-Li-harp/add_absorber_giants.cpp
  examples/2023-jupiter-mwr-eq/CMakeLists.txt
  examples/2023-jupiter-mwr-eq/juno_mwr.inp
  examples/2023-jupiter-mwr-eq/juno_mwr_mods.cpp
  examples/2023-jupiter-mwr-eq/juno_mwr_pgen.cpp
  examples/add_absorber_mars.cpp
  src/harp/add_absorber.cpp
  src/harp/add_absorber_earth.cpp
  src/harp/add_absorber_venus.cpp
  src/harp/radiation.cpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  cmake/parameters.cmake
  cmake/straka.cmake
  configure.hpp.in
  examples/2024-Li-plume/CMakeLists.txt
  examples/2024-Li-plume/plume.inp
  examples/2024-Li-plume/plume_mods.cpp
  examples/2024-Li-plume/plume_pgen.cpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format, cmake-format

remove PLANET
  cmake/bryan.cmake
  cmake/dam.cmake
  cmake/robert.cmake
  cmake/robert3d.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/bryan_mods.cpp
  examples/2019-Li-snap/bryan_pgen.cpp
  src/harp/add_absorber.cpp
  src/snap/thermodynamics/thermodynamics.cpp
Due: clang-format, cmake-format

wip
  examples/2024-Li-plume/plume_earth.inp
  examples/2024-Li-plume/plume_mods.cpp
  examples/2024-Li-plume/plume_pgen.cpp
  examples/2024-Li-plume/plume_venus.inp
  patches/25.constant_acceleration.patch
Due: none

wip
  .github/workflows/mac.yml
Due: none

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
  examples/2019-Li-snap/test_bryan.py
Due: none

wip
  examples/2018-Li-harp/CMakeLists.txt
  examples/2018-Li-harp/giants_re_mods.cpp
  examples/2018-Li-harp/giants_re_pgen.cpp
  tests/add_absorber_giants.cpp
  tests/test_microwave_opacity.cpp
Due: clang-format

wip
  examples/2023-jupiter-mwr-eq/juno_mwr_mods.cpp
  tests/CMakeLists.txt
  tests/giants_add_absorber.cpp
  tests/giants_enroll_vapor_functions.cpp
Due: clang-format

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
Due: none

wip
  .github/workflows/main.yml
  examples/2018-Li-harp/giants_re_mods.cpp
  examples/2018-Li-harp/giants_re_pgen.cpp
  examples/2023-Li-saturn-vla/saturn_radio.cpp
  examples/2023-Li-uranus/uranus_mwr.cpp
  examples/2023-jupiter-mwr-eq/juno_mwr_mods.cpp
  examples/2023-jupiter-mwr-eq/juno_mwr_pgen.cpp
  examples/2024-Li-plume/plume_venus.inp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_cloud.cpp
  tests/giants_add_absorber.cpp
  tests/giants_enroll_vapor_functions.cpp
  tests/test_thermodynamics.cpp
  tests/test_variable.cpp
Due: clang-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
