Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

IndexMap is a singleton class (#43)
  .gitcustom/git-done
  .github/workflows/main.yml
  examples/2023-jupiter-mwr-eq/juno.cpp
  examples/2023-jupiter-mwr-eq/juno.inp
  src/harp/absorber.cpp
  src/harp/absorber.hpp
  src/harp/add_absorber_giants.cpp
  src/impl.cpp
  src/index_map.cpp
  src/index_map.hpp
  src/mesh_setup.cpp
  src/opacity/Giants/microwave/mwr_absorber_cia.cpp
  src/opacity/Giants/microwave/mwr_absorber_h2o.cpp
  src/opacity/Giants/microwave/mwr_absorber_nh3.cpp
  src/opacity/Giants/microwave/mwr_absorbers.hpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  tests/CMakeLists.txt
  tests/test_mesh.cpp
  tests/test_microwave_opacity.cpp
  tests/test_radiation.cpp
  tests/test_thermodynamics.cpp
  tests/test_variable.cpp
Due: clang-format

fix
  .github/workflows/main.yml
Due: none

wip
  .github/workflows/main.yml
Due: none

Fix build (#44)
  .github/workflows/main.yml
Due: none

init
  README.md
  cmake/application.cmake
  cmake/athena.cmake
  doc/README-fork.md
Due: cmake-format

wip
  .gitignore
  examples/1d-rad-jupiter/test_jupiter_re.cpp_
  examples/2018-Li-harp/CMakeLists.txt
  examples/2018-Li-harp/giants_visir.yaml
  examples/2018-Li-harp/test_jupiter_re.cpp
  src/harp/add_absorber_giants.cpp
  src/harp/radiation_band.hpp
Due: clang-format

semi
  examples/2018-Li-harp/giants_visir.yaml
  src/constants.hpp
  src/harp/add_absorber_giants.cpp
  src/harp/correlatedk_absorber.hpp
  src/harp/freedman_mean.hpp
  src/harp/freedman_simple.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/opacity/CMakeLists.txt
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/freedman_mean.cpp
  src/opacity/Giants/freedman_simple.cpp
  src/opacity/Giants/hydrogen_cia.hpp
  src/opacity/Giants/xiz_h2h2_cia.cpp
  src/opacity/Giants/xiz_h2he_cia.cpp
Due: clang-format

wip
  src/harp/add_absorber_giants.cpp
  src/harp/radiation_band.hpp
  src/opacity/CMakeLists.txt
  src/opacity/correlatedk_absorber.cpp
  src/opacity/correlatedk_absorber.hpp
  src/opacity/hitran_absorber.cpp
  src/opacity/hitran_absorber.hpp
Due: clang-format

Add infrared opacity functionality (#45)
  .gitignore
  README.md
  cmake/application.cmake
  cmake/athena.cmake
  doc/README-fork.md
  examples/1d-rad-jupiter/test_jupiter_re.cpp_
  examples/2018-Li-harp/CMakeLists.txt
  examples/2018-Li-harp/giants_visir.yaml
  examples/2018-Li-harp/test_jupiter_re.cpp
  src/constants.hpp
  src/harp/add_absorber_giants.cpp
  src/harp/freedman_mean.hpp
  src/harp/freedman_simple.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/opacity/CMakeLists.txt
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/freedman_mean.cpp
  src/opacity/Giants/freedman_simple.cpp
  src/opacity/Giants/hydrogen_cia.hpp
  src/opacity/Giants/xiz_h2h2_cia.cpp
  src/opacity/Giants/xiz_h2he_cia.cpp
  src/opacity/correlatedk_absorber.cpp
  src/opacity/correlatedk_absorber.hpp
  src/opacity/hitran_absorber.cpp
  src/opacity/hitran_absorber.hpp
Due: clang-format, cmake-format

wip
  doc/README-fork.md
Due: none

intel
  cmake/compilers.cmake
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/ionization.cpp
Due: clang-format, cmake-format

remove ipo
  cmake/compilers.cmake
Due: cmake-format

add saturation adjustment
  Brewfile
  doc/README-runjob.md
  src/harp/rt_solvers.hpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp.cpp
  src/variable.cpp
Due: clang-format

finish
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp.cpp
  tests/test_thermodynamics.cpp
  tests/test_thermodynamics.inp
Due: clang-format

Add saturation adjustment (#46)
  Brewfile
  cmake/compilers.cmake
  doc/README-fork.md
  doc/README-runjob.md
  src/harp/rt_solvers.hpp
  src/snap/eos/ideal_moist_hydro.cpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/ionization.cpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp.cpp
  src/variable.cpp
  tests/test_thermodynamics.cpp
  tests/test_thermodynamics.inp
Due: clang-format, cmake-format

add tasks
  src/harp/radiation.hpp
  src/tasklist/extra_tasks.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

wip
  src/impl.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/variable.cpp
  tests/test_variable.cpp
Due: clang-format

remove KE in conserved energy
  src/snap/thermodynamics/thermodynamics.cpp
  src/variable.cpp
Due: clang-format

wip
  src/impl.cpp
  src/variable.cpp
Due: clang-format

partial
  src/impl.cpp
  src/index_map.cpp
  src/mesh_destroy.cpp
  src/mesh_setup.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/variable.cpp
  src/variable.hpp
  tests/CMakeLists.txt
  tests/test_impl.cpp
  tests/test_microwave_opacity.cpp
  tests/test_radiation.cpp
  tests/test_variable.cpp
Due: clang-format

wip
  src/harp/radiation.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

wip
  src/impl.cpp
  tests/test_impl.cpp
Due: clang-format

finish
  src/impl.cpp
  src/variable.cpp
  src/variable.hpp
  tests/test_impl.cpp
Due: clang-format

Mostly on unit conversion (#47)
  src/harp/radiation.cpp
  src/harp/radiation.hpp
  src/impl.cpp
  src/index_map.cpp
  src/mesh_destroy.cpp
  src/mesh_setup.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/tasklist/extra_tasks.hpp
  src/tasklist/implicit_hydro_tasks.cpp
  src/variable.cpp
  src/variable.hpp
  tests/CMakeLists.txt
  tests/test_impl.cpp
  tests/test_microwave_opacity.cpp
  tests/test_radiation.cpp
  tests/test_variable.cpp
Due: clang-format

wip
  examples/2019-Li-snap/bryan.cpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
Due: clang-format

revise rh
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

wip
  examples/2023-jupiter-mwr-eq/juno.cpp
Due: none

wip
  doc/README-fork.md
  src/snap/eos/shallow_water_xy_hydro.cpp
  src/snap/eos/shallow_water_yz_hydro.cpp
  src/snap/riemann/lmars_shallow_water_yz.cpp
  src/snap/riemann/roe_shallow_water_xy.cpp
  src/snap/riemann/roe_shallow_water_yz.cpp
Due: clang-format

wip
  cmake/bryan.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/bryan.cpp
  src/snap/CMakeLists.txt
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format, cmake-format

precommit fix
  .pre-commit-config.yaml
  cmake/compilers.cmake
  examples/2018-Li-harp/test_jupiter_re.cpp
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/harp/add_absorber_giants.cpp
  src/impl.cpp
  src/impl.hpp
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/freedman_simple.cpp
  src/opacity/Giants/hydrogen_cia.hpp
  src/opacity/Giants/xiz_h2h2_cia.cpp
  src/opacity/Giants/xiz_h2he_cia.cpp
  src/opacity/correlatedk_absorber.hpp
  src/opacity/hitran_absorber.hpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format, cmake-format

wip
  src/snap/thermodynamics/equivalent_potential_temperature.hpp
  src/snap/thermodynamics/get_theta_e.hpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/variable.cpp
Due: clang-format

finish
  examples/2019-Li-snap/bryan.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
Due: clang-format

Compile bryan model (#48)
  .pre-commit-config.yaml
  cmake/bryan.cmake
  cmake/compilers.cmake
  doc/README-fork.md
  examples/2018-Li-harp/test_jupiter_re.cpp
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/bryan.cpp
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/harp/add_absorber_giants.cpp
  src/impl.cpp
  src/impl.hpp
  src/opacity/Giants/freedman.hpp
  src/opacity/Giants/freedman_simple.cpp
  src/opacity/Giants/hydrogen_cia.hpp
  src/opacity/Giants/xiz_h2h2_cia.cpp
  src/opacity/Giants/xiz_h2he_cia.cpp
  src/opacity/correlatedk_absorber.hpp
  src/opacity/hitran_absorber.hpp
  src/snap/CMakeLists.txt
  src/snap/eos/shallow_water_xy_hydro.cpp
  src/snap/eos/shallow_water_yz_hydro.cpp
  src/snap/riemann/lmars_shallow_water_yz.cpp
  src/snap/riemann/roe_shallow_water_xy.cpp
  src/snap/riemann/roe_shallow_water_yz.cpp
  src/snap/thermodynamics/equivalent_potential_temperature.hpp
  src/snap/thermodynamics/get_theta_e.hpp
  src/snap/thermodynamics/rk4_integrate_z.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/variable.cpp
Due: clang-format, cmake-format

wip
  src/impl.cpp
  src/inversion/profile_inversion.cpp
  src/opacity/Giants/microwave/mwr_absorber_electron.cpp
  src/variable.cpp
  src/variable.hpp
Due: clang-format

wip
  src/variable.cpp
Due: clang-format

more variable
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/variable.cpp
  tests/test_variable.cpp
Due: clang-format

finish
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/opacity/Giants/microwave/mwr_absorber_electron.cpp
Due: clang-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
