Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

wip
  .gitignore
  cmake/modules/FindNetCDF.cmake
  data/CMakeLists.txt
  external/fetch_netcdf_c.sh
  external/install_netcdf_c.sh
  source_pleiades.sh
Due: cmake-format

use NC_CLASSIC_MODEL to remove dependence on hdf5
  src/outputs/mppnccombine.cpp
  src/outputs/netcdf.cpp
Due: clang-format

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
Due: none

Fix CI by removing upload artifact
  .github/workflows/mac.yml
  .github/workflows/main.yml
Due: none

Check conserved quantities in a test run
  examples/2024-YixiaoZ-geyser/channel_flow.cpp
  examples/2024-YixiaoZ-geyser/channel_flow.inp
  src/exo3/warped_coordinate.cpp
  src/exo3/warped_coordinate.hpp
Due: clang-format

wip
  README
  cmake/examples/ice_h2s.cmake
  cmake/examples/rtcldexo.cmake
  examples/2024-XZhang-cloud-rt/CMakeLists.txt
  examples/2024-XZhang-cloud-rt/ice_h2s.cpp
  examples/2024-XZhang-cloud-rt/jupiter_crm.cpp
  examples/2024-XZhang-cloud-rt/rtcldu3d.cpp
  examples/2024-XZhang-cloud-rt/svp_functions.hpp
  examples/2024-XZhang-minichem/jup_onetra.cpp
  examples/CMakeLists.txt
Due: cmake-format

Enable reading warped coordinate parameters
  examples/2024-YixiaoZ-geyser/channel_flow.inp
  src/exo3/warped_coordinate.cpp
  src/exo3/warped_coordinate.hpp
Due: clang-format

Add an example for geyser
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
Due: none

Check conservation without wall interaction
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
Due: none

Update wall models
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
Due: none

Add wall interaction
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
Due: none

Use non-uniform grid
  examples/2024-YixiaoZ-geyser/geyser_wall.inp
Due: none

wip
  CMakeLists.txt
  cmake/compilers.cmake
  examples/2019-Li-snap/CMakeLists.txt
  examples/2023-Chen-exo3/CMakeLists.txt
Due: cmake-format

wip
  examples/2023-Chen-exo3/hot_jupiter.inp
  examples/2023-Chen-exo3/hs94.inp
Due: none

wip
  CMakeLists.txt
  cmake/pyharp.cmake
  src/CMakeLists.txt
Due: cmake-format

add hywater
  examples/2024-Li-hywater/hywater.inp
Due: none

wip
  CMakeLists.txt
  cmake/kintera.cmake
  cmake/macros/macro_setup_test.cmake
  cmake/pyharp.cmake
  tests/earth-thermo.yaml
  tests/helio_ck.yaml
  tests/jup-thermo.yaml
  tests/test_absorber.cpp
  tests/test_ammonium_hydrosulfide.cpp
  tests/test_ammonium_hydrosulfide.inp
  tests/test_convective_adjustment.cpp
  tests/test_convective_adjustment.inp
  tests/test_cs_velocity_rotation.cpp
  tests/test_earth_thermo.cpp
  tests/test_eos.cpp
  tests/test_helios_ck.inp
  tests/test_helios_ck_read.cpp
  tests/test_hydro.cpp
  tests/test_jup_thermo.cpp
  tests/test_moist_adiabat.cpp
  tests/test_moist_adiabat.inp
  tests/test_nbody.cpp
  tests/test_radiation.cpp
  tests/test_radiation.inp
  tests/test_read_cia_ff.cpp
  tests/test_read_rayleigh.cpp
  tests/test_read_stellar_flux.cpp
  tests/test_read_yaml.cpp
  tests/test_reconstruct.cpp
  tests/test_riemann.cpp
  tests/test_transform.cpp
  tests/test_weno.cpp
Due: clang-format, cmake-format

Fix bug
  examples/2024-YixiaoZ-geyser/geyser_wall.cpp
Due: none

Add an ice shell model
  examples/2024-YixiaoZ-geyser/ice_shell.hpp
  examples/2024-YixiaoZ-geyser/test_ice_shell.cpp
Due: none

revise main cmake
  CMakeLists.txt
  cmake/disort.cmake
  cmake/kintera.cmake
  cmake/modules/FindCantera.cmake
  cmake/modules/FindDisort.cmake
  cmake/modules/FindHarp.cmake
  cmake/modules/FindKintera.cmake
  cmake/modules/FindSnap.cmake
  src/forcing/heating_cooling.cpp
  src/snap/interface/torch.hpp
Due: clang-format, cmake-format

straka compiles
  cmake/macros/macro_setup_problem.cmake
  cmake/parameters.cmake
  configure.h.in
  examples/2019-Li-snap/CMakeLists.txt
  examples/2019-Li-snap/robert.cpp
  examples/2019-Li-snap/straka.cpp
  main.cpp
  src/CMakeLists.txt
  src/snap/riemann/lmars.cpp
  src/snap/thermodynamics/atm_thermodynamics.hpp
Due: clang-format, cmake-format

straka runs, temp wrong
  examples/2019-Li-snap/earth-dry.yaml
  examples/2019-Li-snap/straka.cpp
  examples/2019-Li-snap/straka.inp
Due: none

wip
  examples/2019-Li-snap/straka.cpp
  src/interface/hydro.hpp
Due: clang-format

wip
  examples/2019-Li-snap/robert2d.inp
  examples/2019-Li-snap/robert2d.yaml
  examples/2019-Li-snap/robert3d.inp
  src/snap/eos/eos_helper.hpp
  src/snap/eos/ideal_moist_hydro.cpp
Due: clang-format

robert done
  examples/2019-Li-snap/robert2d.inp
  examples/2019-Li-snap/robert2d.yaml
  src/impl.cpp
Due: clang-format

compiles
  src/impl.cpp
  src/impl.hpp
  src/interface/rad.hpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format

merge exo3
  cmake/examples/rtdry.cmake
  cmake/parameters.cmake
  configure.h.in
  examples/2023-Chen-exo3/CMakeLists.txt
  examples/2023-Chen-exo3/earth-dry.yaml
  examples/2023-Chen-exo3/hot_jupiter.cpp
  examples/2023-Chen-exo3/hot_jupiter.inp
  examples/2023-Chen-exo3/hs94.cpp
  examples/2023-Chen-exo3/hs94.inp
  examples/2023-Chen-exo3/test_adiabat.cpp
  examples/2023-Chen-exo3/test_adiabat.inp
  src/exo3/cs_find_block_id.cpp
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
  src/impl.cpp
  src/snap/riemann/hllc_transform.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

Merge exo3 and add harp (#191)
  cmake/examples/rtdry.cmake
  cmake/parameters.cmake
  configure.h.in
  examples/2023-Chen-exo3/CMakeLists.txt
  examples/2023-Chen-exo3/earth-dry.yaml
  examples/2023-Chen-exo3/hot_jupiter.cpp
  examples/2023-Chen-exo3/hot_jupiter.inp
  examples/2023-Chen-exo3/hs94.cpp
  examples/2023-Chen-exo3/hs94.inp
  examples/2023-Chen-exo3/test_adiabat.cpp
  examples/2023-Chen-exo3/test_adiabat.inp
  src/exo3/cs_find_block_id.cpp
  src/exo3/cs_transform_ox.cpp
  src/exo3/cubed_sphere.cpp
  src/exo3/cubed_sphere.hpp
  src/impl.cpp
  src/impl.hpp
  src/interface/rad.hpp
  src/snap/riemann/hllc_transform.cpp
  src/tasklist/implicit_hydro_tasks.cpp
Due: clang-format, cmake-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
