Repository chengcli/canoe: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cmake-format, black

clang-format:
  name: Fix *.c,*.cc,*.cpp,*.h,*.hpp
  entry: clang-format
  language: system
  args:
  - -i
  - -style=Google

cmake-format:
  name: Fix *.cmake
  entry: cmake-format
  language: system
  args:
  - -i

black:
  name: Fix *.py
  entry: black
  language: system

Fix electron opacity calculation (#49)
  examples/2023-jupiter-mwr-eq/juno.cpp
  src/impl.cpp
  src/inversion/profile_inversion.cpp
  src/opacity/Giants/microwave/mwr_absorber_electron.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/variable.cpp
  src/variable.hpp
  tests/test_variable.cpp
Due: clang-format

init pydisort
  .github/workflows/mac.yml
  .github/workflows/main.yml
  cmake/pydisort.cmake
  examples/2020-Li-polar-vortex/fig_g_intruder.inp
  examples/2020-Li-polar-vortex/intruder_85.txt
  examples/2020-Li-polar-vortex/polar_vortex.cpp
Due: cmake-format

wip
  CMakeLists.txt
  cmake/compilers.cmake
  cmake/disort.cmake
  cmake/pybind11.cmake
  cmake/tomlpp.cmake
  src/harp/CMakeLists.txt
  src/harp/rt_solvers.hpp
Due: clang-format, cmake-format

wip
  src/harp/rt_solver_disort.cpp
  src/utils/communicator.cpp
  src/utils/communicator.hpp
  src/utils/set_color.cpp
Due: clang-format

wip
  src/harp/radiation.hpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solvers.hpp
  src/utils/communicator.cpp
  src/utils/communicator.hpp
  src/utils/find_neighbors.cpp
  src/utils/set_color.cpp
Due: clang-format

wip
  cmake/disort.cmake
  examples/2019-Li-snap/CMakeLists.txt
  src/CMakeLists.txt
  src/harp/CMakeLists.txt
  src/harp/radiation_band.cpp
  src/harp/rt_solver_disort.cpp
  tests/CMakeLists.txt
Due: clang-format, cmake-format

wip
  cmake/parameters.cmake
  configure.hpp.in
  src/CMakeLists.txt
  src/harp/radiation_band.cpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solvers.hpp
Due: clang-format, cmake-format

Add in DISORT RT solver (#50)
  .github/workflows/mac.yml
  .github/workflows/main.yml
  CMakeLists.txt
  cmake/compilers.cmake
  cmake/disort.cmake
  cmake/parameters.cmake
  cmake/pybind11.cmake
  cmake/tomlpp.cmake
  configure.hpp.in
  examples/2019-Li-snap/CMakeLists.txt
  examples/2020-Li-polar-vortex/fig_g_intruder.inp
  examples/2020-Li-polar-vortex/intruder_85.txt
  examples/2020-Li-polar-vortex/polar_vortex.cpp
  src/CMakeLists.txt
  src/harp/CMakeLists.txt
  src/harp/radiation.hpp
  src/harp/radiation_band.cpp
  src/harp/radiation_band.hpp
  src/harp/rt_solver_disort.cpp
  src/harp/rt_solvers.hpp
  src/utils/communicator.cpp
  src/utils/communicator.hpp
  src/utils/find_neighbors.cpp
  tests/CMakeLists.txt
Due: clang-format, cmake-format

upgrade rfm
  README.md
  cmake/rfm.cmake
  tools/CMakeLists.txt
  tools/hitbin.f90
  tools/run_ktable.py.in
Due: cmake-format

Upgrade RFM to v5.20 (#51)
  README.md
  cmake/rfm.cmake
  tools/CMakeLists.txt
  tools/hitbin.f90
  tools/run_ktable.py.in
Due: cmake-format

hitran2012 -> hitran2020
  data/check_data_integrity.sh
  data/checksums.txt
  data/fetch_hitran2020.sh
Due: none

fix rfm cmake
  cmake/rfm.cmake
  tools/run_ktable.py.in
Due: cmake-format

rfm 5.20.2
  cmake/rfm.cmake
  examples/2023-Hu-pydisort/.gitignore
Due: cmake-format

Fix RFM 5.20 issues (#52)
  cmake/rfm.cmake
  data/check_data_integrity.sh
  data/checksums.txt
  data/fetch_hitran2020.sh
  examples/2023-Hu-pydisort/.gitignore
  tools/run_ktable.py.in
Due: cmake-format

add more opacities
  patches/21.implicit_dt.patch
  src/harp/radiation_utils.cpp
  src/harp/radiation_utils.hpp
  src/opacity/fu_waterice_cloud.cpp
  src/opacity/fu_waterliquid_cloud.cpp
  src/opacity/hitran_absorber.cpp
  src/opacity/nitrogen_cia.cpp
  src/opacity/nitrogen_cia.hpp
  src/opacity/oxygen_cia.cpp
  src/opacity/oxygen_cia.hpp
  src/opacity/water_cloud.hpp
  src/tasklist/extra_tasks.hpp
  src/utils/communicator.hpp
  tools/check_style.sh
Due: clang-format

Add more opacities (#53)
  patches/21.implicit_dt.patch
  src/harp/radiation_utils.cpp
  src/harp/radiation_utils.hpp
  src/opacity/fu_waterice_cloud.cpp
  src/opacity/fu_waterliquid_cloud.cpp
  src/opacity/hitran_absorber.cpp
  src/opacity/nitrogen_cia.cpp
  src/opacity/nitrogen_cia.hpp
  src/opacity/oxygen_cia.cpp
  src/opacity/oxygen_cia.hpp
  src/opacity/water_cloud.hpp
  src/tasklist/extra_tasks.hpp
  src/utils/communicator.hpp
  tools/check_style.sh
Due: clang-format

shallow water compiles
  cmake/parameters.cmake
  examples/2020-Li-polar-vortex/CMakeLists.txt
  examples/2020-Li-polar-vortex/fig_g_intruder.inp
  examples/2020-Li-polar-vortex/intruder_85.dat
  examples/2020-Li-polar-vortex/shallow_water.cpp
  examples/2020-Li-polar-vortex/shallow_water.inp
  examples/CMakeLists.txt
  src/snap/CMakeLists.txt
  src/snap/eos/shallow_water_xy_hydro.cpp
  src/snap/riemann/roe_shallow_water_xy.cpp
  src/snap/thermodynamics/thermodynamics.cpp
Due: clang-format, cmake-format

wip
  src/snap/thermodynamics/thermodynamics.cpp
Due: clang-format

add shallow water tests
  cmake/parameters.cmake
  examples/2020-Li-polar-vortex/.gitattributes
  examples/2020-Li-polar-vortex/shallow_water.inp
  examples/2020-Li-polar-vortex/shallow_water_xy.cpp
  examples/2020-Li-polar-vortex/test_shallow_water.py
  examples/2023-Chen-exo3/test_shallow_water.cpp
  src/outputs/netcdf.cpp
Due: clang-format, cmake-format

add sw output
  examples/2020-Li-polar-vortex/swxy_output.nc
Due: none

add sw actions
  .github/workflows/mac.yml
  .github/workflows/main.yml
  cmake/parameters.cmake
  examples/2020-Li-polar-vortex/CMakeLists.txt
  examples/2020-Li-polar-vortex/shallow_xy.cpp
  examples/2020-Li-polar-vortex/test_shallow.py
  examples/CMakeLists.txt
  src/snap/eos/shallow_xy_hydro.cpp
  src/snap/eos/shallow_yz_hydro.cpp
  src/snap/riemann/lmars_shallow_yz.cpp
  src/snap/riemann/roe_shallow_xy.cpp
  src/snap/riemann/roe_shallow_yz.cpp
Due: clang-format, cmake-format

small fix
  .github/workflows/mac.yml
  src/snap/eos/shallow_xy_hydro.cpp
  src/snap/eos/shallow_yz_hydro.cpp
  src/snap/riemann/roe_shallow_xy.cpp
  src/snap/riemann/roe_shallow_yz.cpp
Due: clang-format

pthermo should be valid even though NVAPOR=0
  src/snap/thermodynamics/thermodynamics.cpp
Due: clang-format

wip
  .github/workflows/mac.yml
  .github/workflows/main.yml
Due: none

Add shallow water XY (#54)
  .github/workflows/mac.yml
  .github/workflows/main.yml
  cmake/parameters.cmake
  examples/2020-Li-polar-vortex/.gitattributes
  examples/2020-Li-polar-vortex/CMakeLists.txt
  examples/2020-Li-polar-vortex/fig_g_intruder.inp
  examples/2020-Li-polar-vortex/intruder_85.dat
  examples/2020-Li-polar-vortex/shallow_water.inp
  examples/2020-Li-polar-vortex/shallow_xy.cpp
  examples/2020-Li-polar-vortex/swxy_output.nc
  examples/2020-Li-polar-vortex/test_shallow.py
  examples/2023-Chen-exo3/test_shallow_water.cpp
  examples/CMakeLists.txt
  src/outputs/netcdf.cpp
  src/snap/CMakeLists.txt
  src/snap/eos/shallow_xy_hydro.cpp
  src/snap/eos/shallow_yz_hydro.cpp
  src/snap/riemann/lmars_shallow_yz.cpp
  src/snap/riemann/roe_shallow_xy.cpp
  src/snap/riemann/roe_shallow_yz.cpp
Due: clang-format, cmake-format

add shallow_yz
  .github/workflows/main.yml
  examples/2023-Chen-exo3/CMakeLists.txt
  examples/2023-Chen-exo3/dam_break.cpp
  examples/2023-Chen-exo3/dam_break_cart.inp
  examples/2023-jupiter-mwr-eq/CMakeLists.txt
  examples/CMakeLists.txt
Due: none

Add shallow water YZ (#55)
  .github/workflows/main.yml
  examples/2023-Chen-exo3/CMakeLists.txt
  examples/2023-Chen-exo3/dam_break.cpp
  examples/2023-Chen-exo3/dam_break_cart.inp
  examples/2023-jupiter-mwr-eq/CMakeLists.txt
  examples/CMakeLists.txt
Due: none

wip
  CODEOWNERS
  cmake/dam.cmake
  cmake/parameters.cmake
  configure.hpp.in
  src/CMakeLists.txt
  src/exo3/CMakeLists.txt
  src/exo3/affine_coordinate.cpp
  src/exo3/affine_coordinate.hpp
  src/exo3/cubed_sphere.hpp
  src/exo3/gnomonic_equiangle.hpp
  src/snap/riemann/lmars_shallow_yz.cpp
Due: clang-format, cmake-format

wip
  cmake/athena.cmake
  cmake/parameters.cmake
  patches/23.exo3_coord.patch
  src/exo3/gnomonic_equiangle.hpp
Due: clang-format, cmake-format

finish affine
  .pre-commit-config.yaml
  examples/2023-Chen-exo3/dam_break_cart.inp
  patches/23.exo3_coord.patch
Due: none

Add Affine Coordinate System (#56)
  .pre-commit-config.yaml
  CODEOWNERS
  cmake/athena.cmake
  cmake/dam.cmake
  cmake/parameters.cmake
  configure.hpp.in
  examples/2023-Chen-exo3/dam_break_cart.inp
  patches/23.exo3_coord.patch
  src/CMakeLists.txt
  src/exo3/CMakeLists.txt
  src/exo3/affine_coordinate.cpp
  src/exo3/affine_coordinate.hpp
  src/exo3/cubed_sphere.hpp
  src/exo3/gnomonic_equiangle.hpp
  src/snap/riemann/lmars_shallow_yz.cpp
Due: clang-format, cmake-format

more snap files
  src/snap/diagnostics/angular_momentum.cpp
  src/snap/diagnostics/buoyancy.cpp
  src/snap/diagnostics/curl.cpp
  src/snap/diagnostics/diagnostics.cpp
  src/snap/diagnostics/diagnostics.hpp
  src/snap/diagnostics/divergence.cpp
  src/snap/diagnostics/eddy_flux.cpp
  src/snap/diagnostics/eddy_kinetic_energy.cpp
  src/snap/diagnostics/horizontal_divergence.cpp
  src/snap/diagnostics/hydro_mean.cpp
  src/snap/diagnostics/pressure_anomaly.cpp
  src/snap/diagnostics/radiative_flux.cpp
  src/snap/diagnostics/temperature_anomaly.cpp
  src/snap/diagnostics/tendency.cpp
  src/snap/diagnostics/total_flux.cpp
  src/snap/turbulence/add_turbulence_flux_divergence.cpp
  src/snap/turbulence/k_epsilon_turbulence.cpp
  src/snap/turbulence/turbulence_model.cpp
  src/snap/turbulence/turbulence_model.hpp
  src/snap/turbulence/turbulence_tasks.cpp
Due: clang-format

more snap files
  src/particle/aggregate_density.cpp
  src/particle/attach_particle.cpp
  src/particle/detach_particle.cpp
  src/particle/exchange_hydro.cpp
  src/particle/material_point.cpp
  src/particle/material_point.hpp
  src/particle/particle_buffer.cpp
  src/particle/particle_buffer.hpp
  src/particle/particles.cpp
  src/particle/particles.hpp
  src/particle/particulate.cpp
  src/particle/simple_cloud_particles.cpp
  src/particle/two_phase_cloud_particles.cpp
  src/physics/heating_cooling.cpp
  src/physics/physics.cpp
  src/physics/physics.hpp
  src/physics/qe_moist_convection.f90
  src/physics/register_package.cpp
  src/physics/relax_bot_temperature.cpp
  src/physics/sponge_layer.cpp
Due: clang-format

Upload additional SNAP codes (#57)
  src/particle/aggregate_density.cpp
  src/particle/attach_particle.cpp
  src/particle/detach_particle.cpp
  src/particle/exchange_hydro.cpp
  src/particle/material_point.cpp
  src/particle/material_point.hpp
  src/particle/particle_buffer.cpp
  src/particle/particle_buffer.hpp
  src/particle/particles.cpp
  src/particle/particles.hpp
  src/particle/particulate.cpp
  src/particle/simple_cloud_particles.cpp
  src/particle/two_phase_cloud_particles.cpp
  src/physics/heating_cooling.cpp
  src/physics/physics.cpp
  src/physics/physics.hpp
  src/physics/qe_moist_convection.f90
  src/physics/register_package.cpp
  src/physics/relax_bot_temperature.cpp
  src/physics/sponge_layer.cpp
  src/snap/diagnostics/angular_momentum.cpp
  src/snap/diagnostics/buoyancy.cpp
  src/snap/diagnostics/curl.cpp
  src/snap/diagnostics/diagnostics.cpp
  src/snap/diagnostics/diagnostics.hpp
  src/snap/diagnostics/divergence.cpp
  src/snap/diagnostics/eddy_flux.cpp
  src/snap/diagnostics/eddy_kinetic_energy.cpp
  src/snap/diagnostics/horizontal_divergence.cpp
  src/snap/diagnostics/hydro_mean.cpp
  src/snap/diagnostics/pressure_anomaly.cpp
  src/snap/diagnostics/radiative_flux.cpp
  src/snap/diagnostics/temperature_anomaly.cpp
  src/snap/diagnostics/tendency.cpp
  src/snap/diagnostics/total_flux.cpp
  src/snap/turbulence/add_turbulence_flux_divergence.cpp
  src/snap/turbulence/k_epsilon_turbulence.cpp
  src/snap/turbulence/turbulence_model.cpp
  src/snap/turbulence/turbulence_model.hpp
  src/snap/turbulence/turbulence_tasks.cpp
Due: clang-format

wip
  examples/2023-Chen-exo3/dam_break_cart.inp
  src/snap/thermodynamics/ammonium_hydrosulfide.cpp
Due: clang-format

wip
  src/snap/diagnostics/convective_heat_flx.cpp
  src/snap/diagnostics/latent_heating.cpp
Due: clang-format

wip
  src/snap/thermodynamics/ammonium_hydrosulfide.cpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/saturation_adjustment.cpp
  src/snap/thermodynamics/thermodynamics.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp.cpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_vapor_cloud.cpp
Due: clang-format

wip
  src/climath/root.hpp
  src/snap/thermodynamics/enroll_vapor_functions.cpp
  src/snap/thermodynamics/thermodynamics.hpp
  src/snap/thermodynamics/try_equilibrium_tp_vapor_vapor_cloud.cpp
  src/snap/thermodynamics/vapors/ammonia_vapors.hpp
  src/snap/thermodynamics/vapors/ammonium_hydrosulfide_vapors.hpp
  src/snap/thermodynamics/vapors/hydrogen_sulfide_vapors.hpp
Due: clang-format

Path conditions:
  clang-format: any of: ^(src|python|tools|tests)/.*\.(c|cc|cpp|h|hpp)$
  cmake-format: any of: .*\.cmake$
  black: any of: ^(tests/python)/.*\.(py)$
